<div class="anything-wrap">
  <div class="anything-inner">
    <div class="anything-content" data-pagefind-body>
      <%- item.content %>
      <hr>
      <p>
        Following <%= (item.count === 1) ? "post" : item.count + " posts" %> belong to <strong><%= item.title %></strong> ...
      </p>
      </div>
  </div>
</div>