<div id="archive-filter">
  <em>Filter archive by ...</em>
  <div id="archive-filter-wrapper" data-pagefind-ignore>
    <div class="archive-filter-list archive-filter-list-months">
      <h2>Date</h2>
      <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
    </div>
    <div class="archive-filter-list archive-filter-list-categories">
      <h2>Category</h2>
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
    <div class="archive-filter-list archive-filter-list-tags">
      <h2>Tag</h2>
      <%- list_tags({show_count: theme.show_count, amount: 0}) %>
    </div>
  </div>
</div>