
  <% var last; %>

  <% page.posts.sort('updated', -1).each(function(post, i){ %>
    <% var year = post.updated.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archive-articles">
        <a class="archive-year" href="<%- url_for(config.archive_dir + '/' + year) %>"><%= year %></a>
        <div class="panels archives" data-pagefind-ignore>
    <% } %>
    <%- partial('archive-post', { post: post, show_link: true, even: i % 2 == 0 }) %>
  <% }) %>
  <% if (page.posts.length){ %>
        </div>
      </section>
  <% } %>

  <%- partial('pagination') %>