<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div class="inner">
        <div id="footer-info">
          &copy; <%= date(new Date(), 'YYYY') %> <a href="https://github.com/kristofzerbe"><%= config.author || config.title %></a><br>
          <%= __('powered_by') %> <a href="https://hexo.io/" target="_blank">Hexo</a> & <a href="https://github.com/" target="_blank">GitHub</a>
          <ul id="footer-dots">
            <li><a href="https://search.google.com/search-console?resource_id=sc-domain%3Akiko.io" target="_blank" title="SearchConsole"></a></li>
          </ul>          
        </div>
    </div>
  </div>
</footer>