<nav id="mobile-nav">
  <div id="mobile-nav-header">
    <img class="avatar" src="/images/kristof-zerbe.png">
    <h1>kiko.io</h1>
    <p>by <span>Kristof Zerbe</span></p>
  </div>
  <% for (var i in theme.nav_main_mobile){ %>
    <a href="<%- url_for(theme.nav_main_mobile[i]) %>" 
       id="nav-<%= i%>-link" 
       class="mobile-nav-link"><%= __(i) %></a>
  <% } %>
</nav>