<nav class="page-nav-index">
  <a href="/archives" class="<%= (["archives","categories","tags"].filter(p => page.path.startsWith(p)).length > 0) ? "current" : "" %>">Archives</a>
  <a href="/series" class="<%= (page.path.startsWith("series")) ? "current" : "" %>">Series</a>
</nav>