<% let iconDir = process.cwd() + '/static/images/icons/' %>
<nav class="page-index">
  <% switch (page.name) {
    case "stats": %>
      <a href="/stats" class="current <%= currentClass %>"><%- include(iconDir + "black-diamond.svg") %></a>
      <a href="/stats/links">Links</a>
      <% break;
    case "stats-links": %>
      <a href="/stats">Stats</a>
      <a href="/stats/links" class="current <%= currentClass %>"><%- include(iconDir + "black-diamond.svg") %></a>
      <% break;
  } %>
</nav>