<nav class="page-nav-index">
<% if (["archives","categories","tags"].filter(p => page.path.startsWith(p)).length > 0) { %>
  <a href="/archives" class="current">&#10022;</a>
  <a href="/series">Series</a>
<% } else if (page.path.startsWith("series")) { %>
  <a href="/archives">Archives</a>
  <a href="/series" class="current">&#10022;</a>
<% } %>
</nav>
