<nav class="page-nav-index">
  <a href="/photos" class="<%= (page.name === "photos") ? "current" : "" %>">Collection</a>
  <a href="/photos/map" class="<%= (page.name === "photos-map") ? "current" : "" %>">Map</a>
</nav>