<% if (page.total > 1) { %>
  <nav class="pagination">
    <% 
      var prev_text = "< " + __('prev');
      var next_text = __('next') + " >"
    %>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text
    }) %>
  </nav>
<% } %>
