<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>

  <div class="widget widget-wrap">
    <p>
      Want more? This way ... to the <a href="/archives">archives</a>
    </p>
  </div>  
</aside>