<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>

  <div class="widget widget-wrap">
    <p>
      More <a href="/archives">articles</a> and <a href="/notes">notes</a> ...
    </p>
  </div>  
</aside>