.DS_Store
Thumbs.db
db.json
*.log
.deploy*/
.frontmatter/
.history
.markor/
.vscode/
~temp
docs/
node_modules/
XXX/
HexoCommand*
photos_original/
*.rest
'--'/
data/21.16*/
_OLD_*
photos_new/
!photos_new/placeholder
static/images/brands/not-in-use/