# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/
meta_generator: Hexo 7.2.0

# Development
features_available:
  blogroll: true
  trello: true

# Site
title: kiko.io
designation: kiko.io's {TITLE}
subtitle: Memorable (Tech) Stuff
description: Blog about memorable (tech) stuff by Kristof Zerbe
description_short: by Kristof Zerbe
language: en
timezone: Europe/Berlin
hero:
  file: $19-05-Israel-0228.jpg
  name: Sea Wall
  url: /images/hero.jpg
favicon: favicon.ico
icon: /images/icon-192x192.png
keywords: 
author: Kristof Zerbe
photo: /images/kristof-zerbe-200-crop.png
avatar: /images/kiko-reverentgeek-200-straight.png
email: mail@kristofz.me
profiles:
  mastodon: https://indieweb.social/@kiko
  github: https://github.com/kristofzerbe
  devto: https://dev.to/kristofzerbe
  xing: https://www.xing.com/profile/Kristof_Zerbe
  linkedin: https://www.linkedin.com/in/kristof-zerbe-91012510/
  fivehundredpx: https://500px.com/p/kikon
  flickr: https://flickr.com/photos/kzerbe/
  unsplash: https://unsplash.com/de/@kristofz
  pixelfed: https://pixelfed.social/kristofz
  lemmy: https://programming.dev/u/kiko
  vernissage: https://vernissage.photos/@kiko
  peertube: https://clip.place/a/kiko
mastodon:
  server: indieweb.social
  user: kiko
syndication_hosts: # on extension see article.styl AND and page.styl '.syndication-link'
  - name: GitHub
    webmention: true
  - name: Mastodon
    webmention: true
  - name: IndieNews
    webmention: false
  - name: DevTo
    webmention: false
  - name: 500px
    webmention: false
  - name: Flickr
    webmention: true
  - name: Pixelfed
    webmention: false
  - name: Unsplash
    webmention: false
  - name: Lemmy
    webmention: false
  - name: Vernissage
    webmention: false
  - name: Peertube
    webmention: false

# Services
#osm_tile_layer: https://tile.openstreetmap.org/{z}/{x}/{y}.png
osm_tile_layer: https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png
favicon_service_url: https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url={URL}&size=32
api_proxy_base_url: https://mentions-united-api-proxy.up.railway.app
#DEBUG api_proxy_base_url: http://localhost:8692

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://kiko.io
root: /
#OLD: permalink: categories/:category/:title/
permalink: post/:name/ # take name only; title includes source-subfolders
permalink_defaults:

# Directory
source_dir: source
static_dir: static
photo_dir: photos
pool_dir: pool
shed_dir: shed
reserve_dir: reserve
public_dir: docs
archive_dir: archives
tag_dir: archives/tags
category_dir: archives/categories
code_dir: downloads/code
notes_dir: notes
data_dir: data
template_dir: templates

i18n_dir: :lang
skip_render:

# Writing
new_post_name: :year/:title.md # Folder and file name of new posts
default_layout: draft
titlecase: false # Transform title into titlecase
filename_case: 0
render_drafts: false
post_asset_folder: true

# Markdown Renderer
# https://github.com/hexojs/hexo-renderer-marked?tab=readme-ov-file
marked: 
  prependRoot: true # Prepend config.root to internal images
  postAsset: true # Resolve post asset's image path to relative path
  descriptionLists: false # Support for description lists syntax
  autolink: false # Autolink for URLs and mail adresses, BUT doesn't work for Fediverse adresses!
  mangle: false # Obscure email address
relative_link: false
future: false

syntax_highlighter: highlight.js
highlight:
  auto_detect: false
  line_threshold: 0
  tab_replace: ''
  line_number: false
  wrap: false
prismjs:
  preprocess: true
  line_number: true
  line_threshold: 0
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 8
  order_by: -date

archive_generator:
  enabled: true
  per_page: 12
  yearly: true
  monthly: true
  daily: false
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: 'date'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 24
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: landscape

# Include/Exclude files/folders in source folder
#include:
#exclude:

# Ignore files/folders in all folders
#ignore:

# Stylus https://github.com/hexojs/hexo-renderer-stylus
stylus:
  compress: true
  # sourcemaps:
  #   comment: true
  #   inline: true
  #   sourceRoot: ''
  #   basePath: .
  #plugins: 'nib'

# ../generator-css-bundle
css_bundle:
  target: main
  files_in_order:
    - defaults
    - fonts
    - reset
    - downpopup
    - pagefind
    - lc-select
    - auto-card-link
    - spotlight

# Deployment - NOT NECESSARY AND USEFUL
# deploy:
#   type: git
#   repo: https://github.com/kristofzerbe/kiko.io.git
#   branch: master

# BrowserSync : https://github.com/hexojs/hexo-browsersync
browsersync:
  logLevel: "warn"
  ghostMode:
    scroll: true
  instanceName: "kiko_io"

# Alias : https://github.com/hexojs/hexo-generator-alias
alias:
  tags/index.html: archives/index.html
  archives/tags/index.html: archives/index.html
  categories/index.html: archives/index.html
  archives/categories/index.html: archives/index.html
  tools/index.html: tools/tiny-tools/index.html

# Anything : https://github.com/kristofzerbe/hexo-generator-anything
# Default Layout: anything-posts
anything:
  defaults:
    layout:
      main: anything-main
      posts: anything-posts
  index_mappings:
    - variable: project
      path: projects
      layout:
        posts: anything-posts-project
    - variable: series
      path: series
      layout:
        posts: anything-posts-series
    - variable: misc
      skip_main: true
      layout:
        posts: anything-posts-misc

# Slash Index Page (in order of appearance)
slashes:
  - folder: _dynamic
    items:
      - search
      - feeds
      - about
      - _contact
      - _sitemap
      - blogroll
  - folder: uses
  - folder: _anything/misc
    items:
      - defaults
      - colophon

# Feed: WAS! https://github.com/sergeyzwezdin/hexo-feed
# uninstalled in favor of custom feed generators
feed:
  # default: atom.xml
  limit: 20
  icon: images/favicon-32x32.png
  logo: images/icon-72x72.png
  opml_template: feeds-opml.handlebars
  opml_path: .well-known/feeds
  feed_types:
  - template: feed-atom-full.ejs
    title: Atom Feed (Full Content)
    description: Last :limit posts as Atom feed
    version: ATOM1
    content: application/atom+xml
    output: atom.xml
    generator: true
    alternate_link: true
  - template: feed-atom-excerpt.ejs
    title: Atom Feed (Excerpt)
    description: Last :limit posts with excerpt only as Atom feed
    version: ATOM1
    content: application/atom+xml
    output: atom-excerpt.xml
    generator: true
    alternate_link: false
  - template: feed-rss-full.ejs
    title: RSS Feed (Full Content)
    description: Last :limit posts as RSS feed
    version: RSS2
    content: application/rss+xml
    output: rss.xml
    generator: true
    alternate_link: true
  - template: feed-rss-excerpt.ejs
    title: RSS Feed (Excerpt)
    description: Last :limit posts with excerpt only as RSS feed
    version: RSS2
    content: application/rss+xml
    output: rss-excerpt.xml
    generator: true
    alternate_link: false
  - template: feed-json-full.ejs
    title: JSON Feed (Full Content)
    description: Last :limit posts as JSON feed
    version: JSON1
    content: application/feed+json
    output: feed.json
    generator: true
    alternate_link: true
  - template: feed-json-excerpt.ejs
    title: JSON Feed (Excerpt)
    description: Last :limit posts with excerpt only as JSON feed
    version: JSON1
    content: application/feed+json
    output: feed-excerpt.json
    generator: true
    alternate_link: false
  - template: feed-html-excerpt.handlebars
    title: HTML Microformats Feed (Excerpt)
    description: Last :limit arcticles with excerpt only as HTML Microformats feed
    version: MF2HTML
    content: application/mf2+html
    output: feeds/index.html
    generator: false
    alternate_link: true

# Search (OpenSearch)
search: 
  path: search
  url_parameter: q
  opensearch_template: opensearch.handlebars
  opensearch_path: opensearch.xml

# Sitemap: WAS! https://github.com/hexojs/hexo-generator-sitemap
sitemap:
  path: sitemap.xml
  template: sitemap.handlebars

# Codepen Defaults
codepen:
  user_id: "kristofzerbe"
  default_tab: "js"
  height: 400
  width: "100%"

# Indiepen Defaults
indiepen:
  default_tab: "result"
  height: 450

# webmention.io
webmention:
  api_key: K0b-wdw81R-vDTfvXjdW0g #not necessary to secure, because mentions on webmention.io are public

# Blogroll
blogroll:
  data_file: "21.13 Blogroll.md"
  opml_template: blogroll-opml.handlebars
  opml_path: blogroll.xml

# Tiny Tools
tiny_tools:
  data_folder: "21.14 Tiny Tools"

# Discoveries
discoveries:
  data_folder: "21.16 Discoveries"
  template: discoveries.handlebars

# Outdating Posts
outdates:
  - default: 1y
    categories:
      - Misc
  - default: 18m
    categories:
      - Collection
  - default: 2y
    categories:
      - Coding
      - Tools
      - UI/UX
      
# Info API ... ERRORS
# hexo_info_api:
#   allowOrigin: "*" # Set to "*" to allow all origins (Access-Control-Allow-Origin)
#   enable: # enable what api u need
#   - getInfo
#   - getPostCount
#   - getPosts
#   - getPostsByCategory
#   - getPostsByCategoryId
#   - getPostsByTag
#   - getPostsByTagId
#   - getPostByPath
#   - getPostById
#   - getCategories
#   - getTags
#   - getLatestPost
#   - getLatest5Posts
#   # Disable default api(host:port/api/) default: false
#   disable_default_api: false 
