/* RESET */
html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    padding: 15px;
}
:root {
    --color-border: hsl(0 0% 90%);
    --color-border-hover: hsl(0 60% 60%);
    --gap: 20px;
    --gap-half: calc(var(--gap) / 2);
    --gap-half-negative: calc(var(--gap-half) * -1)
}
.wrapper {
    /* LAYOUT STYLES */
    width: max-content;
    margin-top: var(--gap-half-negative);
    padding: 0;

    /* COLUMN STYLES*/
    column-count: 3;
    column-gap: 0;
}
.item {
    /* BASIC STYLES */
    background-color: transparent;

    /* LAYOUT STYLES */
    width: auto; 
    margin: var(--gap-half-negative) 0 0;
    padding: var(--gap) var(--gap-half) var(--gap-half);

    /* COLUMN STYLES */
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}
.item:first-child {
    margin-top: 0;
}
.item-inner {
    /* BASIC STYLES */
    background-color: #fffaf5;
    border: 1px var(--color-border) solid;
    box-shadow: 1px 2px var(--gap-half) 5px var(--color-border);
    transition: all ease-out 0.3s;

    /* LAYOUT STYLES */
    width: 200px;
    padding: 15px;
    overflow: hidden;
}

.item-inner:hover {
    border-color: hsl(0 60% 60%);
    box-shadow: 1px 2px var(--gap-half) 5px hsl(0deg 60% 60%);
}
.item img {
    background-color: #e7dcce;
    position: relative;
    float: right;
    width: 50px;
}
