<div class="h-card p-author" style="display:none">
  <img class="u-photo" src="<%- config.avatar %>" alt="<%- config.author %>" />
  <a class="p-name u-url" href="<%- config.url %>" rel="author"><%- config.author %></a>
</div>
