<div class="auto-card-link-container">
  <a class="auto-card-link-card" href="https://kiko.io/post/<%= post.slug %>/">
    <div class="auto-card-link-main">
      <div class="auto-card-link-title"><%= post.title %></div>
      <div class="auto-card-link-description"><%= post.description %></div>
      <div class="auto-card-link-host">
        <img class="auto-card-link-favicon no-zoom" src="https://kiko.io/favicon.ico" />
        <span>kiko.io</span>
      </div>
    </div>
    <div class="auto-card-link-thumbnail" 
         style="background-image: url(https://kiko.io/images/social-media/<%= post.slug %>.jpg)"></div>
  </a>
</div>