<div class="cardlink-container">
  <a class="cardlink-card" href="/post/<%= post.slug %>/">
    <div class="cardlink-main">
      <div class="cardlink-title"><%= post.title %></div>
      <div class="cardlink-description"><%= post.description %></div>
      <div class="cardlink-host">
        <img class="cardlink-favicon no-zoom" src="/favicon.ico" />
        <span>kiko.io</span>
      </div>
    </div>
    <div class="cardlink-thumbnail" 
         style="background-image: url(/images/social-media/<%= post.slug %>.jpg)"></div>
  </a>
</div>