<div class="article-comments">
  <h2>Comments</h2>
  <div id="comment-placeholder"></div>
  <script>
    window.addEventListener('load', function () {
      insertUtterancesCommentBlock();
    })    
  </script>
</div>