<% 
let infoText;
if (post.hidden) {
  infoText = "This is a hidden post. You're lucky to have the URL ...";
  if (post.isLocale) {
    infoText = `... zurück zum <a href="${url_for(post.path).replace("/de", "")}"> englischen Originalbeitrag</a>`;
  }
} else {
  if (post.hasLocale) { 
    infoText = `This post is also available in <a href="${url_for(post.path) + 'de'}">German</a> ...`; 
  }
}
%>
<% if (infoText) { %>
  <small class="top-info"><span><%- infoText %></span></small>
<% } %>
