<% if (post.photograph){ %>
    <a href="<%- url_for(post.path) %>">
        <img class="<%= class_name %>" src="/photos/tablet/<%= post.photograph.file %>" alt="<%= post.photograph.name %>" />
    </a>
<% } %>