<%# console.log('site', JSON.stringify(site.indexes, null, '\t')) %>

<% if (post.series){ %>
    <p class="<%= class_name %>" itemprop="name">
        <%= post.series %>, Part <%= post.part %>
    </p>
<% } %>