<%# console.log('site', JSON.stringify(site.indexes, null, '\t')) %>

<% if (post.series){ %>
    <a class="<%= class_name %>" itemprop="name" href="<%- url_for('series/' + slugify(post.series)) %>"><%= post.series %></a>
<% } %>