<% if (post.syndication && post.syndication.length){ %>
  <div class="<%= class_name %>">
    <span>Syndicated at</span> 
    <% post.syndication.forEach(function(syn){ %>
        <a class="syndication-link fab fa-<%- syn.host.toLowerCase() %>" 
           href="<%- syn.url %>" target="_blank"></a>
    <% }); %>
  </div>
<% } %>