<% if (post.syndication && post.syndication.length){ %>
  <%
    let syn = Object.values(post.syndication).some(s => s !== null && s.url !== null);
  %>
  <% if (syn === true) { %>
    <div class="<%= class_name %>">
      <% post.syndication.forEach(function(syn){ %>
          <a class="syndication-link u-syndication fab fa-<%- syn.host.toLowerCase() %>" 
            href="<%- syn.url %>" title="<%- syn.host %>" rel="syndication" target="_blank"></a>
      <% }); %>
    </div>
  <% } %>
<% } %>