<div class="article-webmentions">

  <h2>Webmentions</h2>

  <div class="webmentions-placeholder">
    <p class="wm-placeholder">No Webmentions yet...</p>
  </div>
  
  <p class="webmention-form-info">
    In case your blog software can't send Webmentions, 
    you can use this form to submit me a mention of this article...
  </p>
  
  <form class="webmention-form" action="https://webmention.io/<%- config.title %>>/webmention" 
        name="webmention-form" method="post">
    <label for="webmention-form-source">Your Article URL:</label><br>
    <input class="webmention-form-source" type="url" name="source" 
           placeholder="https://your-blog.com/your-article" required="">
    <input type="hidden" name="target" value="<%- post.permalink %>">
    <input type="submit" value="Send Webmention">
  </form>
  
  <script>
    window.addEventListener('load', function () {
      insertWebmentions('<%- post.slug.toLowerCase() %>');
    });
  </script>

  <% if (post.alias){ %>
    <input type="hidden" name="alias" value="<%- config.url + post.alias.replace('index.html', '') %>">
  <% } %>

</div>