/* RESET */
html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    padding: 15px;
}
:root {
    --color-border: hsl(0 0% 90%);
    --color-border-hover: hsl(0 60% 60%);
    --gap: 20px;
    --gap-half: calc(var(--gap) / 2);
}
.wrapper {
    /* LAYOUT STYLES */
    width: max-content;
    margin: 0;
    padding: var(--gap-half);

    /* COLUMN STYLES*/
    column-count: 3;
    column-gap: var(--gap);
}
.item {
    /* BASIC STYLES */
    background-color: #fffaf5;
    border: 1px var(--color-border) solid;
    box-shadow: 1px 2px var(--gap-half) 5px var(--color-border);
    transition: all ease-out 0.3s;

    /* LAYOUT STYLES */
    width: 200px;
    margin-bottom: var(--gap);
    padding: 15px;
    overflow: auto;

    /* COLUMN STYLES */
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}
.item:hover {
    border-color: var(--color-border-hover);
    box-shadow: 1px 2px var(--gap-half) 5px var(--color-border-hover);
}
.item img {
    background-color: #e7dcce;
    position: relative;
    float: right;
    width: 50px;
}