<template id="contact-dialog">
  <div class="contact-content">
    <div class="contact-card">
      <div class="contact-face face-front">
        <div class="contact-face-wrapper">
          <img class="photo" src="<%- config.photo %>" alt="<%- config.author %>">
          <div class="header">
            <h3><%- config.author %></h3>
            <h4>Developer & Team Lead</h4>
            <p>Wiesbaden, Germany</p>
            <p class="download">
              <label>Save my contact by<br>downloading my</label>
              <a href="/kristof-zerbe.vcf" download="kristof-zerbe.vcf" class="fa-icon-download">vCard</a>  
            </p>
          </div>
          <hr class="divider">
          <div class="info">
            <p>
              <label>Mail me at</label>
              <a href="mailto:kristof.zerbe@gmail.com" class="fa-icon-mail">kristof.zerbe@gmail.com</a>    
            </p>
            <p>
              <label>Follow me on</label>
              <a href="https://indieweb.social/@kiko" class="fa-icon-mastodon">@kiko@indieweb.social</a>  
            </p>
          </div>
        </div>
        <div class="contact-face-flip">flip for qrcode</div>
      </div>
      <div class="contact-face face-back">
        <div class="contact-face-wrapper">
          <div class="header">
            <h3><%- config.author %></h3>
            <h4>kiko.io/#contact</h4>
          </div>
          <div id="contact-qrcode" class="qrcode"></div>
        </div>
        <div class="contact-face-flip">flip for card</div>
      </div>
    </div>
  </div>
</template>