<template id="mastodon-share-dialog">
  <div class="mastodon-share-content">
    <section>
      <p id="mastodon-share-intro">
        <img src="/images/mastodon.svg" alt="Mastodon">
        There are many Mastodon instances out there. 
        Tell me yours and I will redirect you to the share dialog of your server:
      </p>
      <label for="mastodon-instance">Your Mastodon Instance</label>
      <div id="mastodon-instance-wrapper">
        <span>https://</span>
        <input id="mastodon-instance" name="intance" required />
      </div>
      <label for="mastodon-text">Text to share ... <span id="mastodon-text-count"></span></label>
      <textarea id="mastodon-text" name="text" rows="8"></textarea>
      <button id="mastodon-share">Share</button>
    </section>
  </div>
</template>