// addional styles for downupPopup for specific dialogs

.contact-content
  width: 100%
  height: 100%
  padding-bottom: var(--space-moderate)
  perspective: 600px
  display: grid
  background-color: transparent

  .contact-card
    width: 100%
    height: 100%
    transition: transform 1s
    transform-style: preserve-3d
    cursor: pointer
    position: relative
    transform-origin: center right
    &.is-flipped
      transform :translateX(-100%) rotateY(-180deg)

    .contact-face
      position: absolute
      width: 100%
      height: 100%
      backface-visibility: hidden
      padding-top: @css{ max(30px, 3%) }
      padding-right: 5%
      padding-bottom: @css{ max(80px, 3%) }
      padding-left: 5%
      box-sizing: border-box
      overflow: hidden
      background: rgba(255,255,255,0.9)
      /[data-theme="dark"] &
        background: rgba(51,51,51,0.9)
      .contact-face-wrapper
        margin: 0 auto
        width: fit-content
      &.face-front
        padding-left: 0%
        @media screen and (max-width: 700px)
          padding-left: 5%
        .contact-face-wrapper
          display: grid
          grid-template-columns: auto 1fr
          grid-template-rows: max-content auto 1fr
          grid-template-areas: "photo header" "photo divider" "photo info"
          @media screen and (max-width: 700px)
            grid-template-areas: "photo header" "divider divider" "info info"
          grid-gap: 3% 3vw
        .contact-face-flip
          margin-left: 0
          @media screen and (max-width: 700px)
            margin-left: -5%
        .photo
          grid-area: photo
          margin: unset
          width: clamp(80px, 15vw, 120px)
          border-radius: 50%
          background: radial-gradient(circle, #bbb 10%, #fff 100%)
          /[data-theme="dark"] &
            background: radial-gradient(circle, #fff 10%, #111 100%)
        .header
          grid-area: header
          p
            padding-top: 1rem
        hr
          &.divider
            grid-area: divider
            margin: 1rem
        .info
          grid-area: info
        a.contact-link
          background-size: 14px
          background-repeat: no-repeat 
          background-position: 0
          padding-inline-start: 20px
          margin-inline-start: 6px
          &.download
            background-image: url(/images/icons/download.svg)
            background-position: 2px 8px
          &.mail
            background-image: url(/images/icons/mail.svg)
          &.mastodon
            background-image: var(--brand-mastodon)
          &.signal
            background-image: var(--brand-signal)
        label
          font-weight: 200
        p
          white-space: nowrap
          line-height: var(--line-height-normal)
          padding: 2% 0
        a
          display: inline-block
          color: inherit
          padding: 4px 6px
          font-size: var(--font-size-medium)
          &:before
            margin-right: 6px
      &.face-back
        #contact-qrcode
          margin-top: 2rem
      .contact-face-flip
        background-color: rgba(237, 232, 220, 0.42)
        color: rgb(114, 98, 59)
        position: absolute
        bottom: -80px
        box-sizing: border-box
        border-radius: 100% 100% 0 0
        width: 100%
        height: 150px
        padding-top: 30px
        font-size: var(--font-size-small)
        text-align: center
        text-transform: uppercase
        letter-spacing: 4px
        margin-left: -5%
        /[data-theme="dark"] &
          background-color: rgba(79, 73, 62, 0.42)
          color: rgb(113, 105, 92)
      h3
        font-size: clamp(1.25rem, 3vw, 1.75rem)
        font-weight: 600
      h4
        font-size: clamp(1.1rem, 3vw, 1.5rem)
        font-weight: 100
        line-height: var(--line-height-subtitle);
      &.face-back
        transform: rotateY(180deg)
        hr
          &.divider
            margin: 10%
        img
          &.qrcode
            border-radius: 14px
            /[data-theme="dark"] &
              background-color: #ddd

.mastodon-share-content
  #mastodon-share-intro
    display: flex
    padding: var(--space-small) 0 var(--space-medium) 0
    align-items: flex-start
    img 
      width: 32px
      margin-right: var(--space-medium)
      margin-top: var(--space-thin)
  #mastodon-instance-wrapper
    position: relative
    #mastodon-instance
      padding-left: 3.8rem
    span
      font-family: var(--font-default)
      opacity: 0.5
      position absolute
      top: 11px
      left: 10px
  #mastodon-share
    width: 100%
    margin-top: 8px
