$block
  border-radius: 3px
  background: color-block
  box-shadow: 1px 2px 3px color-border
  border: 1px solid color-border
  @media prefers-dark
    background: dark-color-block
    box-shadow: 1px 2px 3px dark-color-border
    border-color: dark-color-border

$block-caption
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 2px
  margin-bottom: 1em
  margin-left: 5px
  line-height: 1em
  font-weight: bold
  color: color-header
  @media prefers-dark
    color: dark-color-header

$base-style
  h1
    font-size: 2em
  h2
    font-size: 1.5em
  h3
    font-size: 1.3em
  h4
    font-size: 1.2em
  h5
    font-size: 1em
  h6
    font-size: 1em
    color: color-grey
  hr
    border: 1px dashed color-border-article
    @media prefers-dark
      border: 1px dashed dark-color-border-article
  strong
    font-weight: bold
  em, cite
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
  ul, ol, dl
    margin: 0 20px
    line-height: line-height
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: bold