$block
  border-radius: 2px

$block-caption
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 2px
  margin-bottom: 1em
  margin-left: 5px
  line-height: 1em
  font-weight: 600

$base-style
  h1
    font-size: 2em
  h2
    font-size: 1.7em
  h3
    font-size: 1.5em
  h4
    font-size: 1.3em
  h5
    font-size: 1.1em
  h6
    font-size: 1em
    color: color-grey
  hr /* TODO */
    border: 1px dashed color-border-article
    /[data-theme="dark"] &
      border: 1px dashed dark-color-border-article
  strong
    font-weight: 600
  em, cite
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
  ul, ol, dl
    margin: 0 20px
    line-height: line-height
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: 600