$block
  border-radius: border-radius-small

$block-inner
  @extend $block
  border-radius: border-radius
  background: color-block
  box-shadow: box-shadow color-border
  /[data-theme="dark"] &
    background: dark-color-block
    box-shadow: dark-box-shadow dark-color-border

$block-caption
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: font-weight-bold

$base-style
  h1
    font-size: 2rem
    line-height: 2rem
  h2
    font-size: 1.7rem
    line-height: 1.7rem
  h3
    font-size: 1.3rem
  h4
    font-size: 1.3rem
  h5
    font-size: 1.1rem
  h6
    font-size: 1rem
    color: color-grey
  hr
    display: block
    border: 0px
    height: 24px
    background-image: url('/images/divider.png')
    background-repeat: no-repeat
    background-position: center
    margin: 24px 0
    opacity: 0.1
    clear: both
    /[data-theme="dark"] &
      opacity: 0.5
  strong
    font-weight: font-weight-bolder
  em, cite
    font-style: italic
  sup, sub
    font-size: font-size-small
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5rem
  sub
    bottom: -0.2rem
  small
    font-size: font-size-small
  acronym, abbr
    border-bottom: 1px dotted
  ul, ol, dl
    margin: 0 20px
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: font-weight-bold
  fieldset
    position: relative

$title
  position: relative
  display: inline-block
  margin: 2.5rem 0 default-padding-vert
  font-size: font-pagetitle-size
  font-weight: font-weight-bold
  line-height: line-height-title
  text-transform: uppercase
  color: color-default
  /[data-theme="dark"] &
    color: dark-color-default
  span
    font-weight: font-weight-normal
    text-transform: uppercase
    b 
      padding: 0 (default-padding / 5)
      text-transform: none
      font-weight: font-weight-normal
      opacity: 0.33

$neutral-anchor
  color: inherit !important
  border-bottom: none !important
  text-decoration-line: underline !important
  text-decoration-style: dotted !important
  text-decoration-color: color-border-3d !important
  /[data-theme="dark"] &
    text-decoration-color: dark-color-border-3d !important
  &:hover
    text-decoration-style: solid !important
    text-decoration-color: inherit !important

$inview-image
  @media (prefers-reduced-motion: no-preference)
    transform: scale(1)
    transform-style: preserve-3d
    transition: all ease-out .6s  
    opacity: 0.6
    filter: filter-gray
    /[data-theme="dark"] &
      opacity: 0.8
      filter: dark-filter-gray

$inview-image-visible
  @media (prefers-reduced-motion: no-preference)
    transform: scale(1.025)
    opacity: 1
    filter: grayscale(0) contrast(1)
    /[data-theme="dark"] &
      opacity: 1
      filter: grayscale(0) contrast(1) brightness(0.75)

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}