@font-face
  font-family: fa-icon-brands
  font-style: normal
  font-weight: normal
  src: url(font-path + "/fontawesome/fa-brands-400.eot")
  src: url(font-path + "/fontawesome/fa-brands-400.eot?#iefix") format("embedded-opentype"),
    	 url(font-path + "/fontawesome/fa-brands-400.woff2") format("woff2"),
       url(font-path + "/fontawesome/fa-brands-400.woff") format("woff"),
       url(font-path + "/fontawesome/fa-brands-400.ttf") format("truetype"),
       url(font-path + "/fontawesome/fa-brands-400.svg#fontawesome") format("svg")

.fab
  font-family: fa-icon-brands

@font-face
  font-family: fa-icon-solid
  font-style: normal
  font-weight: 900
  src: url(font-path + "/fontawesome/fa-solid-900.eot")
  src: url(font-path + "/fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    	 url(font-path + "/fontawesome/fa-solid-900.woff2") format("woff2"),
       url(font-path + "/fontawesome/fa-solid-900.woff") format("woff"),
       url(font-path + "/fontawesome/fa-solid-900.ttf") format("truetype"),
       url(font-path + "/fontawesome/fa-solid-900.svg#fontawesome") format("svg")

.fa, .fas
  font-family: fa-icon-solid
  font-weight: 900

@font-face
  font-family: fa-icon-regular
  font-style: normal
  font-weight: 400
  src: url(font-path + "/fontawesome/fa-regular-400.eot")
  src: url(font-path + "/fontawesome/fa-regular-400.eot?#iefix") format("embedded-opentype"),
    	 url(font-path + "/fontawesome/fa-regular-400.woff2") format("woff2"),
       url(font-path + "/fontawesome/fa-regular-400.woff") format("woff"),
       url(font-path + "/fontawesome/fa-regular-400.ttf") format("truetype"),
       url(font-path + "/fontawesome/fa-regular-400.svg#fontawesome") format("svg")

.far
  font-family: fa-icon-regular
  font-weight: 400
  
