@font-face
  font-family: fa-icon-brands
  font-style: normal
  font-weight: 400
  font-display: block
  src: url(font-path + "/fontawesome/fa-brands-400.woff2") format("woff2"),
       url(font-path + "/fontawesome/fa-brands-400.ttf") format("truetype")

.fab
  font-family: fa-icon-brands

@font-face
  font-family: fa-icon-solid
  font-style: normal
  font-weight: 900
  font-display: block
  src: url(font-path + "/fontawesome/fa-solid-900.woff2") format("woff2"),
       url(font-path + "/fontawesome/fa-solid-900.ttf") format("truetype")

.fa, .fas
  font-family: fa-icon-solid
  font-weight: 900

@font-face
  font-family: fa-icon-regular
  font-style: normal
  font-weight: 400
  font-display: block
  src: url(font-path + "/fontawesome/fa-regular-400.woff2") format("woff2"),
       url(font-path + "/fontawesome/fa-regular-400.ttf") format("truetype")

.far
  font-family: fa-icon-regular
  font-weight: 400
  
