@font-face
  font-family: fa-icon-brands
  font-style: normal
  font-weight: normal
  src: url(font-path + "/fontawesome/fa-brands-400.eot?v=#" + fa-icon-version)
  src: url(font-path + "/fontawesome/fa-brands-400.eot?#iefix&v=#" + fa-icon-version) format("embedded-opentype"),
    	 url(font-path + "/fontawesome/fa-brands-400.woff2?v=#" + fa-icon-version) format("woff2"),
       url(font-path + "/fontawesome/fa-brands-400.woff?v=#" + fa-icon-version) format("woff"),
       url(font-path + "/fontawesome/fa-brands-400.ttf?v=#" + fa-icon-version) format("truetype"),
       url(font-path + "/fontawesome/fa-brands-400.svg#fontawesome?v=#" + fa-icon-version) format("svg")

.fab
  font-family: fa-icon-brands

@font-face
  font-family: fa-icon-regular
  font-style: normal
  font-weight: 400
  src: url(font-path + "/fontawesome/fa-regular-400.eot?v=#" + fa-icon-version)
  src: url(font-path + "/fontawesome/fa-regular-400.eot?#iefix&v=#" + fa-icon-version) format("embedded-opentype"),
    	 url(font-path + "/fontawesome/fa-regular-400.woff2?v=#" + fa-icon-version) format("woff2"),
       url(font-path + "/fontawesome/fa-regular-400.woff?v=#" + fa-icon-version) format("woff"),
       url(font-path + "/fontawesome/fa-regular-400.ttf?v=#" + fa-icon-version) format("truetype"),
       url(font-path + "/fontawesome/fa-regular-400.svg#fontawesome?v=#" + fa-icon-version) format("svg")

.far
  font-family: fa-icon-regular
  font-weight: 400
  
@font-face
  font-family: fa-icon-solid
  font-style: normal
  font-weight: 900
  src: url(font-path + "/fontawesome/fa-solid-900.eot?v=#" + fa-icon-version)
  src: url(font-path + "/fontawesome/fa-solid-900.eot?#iefix&v=#" + fa-icon-version) format("embedded-opentype"),
    	 url(font-path + "/fontawesome/fa-solid-900.woff2?v=#" + fa-icon-version) format("woff2"),
       url(font-path + "/fontawesome/fa-solid-900.woff?v=#" + fa-icon-version) format("woff"),
       url(font-path + "/fontawesome/fa-solid-900.ttf?v=#" + fa-icon-version) format("truetype"),
       url(font-path + "/fontawesome/fa-solid-900.svg#fontawesome?v=#" + fa-icon-version) format("svg")

.fa, .fas
  font-family: fa-icon-solid
  font-weight: 900
