/* Replacement of FontAwesome 
   https://forkaweso.me/Fork-Awesome/
*/

@font-face
  font-family: fa-icons
  font-style: normal
  font-weight: normal
  font-display: block
  src: url(font-path + "/forkawesome/forkawesome-webfont.woff2?v=1.2.0") format("woff2"), 
       url(font-path + "/forkawesome/forkawesome-webfont.ttf?v=1.2.0") format("truetype")

.fa
  display: inline-block
  font: normal normal normal 14px/1 fa-icons
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

/* brands */
.fab 
  font-family: fa-icons

/* solid */
.fa, .fas
  font-family: fa-icons
  font-weight: 900

/* regular */
.far
  font-family: fa-icons
  font-weight: 400