@font-face 
  font-family: 'Lexend';
  font-weight: 200;
  font-style: normal;
  font-display: swap
  src: url("fonts/lexend/webfonts/Lexend-ExtraLight.woff2") format("woff2"), 
       url("fonts/lexend/ttf/Lexend-ExtraLight.ttf") format("truetype");

// ITALIC FONT IS MISSING

@font-face 
  font-family: 'Lexend';
  font-weight: 300;
  font-style: normal;
  font-display: swap
  src: url("fonts/lexend/webfonts/Lexend-Light.woff2") format("woff2"), 
       url("fonts/lexend/ttf/Lexend-Light.ttf") format("truetype");

// ITALIC FONT IS MISSING

@font-face 
  font-family: 'Lexend';
  font-weight: 400;
  font-style: normal;
  font-display: swap
  src: url("fonts/lexend/webfonts/Lexend-Regular.woff2") format("woff2"), 
       url("fonts/lexend/ttf/Lexend-Regular.ttf") format("truetype");

// ITALIC FONT IS MISSING

@font-face 
  font-family: 'Lexend';
  font-weight: 500;
  font-style: normal;
  font-display: swap
  src: url("fonts/lexend/webfonts/Lexend-Medium.woff2") format("woff2"), 
       url("fonts/lexend/ttf/Lexend-Medium.ttf") format("truetype");

// ITALIC FONT IS MISSING

@font-face 
  font-family: 'Lexend';
  font-weight: 600;
  font-style: normal;
  font-display: swap
  src: url("fonts/lexend/webfonts/Lexend-SemiBold.woff2") format("woff2"), 
       url("fonts/lexend/ttf/Lexend-SemiBold.ttf") format("truetype");
