@font-face 
  font-family: 'Open Sans'
  font-weight: 400 500
  font-style: normal 
  font-display: swap
  src: url(font-path + "/opensans/opensans-regular.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-regular.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-regular.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 400 500
  font-style: italic 
  font-display: swap
  src: url(font-path + "/opensans/opensans-italic.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-italic.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-italic.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 600 700
  font-style: normal 
  font-display: swap
  src: url(font-path + "/opensans/opensans-semibold.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-semibold.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-semibold.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 600 700
  font-style: italic 
  font-display: swap
  src: url(font-path + "/opensans/opensans-semibolditalic.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-semibolditalic.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-semibolditalic.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 800
  font-style: normal 
  font-display: swap
  src: url(font-path + "/opensans/opensans-bold.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-bold.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-bold.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 800
  font-style: italic 
  font-display: swap
  src: url(font-path + "/opensans/opensans-bolditalic.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-bolditalic.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-bolditalic.svg#open+sans") format("svg")

