@font-face 
  font-family: 'Open Sans'
  font-weight: 300
  font-style: normal 
  font-display: swap
  src: url(font-path + "/opensans/opensans-light.eot")
  src: url(font-path + "/opensans/opensans-light.eot?#iefix") format("embedded-opentype"), 
       url(font-path + "/opensans/opensans-light.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-light.woff") format("woff"), 
       url(font-path + "/opensans/opensans-light.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-light.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 300
  font-style: italic 
  font-display: swap
  src: url(font-path + "/opensans/opensans-lightitalic.eot")
  src: url(font-path + "/opensans/opensans-lightitalic.eot?#iefix") format("embedded-opentype"), 
       url(font-path + "/opensans/opensans-lightitalic.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-lightitalic.woff") format("woff"), 
       url(font-path + "/opensans/opensans-lightitalic.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-lightitalic.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 400
  font-style: normal 
  font-display: swap
  src: url(font-path + "/opensans/opensans-regular.eot")
  src: url(font-path + "/opensans/opensans-regular.eot?#iefix") format("embedded-opentype"), 
       url(font-path + "/opensans/opensans-regular.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-regular.woff") format("woff"), 
       url(font-path + "/opensans/opensans-regular.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-regular.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 400
  font-style: italic 
  font-display: swap
  src: url(font-path + "/opensans/opensans-italic.eot")
  src: url(font-path + "/opensans/opensans-italic.eot?#iefix") format("embedded-opentype"), 
       url(font-path + "/opensans/opensans-italic.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-italic.woff") format("woff"), 
       url(font-path + "/opensans/opensans-italic.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-italic.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 600
  font-style: normal 
  font-display: swap
  src: url(font-path + "/opensans/opensans-semibold.eot")
  src: url(font-path + "/opensans/opensans-semibold.eot?#iefix") format("embedded-opentype"), 
       url(font-path + "/opensans/opensans-semibold.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-semibold.woff") format("woff"), 
       url(font-path + "/opensans/opensans-semibold.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-semibold.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 600
  font-style: italic 
  font-display: swap
  src: url(font-path + "/opensans/opensans-semibolditalic.eot")
  src: url(font-path + "/opensans/opensans-semibolditalic.eot?#iefix") format("embedded-opentype"), 
       url(font-path + "/opensans/opensans-semibolditalic.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-semibolditalic.woff") format("woff"), 
       url(font-path + "/opensans/opensans-semibolditalic.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-semibolditalic.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 700
  font-style: normal 
  font-display: swap
  src: url(font-path + "/opensans/opensans-bold.eot")
  src: url(font-path + "/opensans/opensans-bold.eot?#iefix") format("embedded-opentype"), 
       url(font-path + "/opensans/opensans-bold.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-bold.woff") format("woff"), 
       url(font-path + "/opensans/opensans-bold.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-bold.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 700
  font-style: italic 
  font-display: swap
  src: url(font-path + "/opensans/opensans-bolditalic.eot")
  src: url(font-path + "/opensans/opensans-bolditalic.eot?#iefix") format("embedded-opentype"), 
       url(font-path + "/opensans/opensans-bolditalic.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-bolditalic.woff") format("woff"), 
       url(font-path + "/opensans/opensans-bolditalic.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-bolditalic.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 800
  font-style: normal 
  font-display: swap
  src: url(font-path + "/opensans/opensans-extrabold.eot")
  src: url(font-path + "/opensans/opensans-extrabold.eot?#iefix") format("embedded-opentype"), 
       url(font-path + "/opensans/opensans-extrabold.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-extrabold.woff") format("woff"), 
       url(font-path + "/opensans/opensans-extrabold.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-extrabold.svg#open+sans") format("svg")

@font-face 
  font-family: 'Open Sans'
  font-weight: 800
  font-style: italic   
  font-display: swap
  src: url(font-path + "/opensans/opensans-extrabolditalic.eot")
  src: url(font-path + "/opensans/opensans-extrabolditalic.eot?#iefix") format("embedded-opentype"), 
       url(font-path + "/opensans/opensans-extrabolditalic.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-extrabolditalic.woff") format("woff"), 
       url(font-path + "/opensans/opensans-extrabolditalic.ttf") format("truetype"), 
       url(font-path + "/opensans/opensans-extrabolditalic.svg#open+sans") format("svg")
