@font-face 
  font-family: 'Open Sans'
  font-weight: 600 700
  font-style: normal 
  font-display: swap
  src: url(font-path + "/opensans/opensans-semibold.woff2") format("woff2"), 
       url(font-path + "/opensans/opensans-semibold.ttf") format("truetype")

