/* OVERRIDES */
.pagefind-ui__form:before
  //see /images/icons/search.svg
  mask-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' viewBox='0 0 42 42' fill='%23000000'%3E%3Cpath d='M1,17.838c0,8.747,7.131,15.827,15.94,15.827c8.796,0,15.938-7.08,15.938-15.827S25.736,2,16.94,2C8.131,2,1,9.091,1,17.838 z M6.051,17.838c0-5.979,4.868-10.817,10.89-10.817c6.01,0,10.888,4.839,10.888,10.817c0,5.979-4.878,10.818-10.888,10.818 C10.919,28.656,6.051,23.816,6.051,17.838z M28.162,32.361l6.855,7.809c1.104,1.102,1.816,1.111,2.938,0l2.201-2.181 c1.082-1.081,1.149-1.778,0-2.921l-7.896-6.775L28.162,32.361z'/%3E%3C/svg%3E") !important; 

.pagefind-ui__search-input  
  &:focus-visible
    outline: none
    border-color: var(--color-shadow) !important

.pagefind-ui__search-input,
.pagefind-ui__message
  font-weight: var(--font-weight-normal) !important

.pagefind-ui__message
  padding: 0 !important

.pagefind-ui__message,
.pagefind-ui__results
  margin: 0 10px !important

.pagefind-ui__result
  padding-bottom: 0 !important
  &:first-child
    border-top: none !important
  &:last-child
    border-bottom: none !important

.pagefind-ui__result-link
  &:hover
    color: var(--color-accent-text) !important

.pagefind-ui__result-title
  font-weight: var(--font-weight-bold) !important
  font-size: var(--font-subtitle-size) !important

.pagefind-ui__result-excerpt
  font-weight: var(--font-weight-normal) !important
  line-height: var(--line-height-text) !important
  mark
    background-color: transparent !important
    color: var(--color-highlight) !important

.pagefind-ui__result-tags
  margin-left: 0 !important

.pagefind-ui__button
  background-color: var(--color-button-back) !important
  color: va(--color-button-text) !important
  border-radius: var(--border-radius-small) !important
  border: none !important
  &:hover
    background-color: var(--color-background) !important
    color: var(--color-text) !important
