// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-logo = #fff
color-base = #555
color-background = #f1f1f1
color-hover-background = #f8f8f8
color-foreground = #111
color-default = #555
color-highlight = #ff8c00
color-grey = #777
color-light = #f8f8f8
color-header = #888
color-block = #fff
color-border = #ddd
color-border-amp = #aaa
color-border-3d = #bbb
color-border-article = #e8e8e8
color-link = #0069dc
color-button = #eee
color-button-link = #555
color-category-link = #999
color-category-link-background = #f1f1f1
color-sidebar-text = #777
color-footer-text = rgba(255,255,255,0.5)
color-footer-link = rgba(255,255,255,1)
color-footer-dots = rgba(255,255,255,0.1)
color-widget-background = transparent
color-widget-border = transparent
color-widget-link = #555
color-error = rgb(222,0,0)
color-wm-meta-background = #f7f7f7
color-wm-meta-background-own = #fff7ef
color-wm-content-background = #fff
color-wm-border = #e4e4e4
color-wm-border-before = #d5d5d5
color-wm-border-after = #f8f8f8
color-wm-button-background = #ddd
color-wm-button = #222
filter-gray = grayscale(1) contrast(1)
box-shadow = 1px 2px 20px 5px

// Dark Colors
dark-color-logo = #fff
dark-color-base = #000
dark-color-background = #222
dark-color-hover-background = #2c2c2c
dark-color-foreground = #eee
dark-color-default = #dadada
dark-color-highlight = #b36200
dark-color-grey = #999
dark-color-light = #444
dark-color-header = #666
dark-color-block = #333
dark-color-border = #111
dark-color-border-amp = #000
dark-color-border-3d = #555
dark-color-border-article = #666
dark-color-link = #6facef
dark-color-link-border = #777
dark-color-button = #555
dark-color-button-link = #bbb
dark-color-category-link = #bbb
dark-color-category-link-background = #222
dark-color-sidebar-text = #ddd
dark-color-widget-background = transparent
dark-color-widget-border = transparent
dark-color-widget-link = #ddd
dark-color-wm-meta-background = #333
dark-color-wm-meta-background-own = #152238
dark-color-wm-content-background = #181818
dark-color-wm-border = #333
dark-color-wm-border-before = #333
dark-color-wm-border-after = #202020
dark-color-wm-button-background = #000
dark-color-wm-button = #fff
dark-filter-gray = grayscale(1) contrast(0.75) brightness(0.6)
dark-box-shadow = 1px 2px 40px 1px

color-twitter = #1da1f2
color-mastodon = #6364ff
color-pixelfed = #000000
color-500px = #000000
color-linkedin = #0077b5
color-xing = #026466
color-instagram = #833ab4
color-flickr = #ff0084
color-reddit = #ff4500
color-facebook = #1877f2
color-github = #181717
color-npm = #CB3837
color-insights = #32E0C4
color-vscode = #007acc
color-indieweb = #FF5C00

dark-color-twitter = #5db6ee
dark-color-mastodon = #9494ff
dark-color-pixelfed = #ffffff
dark-color-500px = #ffffff
dark-color-github = #fdfdfd

icon-asterisk = "\f069"
icon-bullseye = "\f140"
icon-bars = "\f0c9"
icon-chevron-left = "\f053"
icon-chevron-right = "\f054"
icon-angles-left = "\f100"
icon-angles-right = "\f101"
icon-angle-right = "\f105"
icon-long-arrow-right = "\f30b"
icon-caret-right = "\f0da"
icon-home = "\f015"
icon-archive = "\f1c0"
icon-tag = "\f02b"
icon-rss = "\f09e"
icon-search = "\f002"
icon-comment = "\f27a"
icon-web = "\f0ac"
icon-twitter = "\f099"
icon-mastodon = "\f2e1"
icon-pixelfed = "\f314"
icon-facebook = "\f082"
icon-instagram = "\f16d"
icon-flickr = "\f16e"
icon-reddit = "\f1a1"
icon-pinterest = "\f0d2"
icon-github = "\f09b"
icon-xing = "\f168"
icon-linkedin = "\f0e1"
icon-500px = "\f26e"
icon-google = "\f0d5"
icon-moon = "\f328"
icon-sun = "\f329"
icon-bookmark = "\f02e"
icon-share = "\f1e0"
icon-copy = "\f0c5"
icon-square = "\f45c"
icon-grid = "\f009"
icon-list = "\f00b"
icon-masonry = "\f00a"
icon-circle = "\f111"
icon-circle-dot = "\f192"
icon-circle-notch = "\f1ce"
icon-quote = "\f10e"
icon-pen = "\f5ad"
icon-bullhorn = "\f0a1"
icon-chain = "\f0c1"
icon-thumbtack = "\f08d"
icon-feather = "\f331"
icon-pencil = "\f040"
icon-brush = "\f1fc"
icon-minimize = "\f066"
icon-maximize = "\f065"
icon-mail = "\f0e0"
icon-phone = "\f095"
icon-download = "\f019"
icon-exclamation-circle = "\f06a"
icon-question-circle = "\f059"
icon-check-circle = "\f058"
icon-info-circle = "\f05a"
icon-times-circle = "\f057"

// Fonts
font-path = "fonts"
font-size = 15px
font-size-small = 0.8rem //Open Sans: 0.9
font-size-tiny = 0.7rem //Open Sans: 0.8
font-title-size = 1.8rem //Open Sans: 2
font-titlelist-size = 1.25rem //Open Sans: 1.25
font-subtitle-size = 1.2rem //Open Sans: 1.25
font-pagetitle-size = 1.4rem //Open Sans: 1.5
font-weight-normal = 300 //Open Sans: 400
font-weight-bold = 400 //Open Sans: 600
font-weight-bolder = 500 //Open Sans: 700
font-weight-boldest = 600 //Open Sans: 700
font-weight-extrabold = 700 //Open Sans: 800

//-apple-system, BlinkMacSystemFont,
font-sans = "Lexend", "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
font-default = Arial,Helvetica,sans-serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace

line-height = 1.5rem
line-height-text = 1.66rem
line-height-title = 2.33rem
line-height-subtitle = 1.75rem

border-radius = 4px
border-radius-small = 2px

// Header
icon-size = 18px
icon-mobile-size = 16px
icon-home-size = 16px

title-size = 67px
title-size-mobile = 53px
subtitle-size = 16px
subtitle-size-mobile = 12px

banner-height = 600px
banner-height-tablet = 450px
banner-height-mobile = 300px

sidebar = hexo-config("sidebar")

// Layout
default-margin = 1.5rem
double-margin = 3rem
medium-margin = 1rem
small-margin = 0.5rem
block-margin = 2.5rem

default-padding = 2rem
default-padding-vert = 1.5rem

mobile-nav-width = 280px
main-column = 9
sidebar-column = 3

if sidebar and sidebar isnt bottom
  _sidebar-column = sidebar-column
else
  _sidebar-column = 0

// Grids
column-width = 80px
gutter-width = 20px
columns = main-column + _sidebar-column

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet-min = "screen and (max-width: 767px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"
mq-medium = "screen and (max-width: 600px)"