.alertbox {
  position: relative;
  padding: var(--space-moderate) var(--space-moderate) var(--space-moderate) var(--space-normal);
  margin: var(--space-moderate) 0;
}

.alertbox.no-block {
  margin-left: var(--space-median);
}

.alertbox.thinkbox {
  padding: var(--space-moderate) var(--space-block) var(--space-moderate) calc(var(--space-block) + var(--space-thin));
  margin: var(--space-block) 0 var(--space-moderate) var(--space-median);
  background-color: rgba(255, 203, 76, .1);
  background: linear-gradient(125deg, rgba(241, 144, 32, .4) 0, rgba(241, 144, 32, .1) 64px, rgba(255, 203, 76, .1) 128px);
}

.alertbox.thinkbox h4 {
  position: absolute;
  top: -16px;
  left: 24px;
  text-transform: uppercase;
  color: var(--color-highlight);
  font-size: 16px;
  font-weight: var(--font-weight-bold);
}

.alertbox.thinkbox svg {
  width: 32px;
  position: absolute;
  top: -2px;
  left: -12px;
}

.alertbox::before {
  position: absolute;
  width: 41px;
  height: 41px;
  top: -12px;
  left: -22px;
  display: block;
  border-radius: 50%;
  content: "";
  background: var(--color-block);
}

.alertbox.no-block::before {
  background: var(--color-background);
}

.alertbox.thinkbox::before {
  width: 50px;
  height: 50px;
  top: -12px;
  left: -22px;
}

.alertbox.alertbox-exclamation {
  border-left: 4px var(--box-exclamation) solid;
  background-color: var(--box-exclamation2);
}

.alertbox.alertbox-question {
  border-left: 4px var(--box-question) solid;
  background-color: var(--box-question2);
}

.alertbox.alertbox-warning {
  border-left: 4px var(--box-warning) solid;
  background-color: var(--box-warning2);
}

.alertbox.alertbox-info {
  border-left: 4px var(--box-info) solid;
  background-color: var(--box-info2);
}

.alertbox.alertbox-success {
  border-left: 4px var(--box-success) solid;
  background-color: var(--box-success2);
}

.alertbox.alertbox-note {
  border-left: 4px var(--box-note) solid;
  background-color: var(--box-note2);
}

.alertbox::after {
  position: absolute;
  display: block;
  top: -4px;
  left: -14px;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 26px;
  width: 26px;
  height: 26px;
}

.alertbox.alertbox-exclamation::after { 
  background-image: var(--icon-exclamation-color);
}

.alertbox.alertbox-question::after { 
  background-image: var(--icon-question-color);
}

.alertbox.alertbox-warning::after { 
  background-image: var(--icon-warning-color);
}

.alertbox.alertbox-info::after { 
  background-image: var(--icon-info-color);
}

.alertbox.alertbox-success::after { 
  background-image: var(--icon-success-color);
}

.alertbox.alertbox-note::after { 
  background-image: var(--icon-note-color);
}

.alertbox * {
  margin: 0 !important;
}

.alertbox p+p {
  margin-top: var(--space-medium) !important;
}

.alertbox a {
  color: inherit !important;
  border-bottom: none !important;
  text-decoration-line: underline !important;
  text-decoration-style: dotted !important;
  text-decoration-color: var(--color-border) !important;
}

.alertbox a:hover {
  text-decoration-style: solid !important;
  text-decoration-color: inherit !important;
}

li>.alertbox {
  margin: var(--space-median);
}

li>.alertbox::before {
  top: calc((--space-medium * -1));
}
