.auto-card-link-container {
  container-type: inline-size;
  position: relative;
  overflow: hidden;
  user-select: none
}

.auto-card-link-container .auto-card-link-card {
  display: flex;
  flex-direction: row-reverse;
  height: 8rem;
  transition: 20ms ease-in 0s;
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--border-radius-normal);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-background);
  background: var(--color-background);
  color: var(--color-link)
}

@media screen and (min-width:1024px) {
  .auto-card-link-container .auto-card-link-card {
    max-width: 600px;
    justify-self: center
  }
}

.auto-card-link-container .auto-card-link-card:hover {
  /* border-color: var(--color-block);
  background: var(--color-block); */
  text-decoration: none
}

.auto-card-link-container .auto-card-link-card .auto-card-link-main {
  width: 75vw;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-thin);
  padding: var(--space-median) var(--space-medium);
  overflow: hidden;
  text-align: left
}

.auto-card-link-container .auto-card-link-card .auto-card-link-main .auto-card-link-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: var(--font-weight-bold)
}

.auto-card-link-container .auto-card-link-card .auto-card-link-main .auto-card-link-description {
  overflow: hidden;
  line-height: var(--line-height-small);
  height: calc(var(--line-height-small) * 2);
  color: var(--color-meta);
  font-size: var(--font-size-small)
}

.auto-card-link-container .auto-card-link-card .auto-card-link-main .auto-card-link-host {
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: row;
  align-items: center
}

.auto-card-link-container .auto-card-link-card .auto-card-link-main .auto-card-link-host span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.auto-card-link-container .auto-card-link-card .auto-card-link-main .auto-card-link-host span:hover {
  text-decoration: underline
}

.auto-card-link-container .auto-card-link-card .auto-card-link-main .auto-card-link-favicon {
  width: 16px !important;
  height: auto !important;
  margin: 0 var(--space-small) 0 0 !important
}

.auto-card-link-container .auto-card-link-thumbnail {
  border-radius: var(--border-radius-normal) 0 0 var(--border-radius-normal) !important;
  height: 100%;
  background-position: left center;
  background-size: cover;
  pointer-events: none;
  width: 35vw !important
}

@media screen and (max-width:479px) {
  .auto-card-link-container .auto-card-link-thumbnail {
    width: 50vw !important
  }
}
