/* block-caption -------------------------------- */
.archive-year,
.article-date,
.article-category-link,
.article-interactions > h2,
.article-related > h2,
.article-syndication > h2,
.article-webmention > h2,
.interactions-avatars h3,
.interactions-list h3,
.widget-title { 
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: var(--font-weight-bold);
}