/* block-caption -------------------------------- */
.archive-year,
.article-date,
.article-category-link,
.article-extra > h2,
.interactions-avatars h3,
.interactions-list h3,
.widget-title,
.section-heading { 
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: var(--font-weight-bold);
}

/* block-inner & block-inner-hover -------------------------------- */
.article-inner,
.anything-item,
.panel-inner, 
.page-content section,
.cards .card {
  border-radius: var(--border-radius-normal);
  background: var(--color-block);
  box-shadow: var(--length-shadow) var(--color-border);
  overflow: hidden;
}

.panel-inner,
.cards .card,
.note-list article,
.index-list .article-inner,
.anything-list .article-inner,
.anything-list .anything-item {
  transition: all ease-out 0.3s;
}
.panel-inner:hover,
.cards .card:hover,
.note-list article:hover,
.index-list .article-inner:hover,
.anything-list .article-inner:hover,
.anything-list .anything-item:hover {
  transform: scale(1) translateY(-1px);
  box-shadow: var(--length-shadow) var(--color-shadow);
}

/* inview-image -------------------------------- */
@media (prefers-reduced-motion:no-preference) {
  .article-photo,
  .article-entry a.img-link,
  .panel-photo,
  .page-content .card a.card-img img,
  .page-content .card a.box-img img {
    transform: scale(1);
    transform-style: preserve-3d;
    transition: all ease-out .6s;
    opacity: var(--opacity-inview);
    filter: var(--filter-inview);
  }

  .article-photo.in-view,
  .article-entry a.img-link.in-view,
  .panel-photo.in-view,
  .page-content .card a.card-img.in-view img,
  .page-content .card a.box-img.in-view img {
    transform: scale(1.025);
    opacity: 1;
    filter: grayscale(0) contrast(1)
  }
}

/* base-style -------------------------------- */
.page-content hr,
.anything-content hr,
.article-entry hr,
.article-share hr,
.article-extra hr,
.cards .card hr {
  display: block;
  border: 0px;
  height: 24px;
  background-image: url('/images/divider.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: var(--space-default) 0;
  opacity: var(--opacity-line);
  clear: both;
}

.page-content ul,
.anything-content ul,
.article-entry ul,
.article-share ul,
.cards .card ul {
  list-style: disc;
}
.page-content ol,
.anything-content ol,
.article-entry ol,
.article-share ol,
.cards .card ol {
  list-style: decimal;
}

.article-footer a,
.article-footer span,
.panel-category a,
.panel-date,
.panel-tags a {
    text-decoration: none;
    color: var(--color-meta);
}
.article-footer a:hover,
.article-footer span:hover,
.panel-category a:hover,
.panel-tags a:hover {
    color: var(--color-accent-text)
}

.article-footer .article-tag-list,
.panel-footer .article-tag-list {
  overflow: auto;
  margin: 0;
}

.article-footer .article-tag-list-item,
.panel-footer .article-tag-list-item {
  float: right;
  margin: 0 var(--space-thin);
}

.article-footer .article-tag-list-link:before,
.panel-footer .article-tag-list-link:before {
  content: "#";
}
