@font-face {
  font-family: 'Open Sans';
  font-weight: 400 500;
  font-style: normal;
  font-display: swap;
  src: url("fonts/opensans/opensans-regular.woff2") format("woff2"), 
       url("fonts/opensans/opensans-regular.ttf") format("truetype")
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600 700;
  font-style: normal;
  font-display: swap;
  src: url("fonts/opensans/opensans-semibold.woff2") format("woff2"), 
       url("fonts/opensans/opensans-semibold.ttf") format("truetype")
}

@font-face {
  font-family: 'Lexend';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("fonts/lexend/webfonts/Lexend-ExtraLight.woff2") format("woff2"), 
       url("fonts/lexend/ttf/Lexend-ExtraLight.ttf") format("truetype")
}

@font-face {
  font-family: 'Lexend';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("fonts/lexend/webfonts/Lexend-Light.woff2") format("woff2"), 
       url("fonts/lexend/ttf/Lexend-Light.ttf") format("truetype")
}

@font-face {
  font-family: 'Lexend';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/lexend/webfonts/Lexend-Regular.woff2") format("woff2"), 
       url("fonts/lexend/ttf/Lexend-Regular.ttf") format("truetype")
}

@font-face {
  font-family: 'Lexend';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("fonts/lexend/webfonts/Lexend-Medium.woff2") format("woff2"), 
       url("fonts/lexend/ttf/Lexend-Medium.ttf") format("truetype")
}

@font-face {
  font-family: 'Lexend';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("fonts/lexend/webfonts/Lexend-SemiBold.woff2") format("woff2"), 
       url("fonts/lexend/ttf/Lexend-SemiBold.ttf") format("truetype")
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 300 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2") format("woff2"), 
       url("fonts/sourcecodepro/TTF/SourceCodePro-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url("fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-It.ttf.woff2") format("woff2"), 
       url("fonts/sourcecodepro/TTF/SourceCodePro-It.ttf") format("truetype")
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 600 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2") format("woff2"), 
       url("fonts/sourcecodepro/TTF/SourceCodePro-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 600 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url("fonts/sourcecodepro/WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2") format("woff2"), 
       url("fonts/sourcecodepro/TTF/SourceCodePro-BoldIt.ttf") format("truetype")
}
