#header {
  filter: grayscale(0);
  background-color: var(--color-accent);
  border-radius: 0;
}

#header.gray #banner {
  filter: grayscale(1);
  transition: filter 2.5s ease, background-color .25s ease;
}

#header-outer {
  position: relative;
  z-index: 99;
}

#header-photo,
#header-photo-link {
  display: none;
}

header.photograph #header-photo-link {
  position: absolute;
  display: block;
  top: var(--space-thin);
  right: 100%;
  padding: var(--space-small);
  white-space: nowrap;
  font-size: var(--font-size-small);
  text-decoration: none;
  z-index: 99;
  transition: all .2s ease-out;
  transform: rotate(270deg);
  transform-origin: right top;
  color: rgba(255, 255, 255, .6);
}

header.photograph #header-photo-link:hover {
  color: var(--color-logo);
}

header.photograph #header-photo-link strong {
  font-weight: var(--font-weight-bold);
}

#header-inner {
  position: relative;
  width: auto;
  margin: auto;
  float: right;
}

#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/banner.jpg");
  background-position: center;
  background-color: #000;
  background-size: contain;
  z-index: -1;
}

[data-theme=dark] #banner:before {
  position: absolute;
  background: rgba(0, 0, 0, .25);
  content: "";
  width: 100%;
  height: 100%;
}

#header-nav-end,
#header-nav-start {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 42px;
  width: 20px;
  opacity: 0;
  transition: opacity .2s ease-out;
  color: rgba(0, 0, 0, .4);
}

#header-nav-end.show,
#header-nav-start.show {
  opacity: 1;
}
#header-nav-start {
  left: 0;
  box-shadow: inset 20px 0 15px -15px;
}
#header-nav-end {
  right: 0;
  box-shadow: inset -20px 0 15px -15px;
}

#header-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  backdrop-filter: blur(5px) brightness(90%);
  box-sizing: content-box;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

#header-nav::-webkit-scrollbar {
  display: none;
}

@supports not (webkit-scrollbar) {
  #header-nav {
    scrollbar-width: none;
  }
}

#header-nav.has-nav-index {
  background: linear-gradient(180deg, transparent 55%, var(--color-accent) 100%);
}

#header-nav .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 4px;
}
@media screen and (max-width:479px) {
  #header-nav .menu { 
    gap: 1px;
  }
}

#header-nav .menu .menu-item {
  flex-basis: var(--space-block);
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100px;
  margin: auto var(--space-small);
}

#header-nav .menu .menu-item a {
  color: var(--color-logo);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  padding: var(--space-small) 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#header-nav .menu-item-icon:first-child {
  margin-left: var(--space-thin) !important;
}

#header-nav .menu .menu-item:last-child {
  padding-right: var(--space-medium);
}

#header-nav .menu-item-icon {
  margin: auto 0 !important;
}
#header-nav .menu-item-icon a:before {
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-position: 4px 4px;
  background-size: 18px;
  width: 22px;
  height: 22px;
}

#header-nav .menu-item-icon a span {
  display: none;
}

#header-nav .menu-item-icon#nav-search-link a:before {
  background-image: var(--icon-search-invert);
}

#header-title {
  text-align: center;
  position: absolute;
  top: var(--space-normal);
  left: 0;
  width: calc(100% - calc(var(--space-normal) * 2));
  margin: 0 var(--space-normal);
}

body.article-view #progress,
body.note-view #progress {
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  transform-origin: 0 50%;
  transform: scaleX(0);
  background-color: var(--color-highlight);
}

#logo,
#subtitle {
  text-decoration: none;
  color: var(--color-logo);
  font-weight: var(--font-weight-normal);
}

#title-wrap {
  font-family: 'Open Sans';
  font-size: 67px;
  line-height: 60px;
}

@media screen and (max-width:479px) {
  #title-wrap {
    font-size: 53px;
    line-height: 51px;
  }
}

#title-wrap .typing-placeholder {
  border: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 0;
}

#subtitle {
  letter-spacing: .5px;
  font-size: 15px;
  line-height: 45px;
}

@media screen and (max-width:479px) {
  #subtitle {
    letter-spacing: .25px;
    font-size: 12px;
    line-height: 32px;
  }
}

#sub-socialmediaimage-link {
  background: 0 0 !important;
  width: 20px;
  height: 20px;
  margin: 20px auto;
}

#logo {
  font-family: var(--font-sans);
  font-variant: small-caps;
  font-weight: var(--font-weight-extrabold);
  letter-spacing: 0;
  display: inline-block;
}

#sub-nav {
  float: right;
  margin-right: calc(var(--space-moderate) * -1);
}

#sub-nav-theme {
  position: relative;
  display: inline;
}

#sub-nav-theme input#theme-switch[type=checkbox] {
  display: none;
}

#sub-nav-theme input#theme-switch[type=checkbox]+label {
  color: var(--color-logo);
  opacity: .4;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin: 12px;
  font-size: 22px;
  cursor: pointer;
}

#sub-nav-theme input#theme-switch[type=checkbox]+label:hover {
  opacity: 1;
}

#sub-nav-theme input#theme-switch[type=checkbox]+label:before {
  display: inline-block;
  transition: background-image .25s ease;
  margin: 0;
  width: 28px;
  height: 28px;
  content: "";
  background-size: 28px;
  background-repeat: no-repeat;
  background-image: var(--icon-moon-invert);
}

#sub-nav-theme input#theme-switch[type=checkbox]:checked+label:before {
  background-image: var(--icon-sun-invert);
}
