html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh; /* Andy Bells Modernized Reset */
}

#header {
  width: 100%;
  height: var(--banner-height-normal);
  position: fixed;
  z-index: 1001;
  overflow: hidden;
}
@media screen and (min-width:480px) and (max-width:767px) {
  #header {
    height: var(--banner-height-tablet)
  }
}
@media screen and (max-width:479px) {
  #header {
    height: var(--banner-height-mobile)
  }
}

#content {
  padding-top: var(--banner-height-normal)
}
@media screen and (min-width:480px) and (max-width:767px) {
  #content {
    padding-top: var(--banner-height-tablet)
  }
}
@media screen and (max-width:479px) {
  #content {
    padding-top: var(--banner-height-mobile)
  }
}

.outer { /* #content, #header-outer, #footer */
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 var(--space-moderate)
}
/* clearfix()... */
.outer:after,
.outer:before { 
  content: "";
  display: table
}
.outer:after {
  clear: both
}

@media screen and (min-width:768px) {
  main {
    display: inline;
    float: left;
    width: 73%;
    margin: 0 1%
  }
}

#sidebar {
  margin-bottom: var(--space-block);
  font-size: var(--font-size-medium)
}

@media screen and (min-width:768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 23%;
    margin: 0 1%
  }
}

