:root {
  --color-text: #555;
  --color-meta: #888;
  --color-highlight: #ff8c00;
  --color-background: #f1f1f1;
  --color-back-dim: #f8f8f8;
  --color-block: #fff;
  --color-border: #ddd;
  --color-border-dim: #eee;
  --color-shadow: #bbb;
  --length-shadow: 1px 2px 20px 5px;
}

:root[data-theme="dark"] {
  --color-text: #ddd;
  --color-meta: #777;
  --color-highlight: #b36200;
  --color-background: #222;
  --color-back-dim: #2b2b2b;
  --color-block: #333;
  --color-border: #111;
  --color-border-dim: #666;
  --color-shadow: #000;
  --length-shadow: 1px 2px 40px 1px;
}

/* ------------------------------------------------ */

:root {
  --color-logo: #fff;
  --color-accent: var(--color-shadow); /* defaults */
  --color-accent-text: var(--color-text);
  --color-accent-text-near: var(--color-meta);
  --color-accent-median: var(--color-border);

  --font-sans: "Lexend", "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Source Code Pro", "Consolas", "Monaco", "Menlo", "Consolas", monospace;

  --box-exclamation: rgb(255,204,0);
  --box-exclamation2: rgba(255,204,0,0.2);
  --box-question: rgb(221,0,255);
  --box-question2: rgba(221,0,255,0.2);
  --box-warning: rgb(226,37,0);
  --box-warning2: rgba(226,37,0,0.2);
  --box-info: rgb(0,136,224);
  --box-info2: rgba(0,136,224,0.2);
  --box-success: rgb(0,187,28);
  --box-success2: rgba(0,187,28,0.2);
  --box-note: rgb(205,205,205);
  --box-note2: rgba(205,205,205,0.25);

  --brand-mastodon: url(/images/brands/mastodon.svg);
  --brand-bluesky: url(/images/brands/bluesky.svg);
  --brand-flickr: url(/images/brands/flickr.svg);
  --brand-github: url(/images/brands/github.svg);
  --brand-reddit: url(/images/brands/reddit.svg);
  --brand-facebook: url(/images/brands/facebook.svg);
  --brand-devto: url(/images/brands/devto.svg);
  --brand-pixelfed: url(/images/brands/pixelfed.svg);
  --brand-pixelfed-invert: url(/images/brands/pixelfed_invert.svg);
  --brand-linkedin: url(/images/brands/linkedin.svg);
  --brand-xing: url(/images/brands/xing.svg);
  --brand-xing-mono: url(/images/brands/xing-mono.svg);
  --brand-500px: url(/images/brands/500px.svg);
  --brand-unsplash: url(/images/brands/unsplash.svg);
  --brand-lemmy: url(/images/brands/lemmy.svg);
  --brand-vernissage: url(/images/brands/vernissage.svg);
  --brand-vernissage-invert: url(/images/brands/vernissage_invert.svg);
  --brand-peertube: url(/images/brands/peertube.svg);
  --brand-signal: url(/images/brands/signal.svg);
  --brand-fediverse: url(/images/brands/fediverse.svg);
  --brand-indieweb: url(/images/brands/indieweb.svg);
  --brand-rss: url(/images/brands/rss.svg);
  --brand-rss-blue: url(/images/brands/rss_blue.svg);
  --brand-atom: url(/images/brands/atom.svg);
  --brand-jsonfeed: url(/images/brands/jsonfeed.svg);

  --pagefind-ui-scale: 0.8 !important;
  --pagefind-ui-border-width: 1px !important;
  --pagefind-ui-border-radius: 0 !important;
  --pagefind-ui-image-border-radius: 0 !important;
  --pagefind-ui-font: var(--font-sans) !important;
  --pagefind-ui-primary: var(--color-highlight) !important;
  --pagefind-ui-text: var(--color-text) !important;
  --pagefind-ui-background: var(--color-back-dim) !important;
  --pagefind-ui-border: var(--color-border) !important;
  --pagefind-ui-tag: var(--color-background) !important;
}