h1.page-title {
  position: relative;
  display: inline-block;
  margin: var(--space-block) 0 var(--space-normal);
  font-size: var(--font-pagetitle-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  text-transform: uppercase;
  color: var(--color-text);
}

h1.page-title small {
  display: block;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  opacity: .66;
}
h1.page-title span {
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
}
h1.page-title span b {
  padding: 0 var(--space-small);
  text-transform: none;
  font-weight: var(--font-weight-normal);
  opacity: .33;
}
h1.page-title strong {
  word-wrap: break-word;
  word-break: keep-all;
  display: inline-block;
}

h1.page-title em:before {
  display: inline-block;
  content: "";
  opacity: .6;
  background-repeat: no-repeat;
  background-size: var(--icon-w) var(--icon-h);
  width: var(--icon-w);
  height: var(--icon-h);
}
[data-theme=dark] h1.page-title em:before {
  filter: invert(1);
}
h1.page-title em.date:before {
  --icon-w: 24px;
  --icon-h: 28px;
  padding-right: 8px;
  background-position: 0 4px;
  background-image: var(--icon-date);
}
h1.page-title em.tag:before {
  --icon-w: 18px;
  --icon-h: 22px;
  padding-right: 12px;
  background-position: 0 2px;
  background-image: var(--icon-tag);
}
h1.page-title em.category:before {
  --icon-w: 22px;
  --icon-h: 26px;
  padding-right: 6px;
  background-position: -3px 4px;
  background-image: var(--icon-bookmark);
}
h1.page-title em.box:before {
  --icon-w: 22px;
  --icon-h: 26px;
  padding-right: 10px;
  background-position: 0 4px;
  background-image: var(--icon-box);
}
h1.page-title button.title-command {
  display: inline-block;
  position: relative;
  left: 6px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: 0 0;
  border: none;
  opacity: .25;
}
h1.page-title button.title-command:hover {
  opacity: .75;
}
h1.page-title button.title-command:before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px;
  width: 20px;
  height: 20px;
  filter: invert(0);
}
[data-theme=dark] h1.page-title button.title-command:before {
  filter: invert(1);
}
h1.page-title button.title-command.switch-condensed:before {
  background-image: var(--icon-minimize)
}
h1.page-title button.title-command.switch-condensed.condensed:before {
  background-image: var(--icon-maximize)
}

h2.page-subtitle {
  font-size: var(--font-pagetitle-size);
  line-height: var(--line-height-title);
  text-transform: uppercase;
  color: var(--color-meta);
  font-weight: var(--font-weight-normal);
  margin-top: calc(var(--space-small) * -1);
  margin-bottom: var(--space-default);
}

/* ------------------------------------------------------- */

nav.page-index {
  float: right;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0 calc(var(--space-small) * -1);
}
@media screen and (min-width:768px) {
  nav.page-index {
    margin: 0;
  }
}

nav.page-index a {
  flex: 0 0 auto;
  display: block;
  margin: 0;
  padding: var(--space-thin) var(--space-small);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bolder);
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  color: var(--color-button-text);
}
nav.page-index a.current {
  font-size: var(--font-size-normal);
  background: var(--color-accent);
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  color: var(--color-logo);
  line-height: var(--line-height-small);
  padding-inline: var(--space-median);
  margin-inline: var(--space-small);
}
nav.page-index a.current svg#diamond {
  display: block;
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin: 2px auto 0;
}
nav.page-index a.current.skip-right svg#diamond rect#diamond-right {
  display: none;
}
nav.page-index a:not(.current):hover {
  color: var(--color-accent-text);
}

nav.page-index a.next::after,
nav.page-index a.prev:before {
  font-size: var(--font-size-medium-extra);
}
nav.page-index a.prev:before {
  content: "\276E";
  margin-right: 10px;
}
nav.page-index a.next::after {
  content: "\276F";
  margin-left: 10px;
}

/* ------------------------------------------------------- */

nav.pagination {
  margin: var(--space-block) auto;
  text-align: center;
  overflow: hidden;
  font-size: var(--font-size-medium);
  color: var(--color-meta);
}

nav.pagination a,
nav.pagination span {
  padding-block: var(--space-thin);
  padding-inline: var(--space-median);
}

nav.pagination a {
  text-decoration: none;
}
nav.pagination a:hover {
  text-decoration: revert;
}

nav.pagination .prev {
  float: left;
}
nav.pagination .next {
  float: right;
}

nav.pagination .page-number {
  display: inline-block;
}
@media screen and (max-width:479px) {
  nav.pagination .page-number {
    display: none;
  }
}

nav.pagination .current {
  background-color: var(--color-accent);
  color: var(--color-logo);
  border-radius: var(--border-radius-small);
}

nav.pagination .space {
  color: var(--color-text);
  font-weight: var(--font-weight-bold);
}
@media screen and (max-width:479px) {
  nav.pagination .space {
    display: none;
  }
}

/* ------------------------------------------------------- */

.page-content hr:not(.divider) {
  padding-bottom: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--color-block);
  margin-bottom: var(--space-normal);
  margin-top: 0;
  background: 0 0;
  opacity: 1;
  height: 0;
}

.page-content p {
  margin: var(--space-medium) 0 var(--space-default);
  line-height: var(--line-height-text);
}
.page-content > p:first-of-type {
  margin-top: 0;
}
.page-content p:last-child {
  margin-bottom: 0;
}

/* ------------------------------------------------------- */

.anything-list {
  overflow: visible;
}

.anything-item {
  margin-top: 0;
  padding-bottom: var(--space-median);
}
.anything-list .anything-item:not(:first-child) {
  margin: var(--space-block) 0;
}

.anything-header {
  /* nothing */  
}

.anything-header h2 {
  font-size: var(--font-title-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  padding: var(--space-extra) var(--space-normal) 0;
}

.anything-header h2 a.posts {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  text-decoration: none;
  color: var(--color-text);
}
.anything-header h2 a.posts:hover {
  color: var(--color-accent-text);
}
.anything-header h2 a.posts:hover:before { /* https://css-tricks.com/adam-argyles-sick-mouse-out-css-hover-effect */
  transform: scaleX(1);
  transform-origin: left;
}
.anything-header h2 a.posts:before {
  position: absolute;
  z-index: -1;
  margin: -3px -3px -3px -9px;
  background: var(--color-block);
  content: "";
  border-radius: var(--border-radius-normal);
  inset: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s ease-in-out;
}

.anything-header h2 a.posts em {
  font-size: var(--font-subtitle-size);
  font-style: normal;
  line-height: var(--line-height-subtitle);
  padding: var(--space-small) var(--space-medium);
  min-width: fit-content;
  max-height: fit-content;
  text-align: center;
  transition: all ease-out 0.3s;
  border-radius: var(--border-radius-small);
  background-color: var(--color-button-back);
  color: var(--color-button-text);
}
.anything-header h2 a.posts:hover em {
  background-color: var(--color-accent-text);
  color: var(--color-block);
}

.anything-content {
  color: var(--color-text);
  padding: 0 var(--space-normal);
}

.anything-content p {
  line-height: var(--line-height-normal);
  margin: var(--space-default) 0;
}

.anything-content div.shields-io p {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.anything-content div.shields-io p img {
  margin: 0 var(--space-medium) var(--space-medium) 0;
}

.anything-content .brand-links {
  display: flex;
  flex-direction: row;
  margin: var(--space-default) 0 var(--space-block);
  gap: 2rem;
}
@media screen and (max-width:479px) {
  .anything-content .brand-links {
    gap: 1rem;
  }
}

.anything-content .brand-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
}

.anything-content .brand-links a.github {
  color: #000;
  text-decoration-color: #000;
}
[data-theme=dark] .anything-content .brand-links a.github {
  filter: invert(1);
}

.anything-content .brand-links a.npm {
  color: var(--color-npm);
  text-decoration-color: var(--color-npm);
}
[data-theme=dark] .anything-content .brand-links a.npm {
  filter: brightness(1.25);
}

.anything-content .brand-links a.insights {
  color: var(--color-insights);
  filter: brightness(.8);
  text-decoration-color: var(--color-insights);
}

.anything-content .brand-links a.vscode {
  color: var(--color-vscode);
  text-decoration-color: var(--color-vscode);
}
[data-theme=dark] .anything-content .brand-links a.vscode {
  filter: brightness(1.25);
}

.anything-content .brand-links a img {
  width: 42px;
}

.anything-content .brand-links a span {
  display: block;
  font-weight: 1rem;
  text-align: center;
}

/* ------------------------------------------------------- */
