.cardset {
  min-height: 1200px;
}

.cardset .cardview {
  margin: var(--space-default) var(--space-thin) var(--space-default);
  line-height: var(--line-height-text);
}

.cardset .cardview .cardcount {
  font-weight: var(--font-weight-bold);
}

.cardset .cardview input[type=radio] {
  display: none;
}

.cardset .cardview input[name=view-filter-status]+label,
.cardset .cardview input[name=view-filter-unused-type]+label,
.cardset .cardview input[name=view-filter-used-type]+label,
.cardset .cardview input[name=view-presentation]+label,
.cardset .cardview input[name=view-sort-field]+label,
.cardset .cardview input[name=view-sort-order]+label {
  font-weight: var(--font-weight-normal);
  cursor: pointer;
  display: none;
}

.cardset .cardview input[name=view-filter-status]:checked+label,
.cardset .cardview input[name=view-filter-unused-type]:checked+label,
.cardset .cardview input[name=view-filter-used-type]:checked+label,
.cardset .cardview input[name=view-presentation]:checked+label,
.cardset .cardview input[name=view-sort-field]:checked+label,
.cardset .cardview input[name=view-sort-order]:checked+label {
  display: inline-block;
}

/* -------------------------------------------- */

.cards {
  margin-bottom: var(--space-double);
}

.cards .card {
  transform: scale(1);
  opacity: 1;
  color: var(--color-text);
  border: none;
}

.cards .card a {
  text-decoration: none;
  display: inline-block;
}
.cards .card a.break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.cards .card .card-img {
  display: block;
  overflow: hidden;
  position: relative;
}

.cards .card .card-img img {
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
}

.cards .card h3 {
  line-height: var(--line-height-subtitle);
  font-weight: var(--font-weight-bold);
}

.cards .card h3 a {
  text-decoration: none;
  color: var(--color-text);
}
.cards .card h3 a:hover {
  color: var(--color-accent-text);
}

/* -------------------------------------------- */

.cards .card.tinytool .card-img {
  border-radius: var(--border-radius-normal) var(--border-radius-normal) 0 0;
}

.cards .card.tinytool .card-img img {
  border-bottom: 1px var(--color-background) solid;
}

.cards .card.tinytool div.tags {
  display: flex;
  flex-flow: row wrap;
  height: max-content;
}

.cards .card.tinytool div.tags a.tag,
.cards .card.tinytool div.tags span {
  display: block;
  border-radius: var(--border-radius-small);
  padding: 0 var(--space-small);
  margin: 0 var(--space-small) var(--space-small) 0;
  text-transform: uppercase;
  font-size: var(--font-size-tiny);
  background-color: var(--color-background);
  color: var(--color-meta);
}

/* ------------ */

.cards .card.photo {
  display: grid;
}

.cards .card.photo .card-img.spotlight {
  cursor: zoom-in;
}

.cards .card.photo span.pre-title {
  font-size: var(--font-size-small);
  opacity: .5;
}

.cards .card.photo span.pre-title em {
  display: inline-block;
}

.cards .card.photo .status {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-medium);
  padding: var(--space-thin) var(--space-median);
  opacity: .75;
  color: #fff;
}

.cards .card.photo .status.used.start {
  background-color: rgba(187, 94, 8, .5);
}
.cards .card.photo .status.used.page {
  background-color: rgba(187, 58, 8, .5);
}
.cards .card.photo .status.used.post {
  background-color: rgba(65, 117, 212, .6);
}
.cards .card.photo .status.used.notes {
  background-color: rgba(135, 115, 0, .5);
}
.cards .card.photo .status.used.dynamic {
  background-color: rgba(93, 65, 167, .5);
}
.cards .card.photo .status.used.anything {
  background-color: rgba(95, 158, 160, .8);
}
.cards .card.photo .status.used.draft {
  background-color: rgba(240, 75, 75, .6);
}
.cards .card.photo .status.unused.pool {
  background-color: rgba(95, 95, 95, .6);
}
.cards .card.photo .status.unused.reserve {
  background-color: rgba(130, 90, 90, .6);
}
.cards .card.photo .status.unused.shed {
  background-color: rgba(90, 115, 130, .6);
}

.cards .card.photo .status em {
  opacity: .5;
}
.cards .card.photo:hover .status {
  opacity: 1;
}

/* ------------ */

.cards .card.hide,
.cards .card.trans {
  transform: scale(0);
  opacity: 0;
}

/* -------------------------------------------- */

.cards.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  --card-photo-width: 12rem;
  --card-photo-padding: var(--space-median);
}
@media screen and (max-width:479px) {
  .cards.list {
    --card-photo-width: 8rem;
    --card-photo-padding: var(--space-small);
  }
}

.cards.list .card {
  padding: var(--space-small);
  padding-bottom: 0;
  margin: var(--space-median) 0;
  display: grid;
}

.cards.list .card .card-img {
  grid-area: image;
  height: auto;
  margin: calc(var(--space-small) * -1);
  margin-bottom: 0;
  border-radius: var(--border-radius-normal) 0 0 0;
}

.cards.list .card .status {
  border-radius: 0 0 var(--border-radius-normal) var(--border-radius-normal);
}

.cards.list .card h3 {
  margin: var(--space-medium) 0 0;
  font-size: var(--font-subtitle-size);
  grid-area: title;
  overflow: hidden;
}

.cards.list .card h3 a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards.list .card p,
.cards.list .card small {
  display: none;
}

/* ------------ */

.cards.list .card.tinytool {
  grid-template-rows: 45px auto;
  grid-template-columns: 100px auto;
  grid-template-areas: "image title" "image tags";
}

.cards.list .card.tinytool .card-img {
  width: 90px;
  border-radius: var(--border-radius-normal) 0 0 var(--border-radius-normal);
}

.cards.list .card.tinytool h3 {
  margin-top: var(--space-small);
}

.cards.list .card.tinytool div.tags {
  grid-area: tags;
  margin: 0 0 var(--space-small) 0;
}

/* ------------ */

.cards.list .card.photo {
  grid-template-rows: var(--space-default) auto auto;
  grid-template-columns: calc(var(--card-photo-width) + var(--card-photo-padding)) auto;
  grid-template-areas: "image link" "image title" "status status";
}

.cards.list .card.photo .card-img {
  width: var(--card-photo-width);
}

.cards.list .card.photo h3 {
  margin: 0;
  align-self: center;
}

.cards.list .card.photo div.card-links {
  display: none;
}

.cards.list .card.photo span.pre-title {
  grid-area: link;
  line-height: var(--line-height-thin);
  padding-top: var(--space-thin);
}

.cards.list .card.photo .status {
  grid-area: status;
  margin: 0 calc(var(--space-small) * -1);
}

/* -------------------------------------------- */

.cards.grid {
  display: grid;
  grid-gap: var(--space-default);
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.cards.grid .card {
  padding: var(--space-medium);
}

.cards.grid .card .card-img {
  margin: calc(var(--space-medium) * -1);
  margin-bottom: 0;
  height: auto;
}

.cards.grid .card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards.grid .card h3 {
  margin: var(--space-medium) 0 var(--space-default);
  font-size: var(--font-subtitle-size);
}

/* ------------ */

.cards.grid .card.tinytool div.tags {
  margin: var(--space-default) 0 var(--space-small);
}

.cards.grid .card.tinytool .card-img:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 85%, #d7d7d7 100%);
}

[data-theme=dark] .cards.grid .card.tinytool .card-img:after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 75%, #292929 100%);
}

/* ------------ */

.cards.grid .card.photo {
  grid-template-rows: auto auto 2rem 1fr 2rem;
  grid-template-areas: "image" "pretitle" "links" "title" "status";
  padding: var(--space-medium) var(--space-medium) 0;
}

.cards.grid .card.photo .card-img {
  grid-area: image;
  border-radius: var(--border-radius-normal) var(--border-radius-normal) 0 0;
}

.cards.grid .card.photo .card-img img {
  height: 12rem;
}
@media screen and (min-width:480px) and (max-width:767px) {
  .cards.grid .card.photo .card-img img {
    height: 14rem;
  }
}
@media screen and (max-width:479px) {
  .cards.grid .card.photo .card-img img {
    height: 15rem;
  }
}

.cards.grid .card.photo h3 {
  grid-area: title;
  align-self: center;
}

.cards.grid .card.photo div.card-links {
  grid-area: links;
  padding-top: var(--space-thin);
}

.cards.grid .card.photo div.card-links a.syndication-link,
.cards.grid .card.photo div.card-links span.info.content {
  width: 16px;
  height: 16px;
  filter: grayscale(1);
}
[data-theme=dark] .cards.grid .card.photo div.card-links a.syndication-link,
[data-theme=dark] .cards.grid .card.photo div.card-links span.info.content {
  filter: grayscale(1) invert(1);
}

.cards.grid .card.photo div.card-links a.syndication-link:hover,
.cards.grid .card.photo div.card-links span.info.content:hover {
  filter: grayscale(0);
  opacity: 1 !important;
}

.cards.grid .card.photo div.card-links a.syndication-link {
  position: relative;
  padding-inline-end: 4px;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 0;
}

.cards.grid .card.photo div.card-links a.syndication-link.host-500px {
  background-image: var(--brand-500px);
  opacity: .33;
}
[data-theme=dark] .cards.grid .card.photo div.card-links a.syndication-link.host-500px:hover {
  filter: invert(1);
}

.cards.grid .card.photo div.card-links a.syndication-link.host-flickr {
  background-image: var(--brand-flickr);
  opacity: .33;
  background-size: 16px;
  margin-inline-start: -1px;
  padding-inline-end: 7px;
}

.cards.grid .card.photo div.card-links a.syndication-link.host-unsplash {
  background-image: var(--brand-unsplash);
  opacity: .25;
  background-size: 12px;
}
[data-theme=dark] .cards.grid .card.photo div.card-links a.syndication-link.host-unsplash:hover {
  filter: invert(1);
}

.cards.grid .card.photo div.card-links a.syndication-link.host-pixelfed {
  background-image: var(--brand-pixelfed);
  opacity: .4;
}
[data-theme=dark] .cards.grid .card.photo div.card-links a.syndication-link.host-pixelfed {
  background-image: var(--brand-pixelfed-invert);
  filter: grayscale(1) invert(0);
}
[data-theme=dark] .cards.grid .card.photo div.card-links a.syndication-link.host-pixelfed:hover {
  filter: grayscale(0);
}

.cards.grid .card.photo div.card-links a.syndication-link.host-vernissage {
  background-image: var(--brand-vernissage);
  opacity: .6;
  background-size: 18px;
}
[data-theme=dark] .cards.grid .card.photo div.card-links a.syndication-link.host-vernissage:hover {
  filter: invert(1);
}

.cards.grid .card.photo div.card-links a.syndication-link.host-peertube {
  background-image: var(--brand-peertube);
  opacity: .6;
  background-size: 14px;
}

.cards.grid .card.photo div.card-links span.info-content {
  display: block;
  float: right;
  padding-inline-start: 8px;
}
[data-theme=dark] .cards.grid .card.photo div.card-links span.info-content {
  filter: invert(1);
}

.cards.grid .card.photo div.card-links span.info-content a {
  display: block;
}

.cards.grid .card.photo div.card-links span.info-content img {
  width: 16px;
  height: 16px;
  opacity: .3;
}

.cards.grid .card.photo span.pre-title {
  grid-area: pretitle;
  display: block;
  margin-block: var(--space-small);
  line-height: var(--line-height-small);
}

.cards.grid .card.photo .status {
  grid-area: status;
  margin: 0 calc(var(--space-medium) * -1);
  border-radius: 0 0 var(--border-radius-normal) var(--border-radius-normal);
}

/* ------------ */

.cards.grid .card.photobox {
  display: grid;
  grid-template-rows: 2rem auto;
  grid-template-areas: "period" "content";
  padding: 0 var(--space-medium) 0;
  margin-inline: var(--space-small);
  overflow: visible;
}

.cards.grid .card.photobox:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(1rem - 1px);
  height: 2rem;
  width: calc(100% + 1rem);
  margin-inline: calc(var(--space-small) * -1);
  margin-block-start: calc(var(--space-medium) * -1);
  border-radius: var(--border-radius-normal);
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #ccc #ccc #ddd;
  box-shadow: 0 8px 8px -8px var(--color-shadow-dark);
  background-image: linear-gradient(0deg, #eee 20%, #fff 60%);
  background-color: var(--color-block);
}
[data-theme=dark] .cards.grid .card.photobox:before {
  border-color: #333 #111 #111 #333;
  background-image: linear-gradient(0deg, #333 20%, #222 60%);
}

.cards.grid .card.photobox small.box-period {
  grid-area: period;
  z-index: 0;
  opacity: .33;
  font-size: var(--font-size-tiny);
  align-self: center;
  text-align: right;
  margin-inline: calc(var(--space-small) * -1);
}

.cards.grid .card.photobox div.box-content {
  grid-area: content;
}

.cards.grid .card.photobox div.box-content a.box-img {
  margin-inline: calc(var(--space-medium) * -1);
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  height: 10rem;
  width: calc(100% + var(--space-normal));
  border-radius: 0;
}

@media screen and (min-width:480px) and (max-width:767px) {
  .cards.grid .card.photobox div.box-content a.box-img {
    height: 12rem;
  }
}
@media screen and (max-width:479px) {
  .cards.grid .card.photobox div.box-content a.box-img {
    height: 13rem;
  }
}
.cards.grid .card.photobox div.box-content a.box-img img {
  height: 10rem;
  object-fit: cover;
  object-position: top;
  width: 100%;
}
@media screen and (min-width:480px) and (max-width:767px) {
  .cards.grid .card.photobox div.box-content a.box-img img {
    height: 12rem;
  }
}
@media screen and (max-width:479px) {
  .cards.grid .card.photobox div.box-content a.box-img img {
    height: 13rem;
  }
}

.cards.grid .card.photobox div.box-content span.box-count {
  position: absolute;
  display: flex;
  bottom: -1px;
  right: 0;
  width: 3rem;
  height: auto;
  align-items: start;
  justify-content: space-evenly;
  padding: var(--space-thin) 0 0 calc(var(--space-thin)/ 2);
  font-size: var(--font-size-medium-extra);
  border-top-left-radius: 40% 70%;
  background-color: var(--color-block);
  box-shadow: inset 4px 4px 8px -6px var(--color-shadow-dark);
}

.cards.grid .card.photobox div.box-content h3 {
  align-self: center;
  word-break: break-word;
}

/* -------------------------------------------- */

.cards.masonry {
  display: block;
}

.cards.masonry .card.photo {
  box-shadow: none;
}

.cards.masonry .card.photo .card-img {
  display: flex;
  width: auto;
  border-radius: var(--border-radius-normal);
}
.cards.masonry .card.photo .card-img img {
  width: 100%;
}

.cards.masonry .card.photo div.card-links;
.cards.masonry .card.photo span.pre-title;
.cards.masonry .card.photo .status,
.cards.masonry .card.photo h3 {
  display: none !important;
}
