.page-content section {
  position: relative;
  margin-block: var(--space-default);
  margin-inline: 0;
  padding: var(--space-normal);
  color: var(--color-text);
}
.page-content section:first-child {
  margin-top: 0;
}

.page-content section figure,
.page-content section pre {
  margin-left: -28px !important;
  margin-right: -28px !important;
}

.page-content section p,
.page-content section table {
  margin: var(--space-default) 0;
  line-height: var(--line-height-text);
}

.page-content section h1,
.page-content section h2,
.page-content section h3,
.page-content section h4,
.page-content section h5,
.page-content section h6 {
  line-height: var(--line-height-title);
  margin: var(--space-medium) 0 var(--space-default);
}
.page-content section h1:first-child,
.page-content section h2:first-child {
  margin-top: 0;
}
.page-content section h1,
.page-content section h2,
.page-content section h3,
.page-content section h5 {
  font-weight: var(--font-weight-bold);
}
.page-content section h4,
.page-content section h6 {
  font-weight: var(--font-weight-normal);
}

.page-content section dl,
.page-content section ol,
.page-content section ul {
  margin-block: var(--space-default);
}

.page-content section fieldset span.result {
  position: absolute;
  right: 0;
}
.page-content section fieldset span.result.error {
  color: var(--color-error);
}

.page-content section time {
  font-size: var(--font-size-small);
  margin-bottom: calc(var(--space-default) * -1);
  position: absolute;
  color: var(--color-meta);
}
.page-content section time.raised {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.page-content section .image-slider img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* ------------------------------------------------------- */

.page-content section.flex {
  display: flex;
  flex-wrap: wrap;
}

.page-content section.flex fieldset {
  flex: 1 1 auto;
}
.page-content section.flex fieldset.gap {
  margin-right: var(--space-default);
  margin-bottom: auto;
}
.page-content section.flex fieldset.max {
  max-width: max-content;
}

@media screen and (max-width:479px) {
  .page-content section.flex fieldset.gap {
    width: 100%;
    margin-right: auto;
    margin-bottom: var(--space-medium);
  }
  .page-content section.flex fieldset.max {
    max-width: 25%;
  }
  .page-content section.flex fieldset.max.expand {
    max-width: 75%;
  }
}

/* ------------------------------------------------------- */

.page-content section.meta ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}

.page-content section.meta ul li {
  display: flex;
  flex-direction: column;
  gap: var(--space-thin);
}

.page-content section.meta ul li label {
  font-family: var(--font-mono);
  font-size: var(--font-size-tiny);
  text-transform: uppercase;
  opacity: .5;
  line-height: normal;
}

.page-content section.meta ul li span {
  line-height: normal;
}

/* ------------------------------------------------------- */

.page-content section.about div.career {
  width: 150px;
  margin: 0 0 var(--space-moderate) var(--space-moderate);
  float: right;
}
.page-content section.about div.career img {
  width: 150px;
  float: left;
}

.page-content section.about img.link {
  float: left;
  margin: var(--space-small) var(--space-moderate) 0 0;
  height: 36px;
  width: 36px;
}
[data-theme=dark] .page-content section.about img.link.invert {
  filter: invert(1);
}

.page-content section.about img.link + p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-content section.about img.link.github + p {
  color: var(--color-github);
}
.page-content section.about img.link.github + p a {
  color: var(--color-github);
  text-decoration-color: var(--color-github);
}

.page-content section.about img.link.devto + p {
  color: var(--color-devto);
}
.page-content section.about img.link.devto + p a {
  color: var(--color-devto);
  text-decoration-color: var(--color-devto);
}

.page-content section.about img.link.xing + p {
  color: var(--color-xing);
}
.page-content section.about img.link.xing + p a {
  color: var(--color-xing);
  text-decoration-color: var(--color-xing);
}

.page-content section.about img.link.linkedin + p {
  color: var(--color-linkedin);
}
.page-content section.about img.link.linkedin + p a {
  color: var(--color-linkedin);
  text-decoration-color: var(--color-linkedin);
}

.page-content section.about img.link.vernissage + p {
  color: var(--color-vernissage);
}
.page-content section.about img.link.vernissage + p a {
  color: var(--color-vernissage);
  text-decoration-color: var(--color-vernissage);
}

.page-content section.about img.link.pixelfed + p {
  color: var(--color-pixelfed);
}
.page-content section.about img.link.pixelfed + p a {
  color: var(--color-pixelfed);
  text-decoration-color: var(--color-pixelfed);
}

.page-content section.about img.link.flickr + p {
  color: var(--color-flickr);
}
.page-content section.about img.link.flickr + p a {
  color: var(--color-flickr);
  text-decoration-color: var(--color-flickr);
}

.page-content section.about img.link.unsplash + p {
  color: var(--color-unsplash);
}
.page-content section.about img.link.unsplash + p a {
  color: var(--color-unsplash);
  text-decoration-color: var(--color-unsplash);
}

.page-content section.about img.link.fivehundredpx + p {
  color: var(--color-500px);
}
.page-content section.about img.link.fivehundredpx + p a {
  color: var(--color-500px);
  text-decoration-color: var(--color-500px);
}

/* ------------------------------------------------------- */

.page-content section.feeds .feed-group {
  margin: var(--space-default) 0 0;
}

.page-content section.feeds .feed-group>strong {
  display: block;
  margin-bottom: var(--space-small);
}

.page-content section.feeds .feed-group a {
  display: grid;
  grid-template-columns: 36px max-content auto;
  grid-template-rows: auto;
  grid-template-areas: "icon link info" ". size .";
  padding-block: var(--space-small);
  align-items: center;
}

.page-content section.feeds .feed-group a span {
  grid-area: link;
}

.page-content section.feeds .feed-group a em {
  grid-area: size;
}

.page-content section.feeds .feed-group a.atom {
  color: var(--color-atom);
  text-decoration-color: var(--color-atom);
}
.page-content section.feeds .feed-group a.rss {
  color: var(--color-rss);
  text-decoration-color: var(--color-rss);
}
.page-content section.feeds .feed-group a.json {
  color: var(--color-json);
  text-decoration-color: var(--color-json);
}

.page-content section.feeds .feed-group a:before {
  grid-area: icon;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}
.page-content section.feeds .feed-group a.atom:before {
  background-image: var(--brand-atom);
}
.page-content section.feeds .feed-group a.rss:before {
  background-image: var(--brand-rss-blue);
  background-size: 22px 22px;
}
.page-content section.feeds .feed-group a.json:before {
  background-image: var(--brand-jsonfeed);
  background-size: 18px 18px;
}

.page-content section.feeds .feed-group a.site-default:after {
  grid-area: info;
  display: inline-block;
  content: "- default";
  margin-left: var(--space-small);
  font-size: var(--font-size-small);
}

/* ------------------------------------------------------- */

.page-content section.mf2feed .h-feed .h-entry {
  margin-block: var(--space-normal);
}
@media screen and (max-width:479px) { 
  .page-content section.mf2feed .h-feed .h-entry {
    margin-block: var(--space-thin);
  }
}

.page-content section.mf2feed .h-feed .h-entry details {
  display: block;
}

.page-content section.mf2feed .h-feed .h-entry details summary {
  cursor: pointer;
}
.page-content section.mf2feed .h-feed .h-entry details summary::marker {
  position: absolute;
  top: 0;
}

.page-content section.mf2feed .h-feed .h-entry details summary img {
  max-width: 480px;
  margin-inline-start: var(--space-default);
  margin-block-start: calc(var(--space-medium) * -1);
}
@media screen and (max-width:479px) {
  .page-content section.mf2feed .h-feed .h-entry details summary img {
    max-width: 92%;
  }
}

.page-content section.mf2feed .h-feed .h-entry details article,
.page-content section.mf2feed .h-feed .h-entry details header {
  padding-inline: var(--space-default);
}
@media screen and (max-width:479px) {
  .page-content section.mf2feed .h-feed .h-entry details article,
  .page-content section.mf2feed .h-feed .h-entry details header {
    padding-inline: 0;
  }
  .page-content section.mf2feed .h-feed .h-entry details article {
    padding-block-start: var(--space-thin);
  }
}

.page-content section.mf2feed .h-feed .h-entry details header {
  padding-block-start: var(--space-medium);
}

.page-content section.mf2feed .h-feed .h-entry details header a {
  text-decoration: none;
}
.page-content section.mf2feed .h-feed .h-entry details header a:hover {
  text-decoration: revert;
}

.page-content section.mf2feed .h-feed .h-entry details header time {
  position: unset;
  margin-block: var(--space-small);
}

.page-content section.mf2feed .h-feed .h-entry details header h3,
.page-content section.mf2feed .h-feed .h-entry details header h4 {
  line-height: var(--line-height-text);
}
.page-content section.mf2feed .h-feed .h-entry details header h3 {
  margin-block: var(--space-small) 0;
}
.page-content section.mf2feed .h-feed .h-entry details header h4 {
  font-size: var(--font-size-normal);
}
@media screen and (min-width:768px) {
  .page-content section.mf2feed .h-feed .h-entry details header h4 {
    margin-block-end: 0;
  }
}

.page-content section.mf2feed .h-feed .h-entry details img {
  max-width: 100%;
}

@media screen and (min-width:768px) {
  .page-content section.mf2feed .h-feed .h-entry details hr {
    margin-block: var(--space-medium) var(--space-block);
  }
}

/* ------------------------------------------------------- */

.page-content section.concert {
  display: grid;
  grid-template-areas: "image name" "info info" "post post";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  gap: var(--space-medium);
  padding: var(--space-medium);
  padding-bottom: 0;
}
@media screen and (min-width:768px) {
  .page-content section.concert {
    padding: var(--space-default);
    padding-bottom: 0;
  }
}

.page-content section.concert a.concert-artist {
  grid-area: image;
}
.page-content section.concert a.concert-artist img {
  width: 75px;
  border-radius: var(--border-radius-small);
}
.page-content section.concert div.concert-name,
.page-content section.concert div.concert-info {
  font-size: var(--font-size-medium);
}
.page-content section.concert div.concert-name {
  grid-area: name;
}
.page-content section.concert div.concert-info {
  grid-area: info;
}
.page-content section.concert div.concert-post {
  grid-area: post;
  margin-bottom: var(--space-medium);
}


.page-content section.concert h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: var(--line-height-text);
}

.page-content section.concert .concert-guests {
  margin-top: var(--space-thin);
  opacity: 0.75;
}

.page-content section.concert .concert-info a {
  font-size: var(--font-size-small);
  margin-top: var(--space-small);
  display: inline-block;
}

/* ------------------------------------------------------- */

.page-content section.stats-bc {
  display: grid;
  grid-template-areas: "image info" "list list";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--space-medium);
  padding: var(--space-medium);
}
@media screen and (min-width:768px) {
  .page-content section.stats-bc {
    grid-template-areas: "image info list";
    grid-template-columns: auto 25% 1fr;
    grid-template-rows: auto;
    padding: var(--space-default);
  }
}

.page-content section.stats-bc a.bc-artist {
  grid-area: image;
  line-height: 0;
}
.page-content section.stats-bc a.bc-artist img {
  width: 75px;
  border-radius: var(--border-radius-small);
}
.page-content section.stats-bc a.bc-artist + h2 {
  grid-area: info;
  margin: 0;
  font-size: var(--font-subtitle-size);
  line-height: var(--line-height-subtitle);
}

.page-content section.stats-bc ul.bc-list {
  grid-area: list;
  width: 100%;
  margin: 0;
  margin-top: var(--space-small);
  list-style: none;
  display: grid;
  gap: var(--space-medium);
}
@media screen and (min-width:768px) {
  .page-content section.stats-bc ul.bc-list {
    margin-top: unset;
  }
}
.page-content section.stats-bc ul.bc-list li {
  /**/
}
.page-content section.stats-bc ul.bc-list details {
  /**/
}
.page-content section.stats-bc ul.bc-list details summary {
  list-style: none;
  padding: 0;
  padding-left: 2rem;
  cursor: pointer;
}
.page-content section.stats-bc ul.bc-list details summary h3 {
  margin: 0;
  font-size: var(--font-size-default);
  line-height: var(--line-height-medium);
}
.page-content section.stats-bc ul.bc-list details summary small {
  opacity: 0.75;
}
.page-content section.stats-bc ul.bc-list details summary svg {
    width: 1.5rem;
    height: 1.5rem;
    float: left;
    margin-left: -2rem;
    margin-top: var(--space-narrow);
    transition: all ease-out .2s;
}
.page-content section.stats-bc ul.bc-list details[open] summary svg {
  transform: rotate(-20deg);
}
.page-content section.stats-bc ul.bc-list details .bc-more {
  margin-top: var(--space-medium);
  padding-inline: var(--space-thin);
  height: 100%;
}
.page-content section.stats-bc ul.bc-list details[open] .bc-more {
  animation: animateDown 0.2s linear forwards;
}

/* ------------------------------------------------------- */

.page-content section.stats {
  line-height: 2.5rem;
  /* padding-inline: var(--space-normal) !important;
  padding-block: var(--space-default) !important; */
}

.page-content section.stats b,
.page-content section.stats i,
.page-content section.stats a {
  display: inline;
  margin-inline: 0.25rem;
  white-space: nowrap;
  border-radius: var(--border-radius-small);
}
.page-content section.stats b,
.page-content section.stats i {
  padding-block: var(--space-narrow) var(--space-thin);
  padding-inline: 0.66rem;
  color: var(--color-logo);
}
.page-content section.stats b {
  font-size: 1.25rem;
  background-color: var(--color-accent);
}
:root[data-theme="dark"] .page-content section.stats b {
  background-color: var(--color-accent-median);
}
.page-content section.stats span {
  font-weight: bold;
}
.page-content section.stats span,
.page-content section.stats i,
.page-content section.stats a {
  font-size: 1.125rem;
}
.page-content section.stats i {
  background-color: var(--color-accent-text-near);
  padding-top: 0.25rem;
}
.page-content section.stats a {
  font-weight: var(--font-weight-extrabold);
}
@media screen and (max-width:479px) { 
  .page-content section.stats {
    line-height: 2.25rem;
    /* padding-inline: var(--space-moderate) !important;
    padding-block: var(--space-medium) !important; */
  }
  .page-content section.stats b,
  .page-content section.stats i,
  .page-content section.stats a {
    margin-block: var(--space-narrow);
    margin-inline: var(--space-thin);
  }
  .page-content section.stats b {
    font-size: 1.1rem;
  }
  .page-content section.stats span {
    font-weight: bold;
  }
  .page-content section.stats span,
  .page-content section.stats i,
  .page-content section.stats a {
    font-size: 1rem;
  }
  .page-content section.stats b,
  .page-content section.stats i {
    padding-inline: 0.5rem;
  }
}

/* ------------------------------------------------------- */

.page-content section.image {
  background: 0 0;
  box-shadow: none;
  padding: 0;
  position: relative;
  margin-bottom: 0;
}

.page-content section.image img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-normal);
  box-shadow: var(--length-shadow) var(--color-border);
}

.page-content section.image #photo {
  cursor: help;
}

.page-content section.image small {
  opacity: .33;
  font-size: var(--font-size-tiny);
}

/* ------------------------------------------------------- */

.page-content section.colorlist {
  display: none;
  background: 0 0;
  box-shadow: none;
  padding: 0;
  position: relative;
  margin: 0;
  font-size: var(--font-size-medium);
}

.page-content section.colorlist ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "x x" "a1 a2" "b1 b2" "c1 c2";
  gap: var(--space-medium);
  margin: var(--space-default) 0;
}

@media screen and (max-width:600px) {
  .page-content section.colorlist ul {
    grid-template-columns: 1fr;
    grid-template-areas: "x" "a1" "b1" "c1" "a2" "b2" "c2";
  }
}

.page-content section.colorlist ul li {
  display: grid;
  grid-template-columns: auto 64px;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin: 0;
  gap: 0 var(--space-normal);
  width: auto;
  position: relative;
  padding: 1rem;
  border-radius: var(--border-radius-normal);
  background: var(--color-block);
}

.page-content section.colorlist ul li[data-swatch=Custom] {
  grid-area: x;
}
.page-content section.colorlist ul li[data-swatch=DarkVibrant] {
  grid-area: a1;
}
.page-content section.colorlist ul li[data-swatch=Vibrant] {
  grid-area: b1;
}
.page-content section.colorlist ul li[data-swatch=LightVibrant] {
  grid-area: c1;
}
.page-content section.colorlist ul li[data-swatch=DarkMuted] {
  grid-area: a2;
}
.page-content section.colorlist ul li[data-swatch=Muted] {
  grid-area: b2;
}
.page-content section.colorlist ul li[data-swatch=LightMuted] {
  grid-area: c2;
}

.page-content section.colorlist ul li[data-accent=true]:after {
  content: var(--icon-badge-invert);
  position: absolute;
  top: var(--space-median);
  right: var(--space-small);
  width: 24px;
  z-index: 0;
}

.page-content section.colorlist ul li span {
  grid-area: 1/1/2/2;
  min-width: 5rem;
}

.page-content section.colorlist ul li strong {
  grid-area: 2/1/3/2;
  min-width: 130px;
}

.page-content section.colorlist ul li em {
  grid-area: 3/1/4/2;
}

.page-content section.colorlist ul li div {
  grid-area: 1/2/4/3;
  width: 6.5rem;
  height: 6.5rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 0 var(--border-radius-normal) var(--border-radius-normal) 0;
  cursor: alias;
}

/* ------------------------------------------------------- */

section.archive-articles {
  margin: var(--space-block) 0;
}

h2.section-heading,
section.archive-articles .archive-year {
  display: block;
  margin-left: 0;
  margin-bottom: var(--space-medium);
  font-size: var(--font-subtitle-size);
  color: var(--color-meta);
}

h2.section-heading {
  margin-top: var(--space-block);
  margin-bottom: var(--space-extra);
}
h2.section-heading:first-of-type {
    margin-top: 0;
}

/* ------------------------------------------------------- */

section .article-footer {
  padding: 0;
  margin: calc(var(--space-small) * -1);
}
@media screen and (max-width:479px) {
  section .article-footer {
    margin: calc(var(--space-medium) * -1);
  }
}
