.panels {
  column-gap: 0;
  margin-block: calc(var(--space-normal) * -1) var(--space-normal);
  margin-inline: calc(var(--space-medium) * -1);
}
.panels.archives {
  margin-block: calc(var(--space-default) * -1);
}
@media screen and (min-width:480px) and (max-width:767px) {
  .panels {
    column-count: 2;
  }
}
@media screen and (min-width:768px) {
  .panels {
    column-count: 3;
  }
}

.panel {
  page-break-inside: avoid;
  break-inside: avoid-column;
  padding: var(--space-normal) 0;
  margin: calc(var(--space-normal) * -1) var(--space-medium);
}
.panel:first-child {
  margin-top: 0;
}

.panel-inner {
  padding: var(--space-median);
}
.panel-inner.today {
  border-top: 8px var(--color-accent) solid;
}
.panel-inner.yesterday {
  border-top: 8px var(--color-accent-median) solid;
}

.panel-header {
  margin-inline: calc(var(--space-median) * -1);
  margin-block-start: calc(var(--space-median) * -1);
  margin-block-end: var(--space-median);
}

.panel-content {
  padding: 0 var(--space-small) var(--space-medium);
  overflow: hidden;
}

.panel-content p {
  margin-top: var(--space-median);
  margin-bottom: 0 !important;
}
/* .panel-content p.small {
  font-size: var(--font-size-code);
  line-height: var(--line-height-small);
} */

.panel-content small.sub-info {
  display: block; 
  margin-block: calc(var(--space-median) * -1) var(--space-small);
}
.panel-content a.sub-link {
  display: block;
  margin-block-start: calc(var(--space-thin) * -1);
  font-size: var(--font-size-code);
}

.panel-content div.icon-links {
  margin: var(--space-medium) 0 var(--space-moderate);
}
.panel-content div.icon-links a {
  text-decoration: none;
  background-repeat: no-repeat;
  min-width: 16px;
  display: inline-block;
  margin-inline-end: var(--space-thin);
  filter: grayscale(1);
  color: var(--color-button-text);
}
.panel-content div.icon-links a:hover {
  filter: grayscale(0);
  opacity: 1 !important;
}

.panel-content div.icon-links a.mastodon {
  background-image: var(--brand-mastodon);
  background-size: 14px;
  background-position: 0 6px;
  opacity: .4;
}
.panel-content div.icon-links a.rss {
  background-image: var(--brand-rss);
  background-size: 18px;
  background-position: 0 4px;
  opacity: .5;
}
.panel-content div.icon-links a.rss:hover {
  color: var(--color-rss);
}
.panel-content div.icon-links a.rss small {
  padding-left: 22px;
}

.panel-favicon {
  display: block;
  margin-top: var(--space-median);
}
.panel-favicon img {
  width: 32px;
  height: 32px;
  margin: 0;
}

.panel-photo {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.panel-category,
.panel-date {
  font-size: var(--font-size-small);
  margin-bottom: var(--space-medium);
  display: inline-block;
}
.panel-category {
  float: right;
}

.panel-date time.updated {
  display: block;
  line-height: var(--line-height-tiny);
  color: var(--color-text);
}
.panel-date time.updated:before {
  content: "Update, ";
}

.panel-anything {
  display: block;
  text-decoration: none;
  line-height: var(--line-height-thin);
  text-transform: uppercase;
  font-size: var(--font-size-small);
  color: var(--color-meta);
}
.panel-anything:hover {
  color: var(--color-accent-text);
}

.panel-title {
  position: relative;
  z-index: 0;
  display: inline-block;
  margin-top: var(--space-small);
  margin-bottom: var(--space-small);
  text-decoration: none;
  line-height: var(--line-height-text);
  font-size: var(--font-subtitle-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  transition: color .2s;
}
.panel-title:hover {
  color: var(--color-accent-text);
}
.panel-title:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.panel-title:before {
  position: absolute;
  z-index: -1;
  margin: -.25rem -.5rem;
  background: var(--color-block);
  content: "";
  border-radius: var(--border-radius-normal);
  inset: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s ease-in-out;
}

.panel-subtitle {
  margin-top: var(--space-small);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-medium);
  color: var(--color-meta);
}

.panel-footer {
  font-size: var(--font-size-small);
}

.panel-tags {
  opacity: .5;
  transition: all ease-out .4s;
}
.panel-tags:hover {
  opacity: 1;
}
.panel-tags li {
  float: right;
}
