/* global-reset() from Stylus NIB Extensions (https://stylus.github.io/nib) */
html,body,
div,span,
applet,object,
iframe,
h1,h2,h3,h4,h5,h6,
p,a,q,s,
blockquote,
pre,code,
abbr,acronym,address,
big,cite,
del,dfn,img,ins,kbd,
samp,sub,sup,
strong,small,em,strike,
tt,var,
dl,dt,dd,
ol,ul,li,
fieldset,form,label,
legend,caption,
table,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* https://frontendmasters.com/blog/the-coyier-css-starter/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}











