/* Start ---------------------------------------------------------- */
#introduction h1.page-title {
  display: block;
  text-align: center;
  font-size: 1.9rem;
  letter-spacing: .1rem;
  margin: var(--space-double) auto var(--space-small);
  font-weight: var(--font-weight-normal);
}
@media screen and (max-width:479px) {
  #introduction h1.page-title {
    font-size: 1.6rem;
    letter-spacing: 0;
  }
}

#introduction h1.page-title strong {
  font-weight: var(--font-weight-extrabold);
  background: url("/images/banner.jpg") no-repeat 58% 67%;
  -webkit-background-clip: text;
  color: transparent;
}

#introduction .page-content {
  position: relative;
  text-align: justify;
  max-width: 410px;
  margin: 0 auto;
}

@media screen and (max-width:479px) {
  #introduction .page-content {
    padding: 0 1.5rem;
  }
}

#introduction .page-content:before {
  display: block;
  position: absolute;
  z-index: -1;
  opacity: .75;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: var(--icon-w) var(--icon-h);
  width: var(--icon-w);
  height: var(--icon-h);
  filter: invert(1);
}
[data-theme=dark] #introduction .page-content:before {
  filter: invert(.1);
}

#introduction.d0 .page-content:before {
  --icon-w: 200px;
  --icon-h: 200px;
  background-image: url("/images/icons/brush.svg");
  top: -70px;
  left: -125px;
  transform: rotate(110deg);
}
@media screen and (max-width:479px) {
  #introduction.d0 .page-content:before {
    top: -60px;
    left: -100px;
    transform: rotate(300deg);
  }
}

#introduction.d1 .page-content:before {
  --icon-w: 140px;
  --icon-h: 145px;
  background-image: url("/images/icons/pencil.svg");
  top: -35px;
  left: -100px;
  transform: rotate(200deg) scaleX(-1);
}
@media screen and (max-width:479px) {
  #introduction.d1 .page-content:before {
    top: -30px;
    left: -70px;
    transform: rotate(20deg) scaleX(-1);
  }
}

#introduction.d2 .page-content:before {
  --icon-w: 220px;
  --icon-h: 225px;
  background-image: url("/images/icons/thumbtack.svg");
  top: -70px;
  left: -150px;
  transform: rotate(340deg);
}
@media screen and (max-width:479px) {
  #introduction.d2 .page-content:before {
    top: -60px;
    left: -125px;
  }
}

#introduction.d3 .page-content:before {
  --icon-w: 190px;
  --icon-h: 170px;
  background-image: url("/images/icons/feather.svg");
  top: -40px;
  left: -110px;
  transform: rotate(280deg);
}
@media screen and (max-width:479px) {
  #introduction.d3 .page-content:before {
    top: -40px;
    left: -85px;
    transform: rotate(290deg);
  }
}

#introduction.d4 .page-content:before {
  --icon-w: 190px;
  --icon-h: 170px;
  background-image: url("/images/icons/bullhorn.svg");
  top: -40px;
  left: -135px;
  transform: rotate(50deg) scaleX(-1);
}
@media screen and (max-width:479px) {
  #introduction.d4 .page-content:before {
    top: -25px;
    left: -110px;
    transform: rotate(55deg) scaleX(-1);
  }
}

#introduction.d5 .page-content:before {
  background-image: url("/images/icons/pen.svg");
  --icon-w: 100px;
  --icon-h: 180px;
  top: -60px;
  left: -100px;
  transform: rotate(325deg);
}
@media screen and (max-width:479px) {
  #introduction.d5 .page-content:before {
    top: -40px;
    left: -30px;
    transform: rotate(140deg);
  }
}

#introduction.d6 .page-content:before {
  --icon-w: 170px;
  --icon-h: 175px;
  background-image: url("/images/icons/tag.svg");
  top: -45px;
  left: -130px;
  transform: rotate(5deg);
}
@media screen and (max-width:479px) {
  #introduction.d6 .page-content:before {
    top: -50px;
    left: -110px;
    transform: rotate(195deg);
  }
}

/* 404 ---------------------------------------------------------- */

#wrap-404 {
  text-align: center;
  margin: var(--space-moderate) 0 var(--space-block)
}
#wrap-404 pre {
  background-color: transparent;
  white-space: pre;
  letter-spacing: 0;
  font-family: var(--font-mono);
  font-size: var(--font-size-normal);
  zoom: 80%
}
@media screen and (max-width:479px) {
  #wrap-404 pre {
    zoom: 50%
  }
}

/* Comments ----------------------------------------------------- */

#comments {
  background: var(--color-block);
  box-shadow: 1px 2px 3px var(--color-shadow);
  padding: var(--space-normal);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-normal);
  margin: var(--space-block) 0;
}

#comments a {
  color: var(--color-accent-text);
}

/* Map ---------------------------------------------------------- */

[data-theme=dark] #map .leaflet-control-attribution,
[data-theme=dark] #map .leaflet-control-zoom-in,
[data-theme=dark] #map .leaflet-control-zoom-out,
[data-theme=dark] #map .leaflet-layer {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

#map.page-map {
  height: 320px;
  margin: var(--space-medium) calc(var(--space-normal) * -1) var(--space-small);
}

#map.inline-map {
  border-radius: var(--border-radius-normal);
  height: calc(80vh);
  width: 100%;
  margin: 0 0 var(--space-block) 0;
}

#map .photoPopup .leaflet-popup-content-wrapper,
#map .photoPopup .leaflet-popup-tip {
  border-radius: var(--border-radius-normal);
  background-color: var(--color-background);
  color: var(--color-text);
}

#map .photoPopup .leaflet-popup-content-wrapper .leaflet-popup-content ul {
  margin: var(--space-small) 0 0 0;
  list-style-type: none;
}

#map .photoPopup .leaflet-popup-content-wrapper .leaflet-popup-content li {
  line-height: var(--line-height-normal);
}

#map .photoPopup .leaflet-popup-content-wrapper .leaflet-popup-content li a {
  transition: all ease-out .2s;
  color: var(--color-accent-text);
}

#map .photoPopup .leaflet-popup-content-wrapper .leaflet-popup-content li span {
  opacity: .5;
}

/* Archive Filter ---------------------------------------------------------- */

#archive-filter > em {
  font-style: italic;
  font-size: var(--font-size-medium);
  margin-left: var(--space-thin);
}

#archive-filter #archive-filter-wrapper {
  padding: 0 var(--space-default) var(--space-small) 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  font-size: var(--font-size-medium);
  background: linear-gradient(90deg, var(--color-background) 5%, var(--color-block) 50%, var(--color-background) 100%);
}

#archive-filter .archive-filter-list {
  flex: 0 0 auto;
  transition: all .2s ease;
}

#archive-filter .archive-filter-list:hover {
  color: var(--color-accent-text);
}

#archive-filter .archive-filter-list h2 {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  margin-block: var(--space-medium) var(--space-small);
  margin-left: var(--space-median);
}

#archive-filter .archive-filter-list ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 230px;
  margin-block: var(--space-small);
  margin-inline: var(--space-median);
}

#archive-filter .archive-filter-list ul li {
  flex: 1 0 25%;
  border-left: 2px var(--color-border) solid;
  margin: 1px 0 1px 0;
  padding: 0 8px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#archive-filter .archive-filter-list ul li:hover {
  border-left: 4px var(--color-accent) solid;
  margin-left: -1px;
  padding-left: 9px;
}

#archive-filter .archive-filter-list ul li a {
  display: block;
  min-width: 6rem;
  margin-right: var(--space-default);
  color: var(--color-text);
  text-decoration: none;
}

#archive-filter .archive-filter-list ul li a:hover {
  text-decoration: none;
}

#archive-filter .archive-filter-list ul li:hover a,
#archive-filter .archive-filter-list ul li:hover span {
  color: var(--color-accent-text);
}

#archive-filter .archive-filter-list ul li span {
  padding-left: 0;
  height: 22px;
  width: 22px;
  text-align: center;
  background-color: var(--color-background);
}

#archive-filter .archive-filter-list.archive-filter-list-months ul {
  display: block;
  overflow: auto;
  max-height: 220px;
  padding-left: 1px;
}

#archive-filter .archive-filter-list.archive-filter-list-months ul::-webkit-scrollbar {
  width: 0;
}

/* Stats Sections  ---------------------------------------------------------- */

.stats-section {
  line-height: 2.5rem;
  padding-inline: var(--space-normal) !important;
  padding-block: var(--space-default) !important;
}

.stats-section b,
.stats-section i,
.stats-section a {
  display: inline;
  margin-inline: 0.25rem;
  white-space: nowrap;
  border-radius: var(--border-radius-small);
}
.stats-section b,
.stats-section i {
  padding-block: 0.125rem 0.25rem;
  padding-inline: 0.66rem;
  color: var(--color-logo);
}
.stats-section b {
  font-size: 1.25rem;
  background-color: var(--color-accent);
}
:root[data-theme="dark"] .stats-section b {
  background-color: var(--color-accent-median);
}
.stats-section span {
  font-weight: bold;
}
.stats-section span,
.stats-section i,
.stats-section a {
  font-size: 1.125rem;
}
.stats-section i {
  background-color: var(--color-accent-text-near);
  padding-top: 0.25rem;
}
.stats-section a {
  font-weight: var(--font-weight-extrabold);
}
@media screen and (max-width:479px) { 
  .stats-section {
    line-height: 2.25rem;
    padding-inline: var(--space-moderate) !important;
    padding-block: var(--space-medium) !important;
  }
  .stats-section b,
  .stats-section i,
  .stats-section a {
    margin-inline: 0.25rem;
  }
  .stats-section b {
    font-size: 1.1rem;
  }
  .stats-section span {
    font-weight: bold;
  }
  .stats-section span,
  .stats-section i,
  .stats-section a {
    font-size: 1rem;
  }
  .stats-section b,
  .stats-section i {
    padding-inline: 0.5rem;
  }
}

/* Activity Graph  ---------------------------------------------------------- */

.activity-graph-wrapper {
  margin-top: calc(var(--space-extra) * -1);
  padding-block: var(--space-normal) var(--space-medium);
  padding-inline: var(--space-normal);
}

.activity-graph-wrapper figcaption { 
  padding-block-end: var(--space-median);
}

.activity-graph-wrapper table tr td,
.activity-graph-wrapper table tr th {
    padding: unset;
    font-weight: unset;
    border: 0px solid transparent !important;
}
.activity-graph-wrapper table tr {
  line-height: 1rem;
}
.activity-graph-wrapper table tr:nth-child(2n) {
  background: unset !important;
}

.activity-graph-wrapper table tr th.year {
  font-weight: bold;
}