#spotlight .spl-header .spl-page {
  margin-left: var(--space-medium)
}

#spotlight .spl-footer .spl-title {
  font-size: var(--font-subtitle-size);
  margin-bottom: var(--space-medium)
}

#spotlight .spl-footer .spl-description {
  margin-bottom: var(--space-extra)
}

#spotlight .spl-footer .spl-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: var(--space-median) var(--space-default);
  margin: var(--space-default);
  border-radius: var(--border-radius-small);
  background-color: #000;
  color: #fff;
  opacity: .75;
  text-transform: uppercase
}

#spotlight .spl-footer .spl-button:hover {
  opacity: 1;
  background-color: #000
}

@media screen and (max-width:479px) {
  #spotlight .spl-footer .spl-button {
    padding: calc(var(--space-medium)/ 3) var(--space-medium);
    margin: var(--space-medium)
  }
}
