@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"
@import "_pagefind"
@import "_contact"
@import "_fontawesome"
@import "_opensans"
@import "_sourcecodepro"

global-reset()

::-webkit-scrollbar
  width: 8px;
  height: 8px;
  background-color: color-background
  /[data-theme="dark"] &
    background-color: dark-color-background
::-webkit-scrollbar-track
  background-color: color-background
  /[data-theme="dark"] &
    background-color: dark-color-background
::-webkit-scrollbar-thumb
  background-color: color-border
  /[data-theme="dark"] &
    background-color: dark-color-border

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

a
  transition: all ease-out 0.2s
  color: color-link
  /[data-theme="dark"] &
    color: dark-color-link

html, body, #container
  height: 100%

html.gray
  #content, #footer, img, svg
    filter: grayscale(1) !important

html.gray[data-theme="light"]
  #content
    p, a
      color: #111 !important
    li:hover
      border-color: #111 !important

html.gray[data-theme="dark"]
  #content
    p, a
      color: #fff !important
    li:hover
      border-color: #fff !important

body
  color: color-foreground
  background: color-background
  /[data-theme="dark"] &
    color: dark-color-foreground
    background: dark-color-background
  font: font-size font-sans
  -webkit-text-size-adjust: 100%
  @media mq-normal
    // overflow: scroll !important --- why that, interfers with downupPopup

.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 gutter-width

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

.hide
  display: none

hr.divider
  display: block
  border: 0px
  height: 24px
  background-image: url('/images/divider.png')
  background-repeat: no-repeat
  background-position: center
  margin: 24px 0
  opacity: 0.1
  clear: both
  /[data-theme="dark"] &
    opacity: 0.5

table {
  width: 100%;
  border-collapse: collapse;
}
tbody tr:nth-child(even) {
    background: #eee;
}
tr:not(.no-border) th:not(:empty), td {
  border: 1px #eee solid;
}
th, td {
	padding: 8px;
}
th {
  font-weight: bold;
}

.fa-icon-mail:before
  font-family: fa-icon-solid
  content: icon-mail
.fa-icon-phone:before
  font-family: fa-icon-solid
  content: icon-phone
.fa-icon-linkedin:before 
  font-family: fa-icon-brands
  content: icon-linkedin
  color: color-linkedin
.fa-icon-xing:before 
  font-family: fa-icon-brands
  content: icon-xing
  color: color-xing
.fa-icon-mastodon:before 
  font-family: fa-icon-brands
  content: icon-mastodon
  color: color-mastodon
.fa-icon-github:before 
  font-family: fa-icon-brands
  content: icon-github
  color: color-github
.fa-icon-500px:before 
  font-family: fa-icon-brands
  content: icon-500px
  color: color-500px
.fa-icon-download:before
  font-family: fa-icon-solid 
  content: icon-download

pre.json
  font-family: 'Roboto Mono',monospace
  font-size: 13px
  .string 
    color: #4271ae
  .number 
    color: #4271ae
  .boolean 
    color: #4271ae
  .null
    color: #ababab
  .key
    color: #c15353

#container, #inner-container
  position: relative

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  background: color-background
  /[data-theme="dark"] &
    background: dark-color-background

if sidebar and sidebar isnt bottom
  main:not(.hide-sidebar)
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    main
      float: right

.medium-zoom--opened .medium-zoom-overlay
  z-index: 999
  backdrop-filter: blur(8px)

.medium-zoom-image--opened
  z-index: 1000

#wrap-404
  text-align: center
  margin: 20px 0 40px
  pre
    white-space:pre
    letter-spacing:0
    font-family: font-mono
    font-size: 16px
    zoom: 80%
    @media mq-mobile
      zoom: 50%

#introduction
  .page-title
    text-align: center
    font-size: 2.4em
    @media mq-mobile
      font-size: 2em
    margin: 1em auto 0.5em
    font-weight: 300
    strong
      font-weight: 900
      background: url(/images/banner.jpg) no-repeat 58% 67%
      -webkit-background-clip: text
      color: transparent
  .page-content
    position: relative
    text-align: justify
    max-width: 400px
    margin: 0 auto
    @media mq-mobile
      padding: 0 1.75em
    &:before
      display: block
      position: absolute
      font-family: fa-icon-solid
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      z-index: -1
      color: #fff
      opacity: 0.75
      /[data-theme="dark"] &
        color: #1a1a1a
  &.d0
    .page-content:before
      content: icon-code
      font-size: 14em
      top: 1px
      left: -108px
      transform: rotate(346deg)
      @media mq-mobile
        font-size: 14em
        top: 4px
        left: -116px
        transform: rotate(355deg)
  &.d1
    .page-content:before
      content: icon-pen
      font-size: 14em
      top: -8px
      left: -120px
      transform: rotate(110deg)
      @media mq-mobile
        font-size: 13em
        top: 11px
        left: -80px
        transform: rotate(116deg)
  &.d2
    .page-content:before
      content: icon-thumbtack
      font-size: 15em
      top: -4px
      left: -106px
      transform: rotate(339deg)
      @media mq-mobile
        font-size: 16em
        top: -16px
        left: -100px
        transform: rotate(342deg)
  &.d3
    .page-content:before
      content: icon-feather
      font-size: 14em
      top: -11px
      left: -137px
      transform: rotate(293deg)
      @media mq-mobile
        font-size: 14em;
        top: -16px;
        left: -98px;
        transform: rotate(298deg);
  &.d4
    .page-content:before
      content: icon-penfancy
      font-size: 14em
      top: -11px
      left: -121px
      transform: rotate(113deg)
      @media mq-mobile
        font-size: 13em
        top: 1px
        left: -80px
        transform: rotate(123deg)
  &.d5
    .page-content:before
      content: icon-penclip
      font-size: 13em
      top: 0px
      left: -110px
      transform: rotate(298deg)
      @media mq-mobile
        font-size: 13em
        top: 4px
        left: -100px
        transform: scaleX(-1) rotate(327deg)
  &.d6
    .page-content:before
      content: icon-paperclip
      font-size: 14em
      top: -3px
      left: -122px
      transform: scaleX(-1) rotate(337deg)
      @media mq-mobile
        font-size: 13em
        top: 13px
        left: -83px
        transform: scaleX(-1) rotate(322deg)

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/page"
@import "_partial/anything"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"
@import "_partial/animation"
@import "_partial/alertbox"

if sidebar
  @import "_partial/sidebar"