@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"
@import "_pagefind"
@import "_lc-select"
@import "_downpopup"
@import "_dialog"
@import "_opensans"
@import "_lexend"
@import "_sourcecodepro"
@import "_auto-card-links"
  
global-reset()

::-webkit-scrollbar
  width: 8px
  height: 8px
  background-color: color-background
  /[data-theme="dark"] &
    background-color: dark-color-background
::-webkit-scrollbar-track
  background-color: color-background
  /[data-theme="dark"] &
    background-color: dark-color-background
::-webkit-scrollbar-thumb
  background-color: color-border
  /[data-theme="dark"] &
    background-color: dark-color-border

:root
  --color-accent: color-base
  --color-accent1: color-base
  --color-accent2: color-base
  /[data-theme="dark"] &
    --color-accent: dark-color-base
    --color-accent1: dark-color-default
    --color-accent2: dark-color-base
  --brand-mastodon: url(/images/icons/mastodon.svg)
  --brand-bluesky: url(/images/icons/bluesky.svg)
  --brand-flickr: url(/images/icons/flickr.svg)
  --brand-github: url(/images/icons/github.svg)
  --brand-reddit: url(/images/icons/reddit.svg)
  --brand-twitter: url(/images/icons/twitter.svg)
  --brand-facebook: url(/images/icons/facebook.svg)
  --brand-devto: url(/images/icons/devto.svg)
  --brand-pixelfed: url(/images/icons/pixelfed.svg)
  --brand-linkedin: url(/images/icons/linkedin.svg)
  --brand-xing: url(/images/icons/xing.svg)
  --brand-500px: url(/images/icons/500px.svg)
  --brand-unsplash: url(/images/icons/unsplash.svg)
  --brand-lemmy: url(/images/icons/lemmy.svg)
  --brand-vernissage: url(/images/icons/vernissage.svg)

html
  text-size-adjust: none // Andy Bells Modernized Reset
  font-size: font-size

html, body
  height: 100%

body
  accent-color: var(--color-accent)
  color: color-foreground
  background: color-background
  /[data-theme="dark"] &
    color: dark-color-foreground
    background: dark-color-background
  font-family: font-sans
  font-weight: font-weight-normal
  min-height: 100vh // Andy Bells Modernized Reset
  line-height: line-height // Andy Bells Modernized Reset

.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 gutter-width

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

.hide
  display: none

h1, h2, h3, h4, button, input, label
  line-height: line-height // Andy Bells Modernized Reset

h1, h2, h3, h4
  text-wrap: balance // Andy Bells Modernized Reset !

p
  text-wrap: pretty

img.limit 
  max-width: 240px
  @media mq-normal
    max-width: 360px
  @media mq-tablet
    max-width: 320px

img.float-right
  float: right
  width: 38%
  padding: 16px 0 16px 16px
  @media mq-normal
    width: 24%
    padding: 32px 0 32px 32px
  @media mq-tablet
    width: 28%
    padding: 24px 0 24px 24px

img.float-left-mini
  float: left
  width: 20%
  padding: 24px 16px 16px 0
  @media mq-normal
    width: 16%
    padding: 28px 32px 32px 0 
  @media mq-tablet
    width: 12%
    padding: 20px 24px 24px 0

mark 
  background-color: color-mark
  padding: 0.15rem 0.3rem
  color: color-foreground
  /[data-theme="dark"] &
    color: dark-color-foreground

ul[role='list'],
ol[role='list']
  list-style: none // Andy Bells Modernized Reset

input, textarea, button
  margin: 0
  padding: 0
  font-family: Arial, Helvetica, sans-serif
  font-size: font-size-medium
  &::-moz-focus-inner
    border: 0
    padding: 0

button, input[type=submit]
  cursor: pointer
  font-family: font-sans

input, textarea
  &:focus
    outline: none

textarea
  resize: none
  line-height: line-height

textarea:not([rows])
  min-height: 10em // Andy Bells Modernized Reset

figure
  margin: 0
  white-space-collapse: initial

a
  transition: all ease-out 0.2s
  color: var(--color-accent1)

a:not([class])
  text-decoration-skip-ink: auto // Andy Bells Modernized Reset (not need, because border underline here)

small.label
  display: block
  margin-block: 0.25rem
  opacity: .5
  line-height: 1rem
  // font-size: 0.75rem !important
  span
    text-wrap: nowrap

span.visually-hidden //https://stackoverflow.com/questions/62703524/how-to-make-an-html-link-displayed-as-an-icon-accessible
  border: 0
  padding: 0
  margin: 0
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden
  clip: rect(1px 1px 1px 1px) /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px) /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%) /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */

div.video-wrapper
  position:relative
  padding-bottom: 56.25% //aspect ratio 16:9
  height: 0
  iframe
    position:absolute
    top:0
    left:0
    width:100%
    height:100%

hr.divider
  display: block
  border: 0px
  height: 24px
  background-image: url('/images/divider.png')
  background-repeat: no-repeat
  background-position: center
  margin: 24px 0
  opacity: 0.1
  clear: both
  /[data-theme="dark"] &
    opacity: 0.5

table 
  width: 100%
  border-collapse: collapse
  tbody, thead
    tr
      &:nth-child(even)
        background: color-light
        /[data-theme="dark"] &
          background: dark-color-light
      th, td 
        padding: (default-padding / 3)
      td
        font-weight: font-weight-normal    
      th 
        font-weight: font-weight-bold
    tr:not(.no-border) 
      th:not(:empty), td
        border: 1px color-border solid
        /[data-theme="dark"] &
          border: 1px dark-color-border solid

pre.json
  font-family: 'Roboto Mono',monospace
  font-size: 13px
  .string 
    color: #4271ae
  .number 
    color: #4271ae
  .boolean 
    color: #4271ae
  .null
    color: #ababab
  .key
    color: #c15353

if sidebar and sidebar isnt bottom
  main:not(.hide-sidebar)
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    main
      float: right

.medium-zoom--opened .medium-zoom-overlay
  z-index: 999
  backdrop-filter: blur(8px)

.medium-zoom-image--opened
  z-index: 1000
  border-radius: (border-radius-small / 2)

.loading /* https://codepen.io/thetallweeks/pen/yybGra */
  font-size: 1rem
  &:after
    overflow: hidden
    display: inline-block
    vertical-align: bottom
    -webkit-animation: ellipsis steps(4,end) 900ms infinite    
    animation: ellipsis steps(4,end) 900ms infinite
    content: "\2026" /* ascii code for the ellipsis character */
    width: 0px

#wrap-404
  text-align: center
  margin: 20px 0 40px
  pre
    background-color: transparent
    white-space:pre
    letter-spacing:0
    font-family: font-mono
    font-size: 16px
    zoom: 80%
    @media mq-mobile
      zoom: 50%

#introduction
  .page-title
    display: block
    text-align: center
    font-size: 1.9rem
    letter-spacing: 0.1rem
    @media mq-mobile
      font-size: 1.6rem
      letter-spacing: 0
    margin: double-margin auto small-margin
    font-weight: font-weight-normal
    strong
      font-weight: font-weight-extrabold
      background: url(/images/banner.jpg) no-repeat 58% 67%
      -webkit-background-clip: text
      color: transparent
  .page-content
    position: relative
    text-align: justify
    max-width: 410px
    margin: 0 auto
    @media mq-mobile
      padding: 0 1.5rem
    &:before
      display: block
      position: absolute
      z-index: -1
      opacity: 0.75
      content: ""
      background-repeat: no-repeat
      background-position: 0 0
      background-size: var(--icon-w) var(--icon-h)
      width: var(--icon-w)
      height: var(--icon-h)
      filter: invert(1)
      /[data-theme="dark"] &
        filter: invert(0)
  &.d0
    .page-content:before
      --icon-w: 200px
      --icon-h: 200px
      background-image: url(/images/icons/brush.svg)
      top: -70px
      left: -125px
      transform: rotate(110deg)
      @media mq-mobile
        top: -60px
        left: -100px
        transform: rotate(300deg)
  &.d1
    .page-content:before
      --icon-w: 140px
      --icon-h: 145px
      background-image: url(/images/icons/pencil.svg)
      top: -35px
      left: -100px
      transform: rotate(200deg) scaleX(-1)
      @media mq-mobile
        top: -30px
        left: -70px
        transform: rotate(20deg) scaleX(-1)
  &.d2
    .page-content:before
      --icon-w: 220px
      --icon-h: 225px
      background-image: url(/images/icons/thumbtack.svg)
      top: -70px
      left: -150px
      transform: rotate(340deg)
      @media mq-mobile
        top: -60px
        left: -125px
  &.d3
    .page-content:before
      --icon-w: 190px
      --icon-h: 170px
      background-image: url(/images/icons/feather.svg)
      top: -40px
      left: -110px
      transform: rotate(280deg)
      @media mq-mobile
        top: -40px
        left: -85px
        transform: rotate(290deg)
  &.d4
    .page-content:before
      --icon-w: 190px
      --icon-h: 170px
      background-image: url(/images/icons/bullhorn.svg)
      top: -40px
      left: -135px
      transform: rotate(50deg) scaleX(-1)
      @media mq-mobile
        top: -25px
        left: -110px
        transform: rotate(55deg) scaleX(-1)
  &.d5
    .page-content:before
      background-image: url(/images/icons/pen.svg)
      --icon-w: 100px
      --icon-h: 180px
      top: -60px
      left: -100px
      transform: rotate(325deg)
      @media mq-mobile
        top: -40px
        left: -30px
        transform: rotate(140deg)
  &.d6
    .page-content:before
      --icon-w: 170px
      --icon-h: 175px
      background-image: url(/images/icons/tag.svg)
      top: -45px
      left: -130px
      transform: rotate(5deg)
      @media mq-mobile
        top: -50px
        left: -110px
        transform: rotate(195deg)

#spotlight
  .spl-footer
    .spl-button
      position: absolute
      right: 0
      bottom: 0
      margin: 0
      padding: medium-margin default-margin
      margin: default-margin
      border-radius: border-radius-small
      background-color: var(--color-accent2)
      color: #fff
      opacity: 0.5
      text-transform: uppercase
      &:hover
        opacity: 1
        background-color: var(--color-accent)
      @media mq-mobile
        padding: (medium-margin / 3) medium-margin
        margin: medium-margin

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/panel"
@import "_partial/page"
@import "_partial/anything"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/animation"
@import "_partial/alertbox"

if sidebar
  @import "_partial/sidebar"