/*
  Media queries
  -------------
  mq-mobile = "screen and (max-width: 479px)"
  mq-mobile-up = "screen and (min-width: 479px)"
  mq-tablet-min = "screen and (max-width: 767px)"
  mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
  mq-normal = "screen and (min-width: 768px)"
  mq-normal-range = "screen and (min-width: 768px) and (max-width: 1023px)"
  mq-large = "screen and (min-width: 1024px)"
  mq-medium = "screen and (max-width: 600px)"  
*/

:root {
  /* STANDARD COLORS */
  --color-logo: #fff;
  --color-error: rgb(222,0,0);
  --color-mark: rgba(255,210,0,0.33);
  --color-backdrop: rgba(55, 55, 55, 0.5);
  --color-footer-link: rgba(255,255,255,0.75);
  --color-footer-dots: rgba(255,255,255,0.166);

  /* THEME COLORS light */
  --color-text: #555;
  --color-meta: #888;
  --color-highlight: #ff8c00;
  --color-link: #000;
  --color-background: #f1f1f1;
  --color-back-dim: #f8f8f8;
  --color-block: #fff;
  --color-border: #ddd;
  --color-border-dim: #eee;
  --color-shadow: #bbb;
  --color-shadow-dark: #444;
  --length-shadow: 1px 2px 20px 5px;
  --color-button-back: #ededed;
  --color-button-text: #555;
  --color-button-back-accent: #ddd;
  --filter-inview: grayscale(1) contrast(1);
  --opacity-inview: 0.6;
  --opacity-text: 0.75;
  --opacity-line: 0.1;
  --color-mastodon: #6364ff;
  --color-pixelfed: #09a13a;
  --color-linkedin: #0077b5;
  --color-xing: #026466;
  --color-flickr: #ff0084;
  --color-npm: #CB3837;
  --color-insights: #32E0C4;
  --color-vscode: #007acc;
  --color-indienews: #FF5C00;
  --color-signal: #3a76f0;
  --color-peertube: #FF8F37;
  --color-atom: #4b81d1;
  --color-rss: #56a5d5;
  --color-json: #bf403b;  
  --color-unsplash: #000;
  --color-devto: #000;
  --color-lemmy: #000;
  --color-500px: #000;
  --color-github: #000;
  --color-vernissage: #000;
}

:root[data-theme="dark"] {
  /* THEME COLORS dark */
  --color-text: #ddd;
  --color-meta: #777;
  --color-highlight: #b36200;
  --color-link: #fff;
  --color-background: #222;
  --color-back-dim: #2b2b2b;
  --color-block: #333;
  --color-border: #111;
  --color-border-dim: #666;
  --color-shadow: #000;
  --color-shadow-dark: #000;
  --length-shadow: 1px 2px 40px 1px;
  --color-button-back: #555;
  --color-button-text: #bbb;
  --color-button-back-accent: #111;
  --filter-inview: grayscale(1) contrast(0.75) brightness(0.6);
  --opacity-inview: 0.8;
  --opacity-text: 0.5;
  --opacity-line: 0.5;
  --color-mastodon: #9494ff;
  --color-pixelfed: #3dd16c;
  --color-linkedin: #47a2d3;
  --color-xing: #cfdc00;
  --color-flickr: #ff4ba8;
  --color-npm: #e94d4d;
  --color-insights: #32E0C4;
  --color-vscode: #1893e6;
  --color-indienews: #ff863f;
  --color-signal: #588ffd;
  --color-peertube: #fd9c50;
  --color-atom: #4b81d1;
  --color-rss: #56a5d5;
  --color-json: #bf403b;  
  --color-lemmy: #ddd;
  --color-unsplash: #ddd;
  --color-devto: #ddd;
  --color-500px: #ddd;
  --color-github: #ddd;
  --color-vernissage: #ddd;
}

/* ------------------------------------------------ */

:root {
  --color-accent: var(--color-meta);
  --color-accent-text: var(--color-text);
  --color-accent-text-near: #aaa;
  --color-accent-median: #ddd;
  --color-accent-con: var(--color-link);

  --font-default: Arial, Helvetica, sans-serif;
  --font-sans: "Lexend", "Open Sans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Source Code Pro", "Consolas", "Monaco", "Menlo", "Consolas", monospace;  
  
  --font-size-default: 16px;
  --font-size-normal: 1rem;
  --font-size-extra: 1.1rem;
  --font-size-medium: 0.94rem;
  --font-size-medium-extra: 0.9rem;
  --font-size-small: 0.8rem;
  --font-size-tiny: 0.7rem;
  --font-size-code: 0.85rem;
  --font-title-size: 1.8rem;
  --font-pagetitle-size: 1.5rem;
  --font-subtitle-size: 1.25rem;  
  --font-minortitle-size: 1.1rem;

  --font-weight-normal: 300;
  --font-weight-bold: 400;
  --font-weight-bolder: 500;
  --font-weight-extrabold: 700;
  
  --line-height-normal: 1.5rem;
  --line-height-medium: 1.4rem;
  --line-height-small: 1.25rem;
  --line-height-thin: 1rem;
  --line-height-tiny: 0.75rem;
  --line-height-text: 1.66rem;
  --line-height-title: 2.25rem;
  --line-height-subtitle: 1.75rem;
  
  --space-block: 2.5rem;     /* 40px */
  --space-default: 1.5rem;   /* 24px */
  --space-normal: 2rem;      /* 32px */
  --space-extra: 1.75rem;    /* 28px */
  --space-double: 3rem;      /* 48px */
  --space-large: 3.75rem;    /* 60px */
  --space-moderate: 1.25rem; /* 20px */
  --space-medium: 1rem;      /* 16px */
  --space-median: 0.75rem;   /* 12px */
  --space-small: 0.5rem;     /*  8px */
  --space-thin: 0.25rem;     /*  4px */
  --space-narrow: 0.125rem;  /*  2px */

  --border-radius-normal: 4px;
  --border-radius-small: 3px;
  --border-radius-thin: 2px;

  --banner-height-normal: 600px;
  --banner-height-tablet: 450px;
  --banner-height-mobile: 300px;

  --box-exclamation: rgb(255,204,0);
  --box-exclamation2: rgba(255,204,0,0.2);
  --box-question: rgb(221,0,255);
  --box-question2: rgba(221,0,255,0.2);
  --box-warning: rgb(226,37,0);
  --box-warning2: rgba(226,37,0,0.2);
  --box-info: rgb(0,136,224);
  --box-info2: rgba(0,136,224,0.2);
  --box-success: rgb(0,187,28);
  --box-success2: rgba(0,187,28,0.2);
  --box-note: rgb(205,205,205);
  --box-note2: rgba(205,205,205,0.25);

  --icon-mail: url(/images/icons/mail.svg);
  --icon-mail-invert: url(/images/icons/mail-invert.svg);
  --icon-download: url(/images/icons/download.svg);
  --icon-download-invert: url(/images/icons/download-invert.svg);
  --icon-exclamation: url(/images/icons/circle-exclamation.svg);
  --icon-exclamation-color: url(/images/icons/circle-exclamation-color.svg);
  --icon-question: url(/images/icons/circle-question.svg);
  --icon-question-color: url(/images/icons/circle-question-color.svg);
  --icon-warning: url(/images/icons/circle-warning.svg);
  --icon-warning-color: url(/images/icons/circle-warning-color.svg);
  --icon-info: url(/images/icons/circle-info.svg);
  --icon-info-color: url(/images/icons/circle-info-color.svg);
  --icon-success-color: url(/images/icons/circle-success-color.svg);
  --icon-note-color: url(/images/icons/note-color.svg);
  --icon-date: url(/images/icons/date.svg);
  --icon-tag: url(/images/icons/tag.svg);
  --icon-bookmark: url(/images/icons/bookmark.svg);
  --icon-box: url(/images/icons/box.svg);
  --icon-minimize: url(/images/icons/minimize.svg);
  --icon-maximize: url(/images/icons/maximize.svg);
  --icon-moon-invert: url(/images/icons/moon-invert.svg);
  --icon-sun-invert: url(/images/icons/sun-invert.svg);
  --icon-badge-invert: url(/images/icons/badge-invert.svg);
  --icon-search-invert: url(/images/icons/search-invert.svg);
  --icon-feather: url(/images/icons/feather.svg);
  --icon-web: url(/images/icons/web.svg);
  --icon-share: url(/images/icons/share.svg);
  --icon-copy: url(/images/icons/copy.svg);
  --icon-quote-dimmed: url(/images/icons/quote-dimmed.svg);
  --icon-chevron-right: url(/images/icons/chevron-right.svg);

  --brand-mastodon: url(/images/brands/mastodon.svg);
  --brand-bluesky: url(/images/brands/bluesky.svg);
  --brand-flickr: url(/images/brands/flickr.svg);
  --brand-github: url(/images/brands/github.svg);
  --brand-reddit: url(/images/brands/reddit.svg);
  --brand-facebook: url(/images/brands/facebook.svg);
  --brand-devto: url(/images/brands/devto.svg);
  --brand-pixelfed: url(/images/brands/pixelfed.svg);
  --brand-pixelfed-invert: url(/images/brands/pixelfed_invert.svg);
  --brand-linkedin: url(/images/brands/linkedin.svg);
  --brand-xing: url(/images/brands/xing.svg);
  --brand-xing-mono: url(/images/brands/xing-mono.svg);
  --brand-500px: url(/images/brands/500px.svg);
  --brand-unsplash: url(/images/brands/unsplash.svg);
  --brand-lemmy: url(/images/brands/lemmy.svg);
  --brand-vernissage: url(/images/brands/vernissage.svg);
  --brand-vernissage-invert: url(/images/brands/vernissage_invert.svg);
  --brand-peertube: url(/images/brands/peertube.svg);
  --brand-peertube-invert: url(/images/brands/peertube_invert.svg);
  --brand-signal: url(/images/brands/signal.svg);
  --brand-fediverse: url(/images/brands/fediverse.svg);
  --brand-indienews: url(/images/brands/indieweb.svg);
  --brand-rss: url(/images/brands/rss.svg);
  --brand-rss-blue: url(/images/brands/rss_blue.svg);
  --brand-atom: url(/images/brands/atom.svg);
  --brand-jsonfeed: url(/images/brands/jsonfeed.svg);

  --pagefind-ui-scale: 0.8 !important;
  --pagefind-ui-border-width: 1px !important;
  --pagefind-ui-border-radius: 0 !important;
  --pagefind-ui-image-border-radius: 0 !important;
  --pagefind-ui-font: var(--font-sans) !important;
  --pagefind-ui-primary: var(--color-highlight) !important;
  --pagefind-ui-text: var(--color-text) !important;
  --pagefind-ui-background: var(--color-back-dim) !important;
  --pagefind-ui-border: var(--color-border) !important;
  --pagefind-ui-tag: var(--color-background) !important;
}
