@keyframes pulse
  for i in 0..10
    {10% * i}
      opacity (i/10)

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.fade-in-500
  animation: fadeIn ease 0.5s;
.fade-in-1000 
  animation: fadeIn ease 1s;

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
.fade-out-500
  animation: fadeOut ease 0.5s;
.fade-out-1000
  animation: fadeOut ease 1s;

@keyframes slideUp {
  0%,
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  60%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0%,
  50% {
    transform: translateY(0);
    opacity: 0;
  }
  60%,
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}