.anything-wrap
  margin: block-margin 0

.anything-inner
  @extend $block
  overflow: hidden
  background: color-block
  box-shadow: 1px 2px 20px 5px color-border
  /[data-theme="dark"] &
    background: dark-color-block
    box-shadow: 1px 2px 40px 1px dark-color-border

.anything-header
  padding: article-padding article-padding 0

.anything-entry
  font-size: 2em
  font-weight: 600
  line-height: line-height-title
  transition: color 0.2s
  a
    display: flex
    justify-content: space-between
    gap: 10px
    text-decoration: none
    width: 100%
    color: color-default
    /[data-theme="dark"] &
      color: dark-color-default
    &:hover
      color: color-link
      /[data-theme="dark"] &
        color: dark-color-link
      em
        background-color: color-link
        color: dark-color-link
    em
      font-size: 0.6em
      line-height: 1.6em
      padding: 5px
      min-width: 80px
      max-height: 26px
      text-align: center
      transition: all .2s ease-in
      background-color: color-button
      color: color-button-link
      border-radius: border-radius-small
      /[data-theme="dark"] &
        background-color: dark-color-button
        color: dark-color-button-link        

.anything-content
  @extend $base-style
  clearfix()
  color: color-default
  /[data-theme="dark"] &
    color: dark-color-default
  padding: 0 article-padding
  a
    text-decoration: none
    color: color-link
    /[data-theme="dark"] &
      color: dark-color-link
      border-bottom: dark-color-link-border 1px solid
    &:hover
      border-bottom: color-link 1px solid
      /[data-theme="dark"] &
        border-bottom: dark-color-link 1px solid
  p
    line-height: line-height
    margin: line-height 0
  div.shields-io p
    clear: both
    display: flex
    flex-direction: row
    flex-wrap: wrap
    img
      margin: 0 10px 10px 0
  .brand-links
    display: flex
    flex-direction: row
    margin: 10px 0 30px
    gap: 30px
    @media mq-mobile
      gap: 20px
    a
      display: flex
      flex-direction: column
      align-items: center
      row-gap: 6px
      border-bottom: 1px white solid
      img
        width: 42px
      span
        display: block
        font-weight: 1rem
        text-align: center
    a.github
      color: #181717
      &:hover
        border-color: #181717
    a.npm
      color: #CB3837
      &:hover
        border-color: #CB3837
    a.insights
      color: #32E0C4
      &:hover
        border-color: #32E0C4
    a.vscode
      color: #007acc
      &:hover
        border-color: #007acc