.anything-list
  overflow: auto

.anything-wrap
  margin: block-margin 0
  &:first-child
    margin-top: 0

.anything-inner
  @extend $block-inner
  overflow: hidden

.anything-header
  padding: default-padding default-padding 0

.anything-entry
  font-size: font-title-size
  font-weight: font-weight-bold
  line-height: line-height-title
  transition: color 0.4s
  a
    position relative
    z-index: 0
    display: flex
    justify-content: space-between
    gap: 10px
    width: 100%
    text-decoration: none
    color: color-default
    /[data-theme="dark"] &
      color: dark-color-default
    &:hover
      color: color-link
      /[data-theme="dark"] &
        color: dark-color-link
      em
        background-color: color-link
        color: color-block
        /[data-theme="dark"] &
          background-color: dark-color-link
          color: dark-color-block
      // https://css-tricks.com/adam-argyles-sick-mouse-out-css-hover-effect/
      &:before
        transform: scaleX(1)
        transform-origin: left
    &:before
      position: absolute
      z-index: -1
      margin: -3px -3px -3px -9px
      background: color-hover-background
      /[data-theme="dark"] &
        background: dark-color-hover-background
      content: ""
      border-radius: border-radius
      inset: 0
      transform: scaleX(0)
      transform-origin: right
      transition: transform 0.4s ease-in-out
    em
      font-size: font-subtitle-size
      line-height: line-height-subtitle
      padding: (default-padding-vert / 4) (default-padding / 2)
      min-width: 80px
      max-height: 26px
      text-align: center
      transition: all .5s ease-in
      background-color: color-button
      color: color-button-link
      border-radius: border-radius-small
      /[data-theme="dark"] &
        background-color: dark-color-button
        color: dark-color-button-link        

.anything-content
  @extend $base-style
  clearfix()
  color: color-default
  /[data-theme="dark"] &
    color: dark-color-default
  padding: 0 default-padding
  a
    text-decoration: none
    border-bottom: transparent 1px solid
    &:hover
      border-bottom: color-link 1px solid
      /[data-theme="dark"] &
        border-bottom: dark-color-link 1px solid
  p
    line-height: line-height
    margin: line-height 0
  div.shields-io 
    p
      clear: both
      display: flex
      flex-direction: row
      flex-wrap: wrap
      img
        margin: 0 medium-margin medium-margin 0
  .brand-links
    display: flex
    flex-direction: row
    margin: default-margin 0 double-margin
    gap: 2rem
    @media mq-mobile
      gap: 1rem
    a
      display: flex
      flex-direction: column
      align-items: center
      row-gap: 6px
      img
        width: 42px
      span
        display: block
        font-weight: 1rem
        text-align: center
    a.github
      color: color-github
      &:hover
        border-color: color-github
      /[data-theme="dark"] &
        filter: invert(1);
    a.npm
      color: color-npm
      &:hover
        border-color: color-npm
      /[data-theme="dark"] &
        filter: brightness(1.25);
    a.insights
      color: color-insights
      filter: brightness(0.8);
      &:hover
        border-color: color-insights
    a.vscode
      color: color-vscode
      &:hover
        border-color: color-vscode
      /[data-theme="dark"] &
        filter: brightness(1.25);