
.archive-filter
  > em
    font-style: italic
    font-size: var(--font-size-medium)
    margin-left: var(--space-thin)

  .archive-filter-wrapper
    padding: 0 var(--space-default) var(--space-small) 0
    display: flex
    justify-content: flex-start
    flex-wrap: nowrap
    overflow-x: auto
    font-size: var(--font-size-medium)
    background: linear-gradient(90deg, var(--color-background) 5%, var(--color-block) 50%, var(--color-background) 100%)
    
    .archive-filter-list
      flex: 0 0 auto
      transition: all .2s ease
      &:hover
        color: var(--color-accent-text)
      h2
        font-size: var(--font-size-normal)
        font-weight: var(--font-weight-bold)
        margin-block: var(--space-medium) var(--space-small)
        margin-left: var(--space-median)
      ul
        display: flex
        justify-content: flex-start
        flex-direction: column
        flex-wrap: wrap
        max-height: 230px
        margin-block: var(--space-small)
        margin-inline: var(--space-median)
        li
          flex: 1 0 25%
          box-sizing: border-box
          border-left: 2px var(--color-border) solid
          margin: 1px 0 1px 0
          padding: 0 8px 0 10px
          display: flex
          flex-direction: row
          justify-content: space-between
          &:hover
            border-left: 4px var(--color-accent) solid
            margin-left: -1px;
            padding-left: 9px
          a
            display: block
            min-width: 6rem
            margin-right: var(--space-default)
            color: var(--color-text)
            text-decoration: none
            &:hover
              text-decoration: none
          &:hover
            a, span
              color: var(--color-accent-text)
          span 
            padding-left: 0
            height: 22px
            width: 22px
            text-align: center
            background-color: var(--color-background)

    .archive-filter-list.archive-filter-list-months 
      ul
        display: block
        overflow: auto
        max-height: 220px
        padding-left: 1px
        &::-webkit-scrollbar
          width: 0px
