.archives-wrap
  margin: block-margin 0

.archives
  clearfix()
  column-gap: 0
  margin: -(medium-margin)
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.archive-title
  font-size: font-pagetitle-size
  font-weight: font-weight-bold
  line-height: line-height-title
  text-transform: uppercase
  margin: default-padding 0
  color: color-default
  /[data-theme="dark"] &
    color: dark-color-default
  span
    font-weight: font-weight-normal
    text-transform: uppercase
    b 
      padding: 0 (default-padding / 3)
      text-transform: none
      font-weight: font-weight-normal
      opacity: 0.5
    em
      padding-right: (default-padding / 3)
      font-size: 1.2rem
    em.tag
      &:before
        content: icon-tag
        font-family: fa-icons
    em.category
      &:before
        content: icon-bookmark
        font-family: fa-icons

.archive-year-wrap
  margin-bottom: medium-margin

.archive-year
  @extend $block-caption
  margin-left: 0
  color: color-header
  /[data-theme="dark"] &
    color: dark-color-header

.archive-list-navigation
  padding: 0 default-padding-vert (default-padding-vert / 3) 0
  display: flex
  justify-content: flex-start
  flex-wrap: nowrap
  overflow-x: auto
  background: linear-gradient(90deg, color-background 30%, color-block 80%, color-background 100%)
  /[data-theme="dark"] &
    background: linear-gradient(90deg, dark-color-background 30%, dark-color-block 80%, dark-color-background 100%)
  .archive-list-wrapper
    flex: 0 0 auto
    padding-right: default-padding
    transition: all .2s ease
    &:hover
      color: color-link
      /[data-theme="dark"] &
        color: dark-color-link
    h2
      font-weight: font-weight-bold
      font-size: 1rem
      margin-bottom: medium-margin
    ul
      display: flex
      justify-content: flex-start
      flex-direction: column
      flex-wrap: wrap
      max-height: 220px;
      li
        flex: 1 0 25%
        box-sizing: border-box
        border-left: 2px color-border solid
        /[data-theme="dark"] &
          border-color: dark-color-border
        margin: 1px 0 1px 0
        padding: 0 8px 0 10px
        display: flex
        flex-direction: row
        justify-content: space-between
        &:hover
          border-left: 4px color-link solid
          /[data-theme="dark"] &
            border-color: dark-color-border-hover
          margin-left: -1px;
          padding-left: 9px
        a
          display: block
          width: calc(100% - 40px)
          margin-right: 20px
          color: color-widget-link
          /[data-theme="dark"] &
            color: dark-color-widget-link
          text-decoration: none
          &:hover
            text-decoration: none
        &:hover
          a, span
            color: color-link
            /[data-theme="dark"] &
              color: dark-color-link
        span 
          padding-left: 0
          height: 22px
          width: 22px
          text-align: center
          background-color: color-background
          /[data-theme="dark"] &
            background-color: dark-color-background

.archive-list-wrapper.archive-list-months 
  ul
    display: block
    overflow: auto
    max-height: 215px
    padding-left: 1px
    &::-webkit-scrollbar
      width: 0px

.archive-article
  avoid-column-break()
  padding: default-padding 0
  margin: -(default-padding) medium-margin
  &:first-child
    margin-top: 0

.archive-article-inner
  @extend $block-inner
  padding: 10px
  overflow: hidden  
  transition: all ease-out 0.3s
  &:hover
    transform: scale(1) translateY(-1px)
    box-shadow: box-shadow color-border-3d
    /[data-theme="dark"] &
      box-shadow: dark-box-shadow dark-color-base

.archive-article-photo
    height: 120px
    width: calc(100% + 20px)
    margin: -10px 0 10px -10px
    object-fit: cover
    transform: scale(1)
    transform-style: preserve-3d
    transition: all ease-out .4s  
    opacity: 0.3
    filter: filter-gray
    /[data-theme="dark"] &
        opacity: 0.75
        filter: dark-filter-gray

.archive-article-photo.in-view
  transform: scale(1.05)
  opacity: 1
  filter: grayscale(0) contrast(1)
  /[data-theme="dark"] &
      opacity: 1
      filter: grayscale(0) contrast(1) brightness(0.75)

.archive-article-content
  padding: 0 (default-padding / 4) (default-padding-vert / 2)

.archive-article-date,
.archive-article-category
  font-size: font-size-small
  margin-bottom: medium-margin
  display: inline-block

.archive-article-category
  float: right

.archive-article-date
  time.updated
    color: color-foreground
    /[data-theme="dark"] &
      color: dark-color-foreground
    &:before
      content: "Update, "

.archive-article-anything
  display: block
  text-decoration: none
  line-height: line-height
  text-transform: uppercase
  font-size: font-size-small
  color: color-grey
  /[data-theme="dark"] &
    color: dark-color-grey
  &:hover
    color: color-link
    /[data-theme="dark"] &
      color: dark-color-link

.archive-article-title
  position relative
  z-index: 0
  display: inline-block
  margin-top: small-margin
  margin-bottom: small-margin
  text-decoration: none
  line-height: line-height-text
  font-size: font-titlelist-size
  font-weight: font-weight-bold
  color: color-default
  /[data-theme="dark"] &
    color: dark-color-default
  transition: color 0.2s
  &:hover
    color: color-link
    /[data-theme="dark"] &
      color: dark-color-link
    &:before
      transform: scaleX(1)
      transform-origin: left
  &:before
    position: absolute
    z-index: -1
    margin: -0.25rem -0.5rem
    background: color-hover-background
    /[data-theme="dark"] &
      background: dark-color-hover-background
    content: ""
    border-radius: border-radius
    inset: 0
    transform: scaleX(0)
    transform-origin: right
    transition: transform 0.4s ease-in-out

.archive-article-subtitle
  margin-top: small-margin
  color: color-grey
  /[data-theme="dark"] &
    color: dark-color-grey

.archive-article-footer
  font-size: font-size-small

.archive-article-tags
  opacity: 0.5
  transition: all ease-out 0.4s
  li
    float: right
  &:hover
    opacity: 1

.archive-article-date,
.archive-article-category a,
.archive-article-tags a
  text-decoration: none
  color: color-header
  /[data-theme="dark"] &
    color: dark-color-header
  &:hover
    color: color-link
    /[data-theme="dark"] &
      color: dark-color-link

#page-nav
  clearfix()
  margin: block-margin auto
  text-align: center
  overflow: hidden
  color: color-grey
  /[data-theme="dark"] &
    color: dark-color-grey
  a, span
    padding: (default-padding-vert / 2) (default-padding / 2)
    line-height: 1
    height: 2ex
  a
    color: color-grey
    /[data-theme="dark"] &
      color: dark-color-grey
    text-decoration: none
    &:hover
      color: color-link
      /[data-theme="dark"] &
        color: dark-color-link
  .prev
    float: left
  .next
    float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: font-weight-bold
  .space
    color: color-default
    font-weight: font-weight-bold
    @media mq-mobile
      display: none
