.archives-wrap
  margin: var(--space-block) 0

.archive-year-wrap
  margin-bottom: var(--space-medium)

.archive-year
  margin-left: 0
  font-size: var(--font-subtitle-size)
  color: var(--color-meta)

.archive-list
  > em
    font-style: italic
    font-size: var(--font-size-medium)
    margin-left: var(--space-thin)

.archive-list-navigation
  padding: 0 var(--space-default) var(--space-small) 0
  display: flex
  justify-content: flex-start
  flex-wrap: nowrap
  overflow-x: auto
  font-size: var(--font-size-medium)
  background: linear-gradient(90deg, var(--color-background) 5%, var(--color-block) 50%, var(--color-background) 100%)
  .archive-list-wrapper
    flex: 0 0 auto
    transition: all .2s ease
    &:hover
      color: var(--color-accent-text)
    h2
      font-size: var(--font-size-normal)
      font-weight: var(--font-weight-bold)
      margin-block: var(--space-medium) var(--space-small)
      margin-left: var(--space-median)
    ul
      display: flex
      justify-content: flex-start
      flex-direction: column
      flex-wrap: wrap
      max-height: 230px
      margin-block: var(--space-small)
      li
        flex: 1 0 25%
        box-sizing: border-box
        border-left: 2px var(--color-border) solid
        margin: 1px 0 1px 0
        padding: 0 8px 0 10px
        display: flex
        flex-direction: row
        justify-content: space-between
        &:hover
          border-left: 4px var(--color-accent) solid
          margin-left: -1px;
          padding-left: 9px
        a
          display: block
          min-width: 6rem
          margin-right: var(--space-default)
          color: var(--color-text)
          text-decoration: none
          &:hover
            text-decoration: none
        &:hover
          a, span
            color: var(--color-accent-text)
        span 
          padding-left: 0
          height: 22px
          width: 22px
          text-align: center
          background-color: var(--color-background)

.archive-list-wrapper.archive-list-months 
  ul
    display: block
    overflow: auto
    max-height: 220px
    padding-left: 1px
    &::-webkit-scrollbar
      width: 0px

#page-nav
  // clearfix()
  margin: var(--space-block) auto
  text-align: center
  overflow: hidden
  font-size: var(--font-size-medium)
  color: var(--color-meta)
  a, span
    padding-block: var(--space-thin)
    padding-inline: var(--space-median)   
  a
    text-decoration: none
    &:hover
      text-decoration: revert
  .prev
    float: left
  .next
    float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    background-color: var(--color-accent)
    color: var(--color-logo)
    border-radius: var(--border-radius-small)
  .space
    color: var(--color-text)
    font-weight: var(--font-weight-bold)
    @media mq-mobile
      display: none
