.article
  margin: block-margin 0
  position: relative

.note-list
  .article.note
    margin-left: 2.5rem
    @media mq-mobile
      margin-left: default-margin
      margin-bottom: double-margin
    &:not(:last-child)::before
      content: ""
      display: block
      position: absolute
      height: calc(100% + 4rem)
      left: -1.5rem
      @media mq-mobile
        height: calc(100% + 3rem)
        left: calc(-1.4rem + 6px)
      top: 0
      border-color: color-highlight
      border-width: 1px
      border-style: solid
      /[data-theme="dark"] &
        border-color: dark-color-highlight
    .article-header a, .article-footer, .article-entry
      transition: all ease-out .3s
    .article-footer, .article-entry
      animation: slideUp ease 0.6s
      padding-top: 0

.note-list.condensed
  .article.note
    margin-bottom: default-margin
    &:not(:first-child)
      margin-top: block-margin
    &:not(:last-child)::before
      height: "calc(100% + %s)" % double-margin
    .article-header
      padding: 24px 24px 12px 16px
      a
        font-size: font-subtitle-size
        font-weight: font-weight-bold
    .article-entry, .article-footer
      height: 0
      padding: 0
      margin: 0
      overflow: hidden
      animation: slideDown ease 0.3s

.article-meta
  clearfix()
  position: relative
  z-index: 99

.article-date
  @extend $block-caption
  color: color-header
  /[data-theme="dark"] &
    color: dark-color-header
  float: left
  margin-bottom: 0.5rem
  margin-right: 1.25rem
  letter-spacing: 0
  &:hover
    color: color-link
    /[data-theme="dark"] &
      color: dark-color-link
  time.updated
    color: color-foreground
    /[data-theme="dark"] &
      color: dark-color-foreground
    &:before
      content: "Update, "

.note-list
  .article.note
    .article-meta
      time
        top: -1rem
        left: -2.75rem
        @media mq-mobile
          left: -1.5rem

.article.note
  &:not(:first-child)
    margin-top: 3.5rem
  .article-meta
    time
      top: -1rem
      left: 1rem
      position: absolute
      padding: 5px 10px
      font-weight: font-weight-bold
      border-radius: border-radius-small
      font-size: font-size-small
      color: color-logo
      background-color: color-highlight
      /[data-theme="dark"] &
        background-color: dark-color-highlight
  img
    max-width: 240px
    @media mq-normal
      max-width: 360px
    @media mq-tablet
      max-width: 320px
  span.caption
    display: none

.article-inner
  @extend $block-inner
  overflow: hidden
  margin-bottom: default-margin

.article.note
  .article-header
    padding-top: (default-padding-vert * 2)

.article-photo
  height: 150px
  @media mq-tablet
    height: 175px
  @media mq-normal
    height: 200px
  width: 100%
  object-fit: cover
  transform: scale(1)
  transform-style: preserve-3d
  transition: all ease-out .6s  
  opacity: 0.3
  filter: filter-gray
  /[data-theme="dark"] &
    opacity: 0.75
    filter: dark-filter-gray

.article-photo.in-view
    transform: scale(1.05)
    opacity: 1
    filter: grayscale(0) contrast(1)
    /[data-theme="dark"] &
      opacity: 1
      filter: grayscale(0) contrast(1) brightness(0.75)

.article-comment-link
  @extend $block-caption
  color: color-header
  /[data-theme="dark"] &
    color: dark-color-header
  float: left
  font-size: 12px
  &:before
    content: icon-comment
    font-family: fa-icons
    padding-right: 5px
  .hide
    display: none

.article-category
  position: absolute
  right: 0
  bottom: 0
  margin-bottom: small-margin
  margin-left: small-margin
  border: none
  &:hover
    a
      color: color-link
    /[data-theme="dark"] &
      a 
        color: dark-color-link
  .article-category-link
    @extend $block-caption
    color: color-header
    /[data-theme="dark"] &
      color: dark-color-header

.article-header
  padding: default-padding default-padding 0

.article-anything
  text-transform: uppercase
  text-decoration: none
  display: inline-block
  font-size: font-size-small
  margin-bottom: small-margin
  margin-right: small-margin
  color: color-grey
  /[data-theme="dark"] &
    color: dark-color-grey
  &:hover
      color: color-link
      /[data-theme="dark"] &
        color: dark-color-link

.article-title
  position: relative
  z-index: 0
  display: table
  text-decoration: none
  font-weight: font-weight-bold
  letter-spacing: -1px
  font-size: font-title-size
  line-height: line-height-title
  transition: color 0.4s
  color: color-default
  /[data-theme="dark"] &
    color: dark-color-default
  em
    opacity: 0.6
  strong 
    opacity: 0.2
  a&:hover
    color: color-link
    /[data-theme="dark"] &
      color: dark-color-link
    em, strong
      opacity: 1
  // https://css-tricks.com/adam-argyles-sick-mouse-out-css-hover-effect/
  a&:before
    position: absolute
    z-index: -1
    display: table-cell
    margin: -3px -9px
    background: color-hover-background
    /[data-theme="dark"] &
      background: dark-color-hover-background
    content: ""
    border-radius: border-radius
    inset: 0
    transform: scaleX(0)
    transform-origin: right
    transition: transform 0.4s ease-in-out
  a&:hover
    &:before
      transform: scaleX(1)
      transform-origin: left

.article-subtitle
  font-size: font-subtitle-size
  line-height: line-height
  margin-top: default-margin
  color: color-header

.article-entry
  @extend $base-style
  clearfix()
  color: color-default
  /[data-theme="dark"] &
    color: dark-color-default
  padding: 0 default-padding
  .float-element 
    display: block
    float: right
    margin: line-height 0 line-height line-height
  p, table
    margin: default-margin 0
    line-height: line-height-text
  h1, h2, h3, h5
    font-weight: font-weight-bold
  h4, h6
    font-weight: font-weight-normal
  h1, h2, h3, h4, h5, h6
    line-height: line-height-title
    margin: (line-height-title) 0 (line-height-title / 2)
  hr + h1, hr + h2, hr + h3
    margin: (line-height-title / 3) 0 (line-height-title / 2)
  a:not([class])
    text-decoration: none
    white-space: pre-line
    word-break: break-word
    border-bottom: transparent 1px solid
    &:hover
      border-bottom: color-link 1px solid
      /[data-theme="dark"] &
        border-bottom: dark-color-link 1px solid
  a.img-link
    transition: all ease-out .6s 
    transform: scale(1)
    opacity: 0.75
    filter: filter-gray
    /[data-theme="dark"] &
      opacity: 0.75
      filter: dark-filter-gray
  a.img-link.in-view
    transform: scale(1.0125)
    opacity: 1
    filter: grayscale(0) contrast(1)
    /[data-theme="dark"] &
      opacity: 1
      filter: grayscale(0) contrast(1) brightness(0.75)
    &:hover
      transform: scale(1.025)
  ul, ol, dl
    margin-top: default-margin
    margin-bottom: default-margin
    li
      margin-bottom: 6px
  img, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
    /[data-theme="dark"] &:not(.image-compare)
      filter: brightness(85%)
  img.limit 
    max-width: 240px
    @media mq-normal
      max-width: 360px
    @media mq-tablet
      max-width: 320px
  .image-compare.image-modified
    max-width: none
    height: 100%
  iframe
    border: none
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    font-weight: font-weight-bold
    padding-bottom: small-margin
    border-bottom: 3px solid color-border-article
    /[data-theme="dark"] &
      border-bottom: 3px solid dark-color-border-article
  td
    padding: 10px 0
    border-bottom: 1px solid color-border-article
    /[data-theme="dark"] &
      border-bottom: 1px solid dark-color-border-article
  details
    margin-top: 2px
    &:hover summary
      font-weight: font-weight-bold
    &[open]
      margin-bottom: 20px
      summary 
        font-weight: font-weight-bold
    summary
      cursor: pointer
      padding: 5px 0
    blockquote
      margin-top: 10px
      margin-left: 25px
      & +
        cite
          margin-left: 60px
  details.github-readme
    margin: 0 -30px
    padding: 10px 25px
    border-left: 6px color-github solid  
    &[open]
      background-color: dark-color-github
      /[data-theme="dark"] &
        background-color: color-github
      summary
        background-color: dark-color-github
        /[data-theme="dark"] &
          background-color: color-github
    summary
      padding: 10px
      margin: -10px 0 -10px -10px
    pre
      margin: 0 -25px
      background-color: color-block
      /[data-theme="dark"] &
        background-color: dark-color-block
  blockquote //like alertbox
    position: relative
    padding: 5px 35px
    margin: default-margin 0 0
    text-align: left
    font-style: italic
    background-color: rgba(205,205,205,0.2)
    border-left: 4px rgba(205,205,205,0.75) dotted 
    &:before
      position: absolute
      width: 41px
      height: 41px
      top: -13px
      left: -22px
      display: block
      border-radius: 50%
      content: ""
      background: color-block
      /[data-theme="dark"] &
        background: dark-color-block  
    &:after
      content: icon-quote
      color: rgba(205,205,205,0.75)
      position: absolute
      display: block
      top: -2px
      left: -12px
      font-family: fa-icons
      font-size: 22px
      font-style: normal
    & +
      cite
        display: block
        margin: 0
        padding: 0 15px 20px
        background-color: rgba(205,205,205,0.2)
        border-left: 4px rgba(205,205,205,0.75) dotted
        a
          color: rgb(200,200,200) !important
          border: none !important
          &:hover
            border: none !important
            color: color-highlight !important
    ol, ul
      margin-top: 0
      margin-bottom: 0
    p
      line-height: line-height-text
      margin: medium-margin 0
    footer
      font-size: font-size
      margin: line-height 0
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 small-margin
  .pullquote
    text-align: left
    width: 45%
    margin: 0
    &.left
      margin-left: small-margin
      margin-right: medium-margin
    &.right
      margin-right: small-margin
      margin-left: medium-margin
  .caption
    color: color-grey
    /[data-theme="dark"] &
      color: dark-color-grey
    display: block
    font-size: font-size-small
    font-style: italic
    opacity: 0.6
    margin-top: small-margin
    position: relative
    text-align: center
  // http://webdesignerwall.com/tutorials/css-elastic-videos
  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0
  .photo-list
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 2rem
    margin-block-start: 2rem
    figure
      img
        border-radius: 4px
        box-shadow: 1px 1px 12px 0px #888 !important
        /[data-theme="dark"] &
          box-shadow: 1px 1px 12px 0px #000 !important
      figcaption
        text-align: center
        padding-block: 0.75rem
        font-style: italic
        color: color-grey
        /[data-theme="dark"] &
          color: dark-color-grey


.article-more-link,
.download-link
  margin: 0 !important

.article-more-link
  font-size: font-size-small
  text-transform: uppercase
  &:before
    font-family: fa-icons
    margin-right: 4px
    font-size: font-size-small
    font-weight: font-weight-normal
    content: icon-chevron-right 
    color: color-link
    /[data-theme="dark"] &
      color: dark-color-link

.download-link
  margin: default-margin 0 !important
  text-align: center
  a.button
    display: inline-block
    text-align: center
    font-size: font-size-small
    position: relative
    text-decoration: none
    padding: medium-margin
    background-color: color-button
    color: color-button-link
    border-radius: border-radius-small
    &:hover    
      background-color: color-link
      color: color-logo
    /[data-theme="dark"] &
      background-color: dark-color-button
      color: dark-color-button-link
      &:hover    
        background-color: dark-color-link
        color: color-logo
  @media mq-mobile
    a
      strong 
        display: inline-block

.article-related,
.article-interaction,
.article-comments,
.article-webmentions
  min-height: 86px 
  margin-top: medium-margin
  border-top-style: solid
  border-top-width: 1px
  border-top-color: color-block
  /[data-theme="dark"] &
    border-top-color: dark-color-border
  > h2
    @extend $block-caption  
    color: color-header
    /[data-theme="dark"] &
      color: dark-color-header
    font-size: font-subtitle-size
    line-height: line-height
    margin: default-margin 0

.article-share
  @extend $base-style
  margin-top: -(default-margin)
  margin-bottom: (2 * line-height)
  min-height: auto
  border-top: none
  display: flex
  flex-direction: row-reverse
  button.share
    align-content: right
    text-decoration: none
    padding: small-margin medium-margin
    border: none
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px
    transition: all ease-out .2s
    z-index: 1
    box-shadow: inset 0 20px 20px -20px color-border-amp
    background-color: color-wm-button-background
    /[data-theme="dark"] &
      background-color: dark-color-wm-button-background
      box-shadow: inset 0 20px 20px -20px dark-color-border-amp
    &:focus
      outline: none
    &.mastodon
      color: color-mastodon
      &:hover
        background-color: color-mastodon
        color: color-hover-background
        /[data-theme="dark"] &
          color: dark-color-hover-background

.article-interaction
  @extend $base-style
  min-height: auto
  border-top: none
  position: relative
  padding-left: default-padding
  &:before
    display: block
    position: absolute 
    left: -10px
    top: -14px     
    content: icon-feather
    font-family: fa-icons      
    font-size: 6rem
    text-rendering: auto
    -webkit-font-smoothing: antialiased      
    z-index: -1
    transform: rotate(344deg)
    color: color-block
    /[data-theme="dark"] &
      color: dark-color-border
  p
    opacity: .75
    a
      text-decoration: none
      border-bottom: transparent 1px solid
      &:hover
        border-bottom: color-link 1px solid
        /[data-theme="dark"] &
          border-bottom: dark-color-link 1px solid
    
.article-webmentions
  margin-top: double-margin

.article-footer, 
.section-footer
  font-size: font-size-small
  padding-top: (default-padding / 2)
  margin: 0 default-padding default-padding-vert
  display: grid
  gap: 0 0
  grid-template-columns: auto 1fr
  grid-template-rows: auto 1fr auto
  grid-template-areas: "tags tags" "syndication permalink" "golem golem"
  @media mq-mobile
    margin: 0 (default-padding / 2) default-padding-vert
    grid-template-columns: auto 1fr
    grid-template-rows: auto auto auto
    grid-template-areas: "tags" "syndication permalink" "golem"

.section-footer
  padding: 0
  margin: -(medium-margin)

.article-tags { grid-area: tags }
.article-permalink { grid-area: permalink }
.article-syndication { grid-area: syndication }
.article-golem { grid-area: golem }

.article-tags,
.article-syndication,
.article-permalink,
.article-golem
  a, span
    text-decoration: none
    color: color-grey
    /[data-theme="dark"] &
      color: dark-color-grey
  a:hover
    color: color-link
    /[data-theme="dark"] &
      color: dark-color-link

.article-tags,
.article-syndication,
.article-permalink
  opacity: 0.5
  transition: all ease-out .4s
.article-footer:hover
  .article-tags,
  .article-syndication,
  .article-permalink
    opacity: 1

.article-syndication
  display: flex
  align-items: flex-end
  span
    display: inline-block
    margin-right: 4px
  .syndication-link
    padding: 0 16px 0 0
    @media mq-mobile
      padding: 0 12px 0 0
    &:before
      font-family: fa-icons
      font-size: 1.5rem
  & .fa-mastodon:before
    color: color-mastodon
    /[data-theme="dark"] &
      color: dark-color-mastodon
    content: icon-mastodon
  & .fa-twitter:before
    color: color-twitter
    /[data-theme="dark"] &
      color: dark-color-twitter
    content: icon-twitter
  & .fa-500px:before
    color: color-500px
    /[data-theme="dark"] &
      color: dark-color-500px
    content: icon-500px
  & .fa-pixelfed:before
    color: color-pixelfed
    /[data-theme="dark"] &
      color: dark-color-pixelfed
    content: icon-pixelfed
    font-size: 1.66rem

.article-permalink,
.article-syndication 
  padding-top: line-height
  margin-top: line-height
  border-top: 1px color-border solid
  /[data-theme="dark"] &
    border-top: 1px dark-color-border solid
  @media mq-mobile
    padding-top: line-height * 0.6
    margin-top: line-height * 0.6

.article-permalink
  display: flex
  flex-direction: row
  font-size: font-size-small
  padding-left: 50px
  @media mq-mobile
    padding-left: 30px
  a
    cursor: pointer
  input
    font-size: font-size-small
    font-family: font-sans
    background: transparent
    text-align: right
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    flex: 1 1 auto
    border: 0
    outline: 0
    color: color-grey
    :focus outline:none !important
    /[data-theme="dark"] &
      color: dark-color-grey
  .article-action
    width: 24px
    height: 24px
    flex: 0 0 auto
    padding-left: 12px
    &:before
      font-family: fa-icons
      font-size: 1.5rem
  .action-copy
    &:before
      content: icon-copy
  .action-share
    &:before
      content: icon-share

.article-golem
  padding-top: line-height
  padding-bottom: default-padding-vert
  padding-left: 140px
  padding-right: default-padding
  margin-top: line-height
  margin-bottom: -(default-padding-vert)
  margin-left: -(default-padding)
  margin-right: -(default-padding)
  background-repeat: no-repeat
  background-position: default-padding-vert 24px
  background-color: color-background
  background-image: url("/images/golem-light-100.png")
  /[data-theme="dark"] &
    background-color: dark-color-background
    background-image: url("/images/golem-dark-100.png")

.article-tag-list
  overflow: auto
  .article-tag-list-item
    float: right
    margin: 0 (small-margin / 2)
    .article-tag-list-link
      &:before
        content: "#"

#article-nav
  clearfix()
  position: relative
  @media mq-normal
    margin: block-margin 0
    &:before
      absolute-center(8px)
      content: ""
      border-radius: 50%
      background: color-grey

.article-nav-link-wrap
  text-decoration: none
  color: color-grey
  box-sizing: border-box
  margin-top: block-margin
  text-align: center
  display: block
  &:hover
    color: color-default
  @media mq-normal
    width: 50%
    margin-top: 0

#article-nav-newer
  @media mq-normal
    float: left
    text-align: right
    padding-right: default-padding

#article-nav-older
  @media mq-normal
    float: right
    text-align: left
    padding-left: default-padding

.article-nav-caption
  text-transform: uppercase
  letter-spacing: 2px
  color: color-grey
  font-weight: font-weight-bold
  #article-nav-newer &
    margin-right: -2px

.article-nav-title
  font-size: font-size-small
  margin-top: small-margin

.article-gallery
  background: color-default
  /[data-theme="dark"] &
    background: dark-color-default
  position: relative

.article-gallery-photos
  position: relative
  overflow: hidden

.article-gallery-img
  display: none
  max-width: 100%
  &:first-child
    display: block
  &.loaded
    position: absolute
    display: block
  img
    display: block
    max-width: 100%
    margin: 0 auto

.utterances
  margin: 0
  max-width: 100%

.webmentions-placeholder
  .wm-placeholder
    opacity: 0.75
    font-style: italic
.webmention
  margin: default-margin 0
  font-size: 1rem
  overflow: hidden
  a
    color: inherit
    text-decoration: none
    &:hover
      text-decoration: underline
  .wm-card
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    .wm-photo-link
      margin-right: 16px
      .wm-photo
        width: 44px
        border-radius: border-radius
    .wm-meta
      position: relative
      width: 100%
      display: grid
      grid-template-areas: "name name verb date no"
      grid-template-columns: max-content max-content max-content max-content auto
      grid-template-rows: auto
      align-items: center
      column-gap: 5px
      padding: (default-padding-vert / 2) (default-padding / 2) (default-padding-vert / 2) (default-padding / 4)
      border-top-left-radius: border-radius
      border-top-right-radius: border-radius
      border-width: 1px
      border-style: solid 
      border-color: color-wm-border
      background-color: color-wm-meta-background
      /[data-theme="dark"] &
        border-color: dark-color-wm-border
        background-color: dark-color-wm-meta-background
      @media mq-mobile
        grid-template-areas: "name name name" "verb date no"
        grid-template-columns: max-content max-content auto
        grid-template-rows: auto
      .wm-name
        grid-area: name
        padding-left: default-padding
        font-weight: font-weight-bold
        max-width: 220px
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        &:hover
          text-decoration: none
          span
            text-decoration: underline
      .wm-name
        &:before
          position: absolute
          margin-top: 0
          margin-left: -(default-padding)
          font-family: fa-icons
          padding: 0 4px 0 8px
          /[data-theme="dark"] &
            color: dark-color-grey !important
          &:hover
            text-decoration: none
      .wm-name.wm-source-web
        &:before
          content: icon-mastodon
      .wm-name.wm-source-twitter
        &:before
          content: icon-twitter
          color: color-twitter
      .wm-name.wm-source-mastodon
        &:before
          content: icon-mastodon
          color: color-mastodon
      .wm-name.wm-source-instagram
        &:before
          content: icon-instagram
          color: color-instagram
      .wm-name.wm-source-facebook
        &:before
          content: icon-facebook
          color: color-facebook
      .wm-name.wm-source-flickr
        &:before
          content: icon-flickr
          color: color-flickr
      .wm-name.wm-source-reddit
        &:before
          content: icon-reddit
          color: color-reddit
      .wm-verb
        grid-area: verb
        display: inline-block
      .wm-date
        grid-area: date
      small
        grid-area: no
        margin-left: auto
        opacity: 0.25
        font-size: font-size-small
      &:before, &:after
        position: absolute
        top: 11px
        right: 100%
        left: -16px
        display: block
        width: 0
        height: 0
        pointer-events: none
        content: " "
        border-color: transparent
        border-style: solid solid outset
      &:before
        border-width: 8px
        border-right-color: color-wm-border-before
        /[data-theme="dark"] &
          border-right-color: dark-color-wm-border-before
      &:after
        margin-top: 1px
        margin-left: 2px
        border-width: 7px
        border-right-color: color-wm-meta-background
        /[data-theme="dark"] &
          border-right-color: dark-color-wm-meta-background
    .wm-meta.wm-own
      background-color: color-wm-meta-background-own
      /[data-theme="dark"] &
        background-color: dark-color-wm-meta-background-own
      &:after
        border-right-color: color-wm-meta-background-own
        /[data-theme="dark"] &
          border-right-color: dark-color-wm-meta-background-own

  .wm-content
    padding: (default-padding-vert / 2) (default-padding / 2)
    margin-left: 60px
    line-height: line-height-text
    border-bottom-left-radius: border-radius
    border-bottom-right-radius: border-radius
    border-width: 1px
    border-style: solid
    border-color: color-wm-border
    background-color: color-wm-content-background
    /[data-theme="dark"] &
      border-color: dark-color-wm-border
      background-color: dark-color-wm-content-background
    border-top: 0
    > p
      ~ .wm-source
        margin-top: 10px
        opacity: 0.5
    .wm-source
      display: inline-block
      word-break: break-all
.webmention.wm-liked, .webmention.wm-bookmarked
  .wm-meta
    border-bottom-left-radius: border-radius
    border-bottom-right-radius: border-radius

.webmention-form-info
  opacity: 0.75
  margin: block-margin default-margin 0 0
.webmention-form
  padding: (default-padding / 2) 0 0
  display: grid
  column-gap: 20px
  row-gap: 10px
  align-items: center
  grid-template: "label source submit"
  grid-template-columns: max-content auto max-content
  grid-template-rows: auto
  @media mq-mobile
    grid-template: "label" "source" "submit"
    grid-template-columns: 1fr
  input
    padding: small-margin medium-margin
    border-radius: border-radius-small
  label
    grid-area: label
    opacity: 0.75
  input[type=url]
    grid-area: source
    background-color: color-wm-content-background
    border-width: 1px
    border-style: solid
    border-color: color-wm-border
    /[data-theme="dark"] &
      background-color: dark-color-wm-content-background
      border-color: dark-color-wm-border
    &:focus
      outline: none
    +placeholder()
      opacity: 0.4
  input[type=submit]
    grid-area: submit
    cursor: pointer
    color: color-wm-button
    border: none
    background-color: color-wm-button-background
    /[data-theme="dark"] &
      color: dark-color-wm-button
      background-color: dark-color-wm-button-background
