.article
  margin: block-margin 0

.article-inner
  @extend $block
  overflow: hidden
  background: color-block
  box-shadow: 1px 2px 20px 5px color-border
  border: 1px solid color-border
  border-radius: border-radius
  /[data-theme="dark"] &
    background: dark-color-block
    box-shadow: 1px 2px 40px 1px dark-color-border
    border-color: dark-color-border

.article-photo
  height: 150px
  @media mq-tablet
    height: 175px
  @media mq-normal
    height: 200px
  width: 100%
  object-fit: cover
  transform: scale(1)
  transform-style: preserve-3d
  transition: all ease-out .6s  
  opacity: 0.3
  filter: grayscale(1) contrast(0.5)
  /[data-theme="dark"] &
    opacity: 0.75
    filter: grayscale(1) contrast(0.5) brightness(0.6)

.article-photo.in-view
    transform: scale(1.1)
    opacity: 1
    filter: grayscale(0) contrast(1)
    /[data-theme="dark"] &
      opacity: 1
      filter: grayscale(0) contrast(1) brightness(0.75)

.article-meta
  clearfix()
  position: relative;
  z-index: 99

.article-date
  @extend $block-caption
  color: color-header
  /[data-theme="dark"] &
    color: dark-color-header
  float: left
  margin-bottom: 8px
  margin-right: 20px
  font-size: 14px
  letter-spacing: 1px
  &:hover
    color: color-link
    /[data-theme="dark"] &
      color: dark-color-link

.article-comment-link
  @extend $block-caption
  color: color-header
  /[data-theme="dark"] &
    color: dark-color-header
  float: left
  font-size: 12px
  &:before
    content: icon-comment
    font-family: fa-icon-solid
    padding-right: 5px
  .hide
    display: none

.article-category
  position: absolute
  top: -8px
  right: 0
  line-height: 2em
  margin-left: 8px
  border: none
  &:hover
    a
      color: color-link
    /[data-theme="dark"] &
      a 
        color: dark-color-link
  .article-category-link
    @extend $block-caption
    color: color-header
    /[data-theme="dark"] &
      color: dark-color-header

.article-header
  padding: article-padding article-padding 0

.article-series
  line-height: line-height
  text-transform: uppercase
  font-size: 1em
  margin-bottom: 5px
  color: color-grey
  /[data-theme="dark"] &
    color: dark-color-grey

.article-title
  text-decoration: none
  font-size: 2em
  font-weight: 600
  letter-spacing: -1px
  line-height: line-height-title
  transition: color 0.2s
  color: color-default
  /[data-theme="dark"] &
    color: dark-color-default
  a&:hover
    color: color-link
    /[data-theme="dark"] &
      color: dark-color-link

.article-subtitle
  font-size: 1.2em
  margin-top: subtitle-margin
  color: color-header

.article-entry
  @extend $base-style
  clearfix()
  color: color-default
  /[data-theme="dark"] &
    color: dark-color-default
  padding: 0 article-padding
  p, table
    line-height: line-height
    margin: line-height 0
  h1, h2, h3, h5
    font-weight: 600
  h4, h6
    font-weight: normal
  h1, h2, h3, h4, h5, h6
    line-height: line-height-title
    margin: line-height-title 0
  a:not(.button):not(.img-link)
    transition: all ease-out .2s 
    color: color-link
    text-decoration: none
    /[data-theme="dark"] &
      color: dark-color-link
      border-bottom: dark-color-link-border 1px solid
    &:hover
      border-bottom: color-link 1px solid
      /[data-theme="dark"] &
        border-bottom: dark-color-link 1px solid
  a.img-link
    img
      transition: all ease-out .3s 
      &:hover
        filter: brightness(90%);
  ul, ol, dl
    margin-top: line-height
    margin-bottom: line-height
    li
      line-height: line-height
      margin-bottom: 6px
  img, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
    /[data-theme="dark"] &:not(.image-compare)
      filter: brightness(85%)
  .image-compare.image-modified
    max-width: none
    height: 100%
  iframe
    border: none
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    font-weight: 600
    padding-bottom: 0.5em
    border-bottom: 3px solid color-border-article
    /[data-theme="dark"] &
      border-bottom: 3px solid dark-color-border-article
  td
    padding: 10px 0
    border-bottom: 1px solid color-border-article
    /[data-theme="dark"] &
      border-bottom: 3px solid dark-color-border-article
  blockquote
    border-left: 4px silver solid 
    padding-left: 10px
    font-family: font-serif
    font-size: 110%
    margin: line-height 0
    text-align: left
    p
      line-height: 1.4em
    footer
      font-size: font-size
      margin: line-height 0
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 0.5em
  .pullquote
    text-align: left
    width: 45%
    margin: 0
    &.left
      margin-left: 0.5em
      margin-right: 1em
    &.right
      margin-right: 0.5em
      margin-left: 1em
  .caption
    color: color-grey
    /[data-theme="dark"] &
      color: dark-color-grey
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center
  // http://webdesignerwall.com/tutorials/css-elastic-videos
  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0

.article-more-link,
.download-link
  margin: 0 !important
  a.button
    display: inline-block
    text-align: center
    font-size: 0.9em;
    position: relative
    text-decoration: none
    padding: 10px 15px
    background-color: color-button
    color: color-button-link
    border-radius: border-radius-small
    /[data-theme="dark"] &
      background-color: dark-color-button
      color: dark-color-button-link
    &:hover    
      background-color: color-link
      color: dark-color-link

.download-link
  margin: 20px 0 !important
  text-align: center
  @media mq-mobile
    a
      strong 
        display: inline-block

.article-related,
.article-comments
  min-height: 286px
  margin-top: line-height
  > h2
    @extend $block-caption  
    color: color-header
    /[data-theme="dark"] &
      color: dark-color-header
    font-size: 1.4em
    line-height: line-height-title
    margin: line-height-title 0


.article-footer
  font-size: 0.85em
  line-height: line-height
  padding-top: line-height
  margin: 0 article-padding 20px

.article-tags,
.article-permalink
  display: block
  a
    text-decoration: none
    color: color-grey
    /[data-theme="dark"] &
      color: dark-color-grey
    &:hover
      color: color-link
      /[data-theme="dark"] &
        color: dark-color-link

.article-permalink
  padding-top: line-height
  margin-top: line-height
  border-top: 1px color-border solid
  /[data-theme="dark"] &
    border-top: 1px dark-color-border solid
  display: flex
  flex-direction: row
  a
    cursor: pointer
  input
    background: transparent
    text-align: right
    margin-right: 10px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    width: calc(100% - 80px)
    flex: 1 1 auto
    border: 0
    outline: 0
    color: color-grey
    :focus outline:none !important
    /[data-theme="dark"] &
      color: dark-color-grey
  .article-action
    width: 24px
    height: 24px
    flex: 0 0 auto
    padding-left: 10px
    &:before
      font-family: fa-icon-solid
      font-size: 20px
  #action-copy
    &:before
      content: icon-copy
  #action-share
    &:before
      content: icon-share

.article-tag-list
  overflow: auto
  .article-tag-list-item
    float: right
    margin-left: 10px
    .article-tag-list-link
      &:before
        content: "#"

#article-nav
  clearfix()
  position: relative
  @media mq-normal
    margin: block-margin 0
    &:before
      absolute-center(8px)
      content: ""
      border-radius: 50%
      background: color-grey
      // box-shadow: 0 1px 2px #fff

.article-nav-link-wrap
  text-decoration: none
  color: color-grey
  box-sizing: border-box
  margin-top: block-margin
  text-align: center
  display: block
  &:hover
    color: color-default
  @media mq-normal
    width: 50%
    margin-top: 0

#article-nav-newer
  @media mq-normal
    float: left
    text-align: right
    padding-right: 20px

#article-nav-older
  @media mq-normal
    float: right
    text-align: left
    padding-left: 20px

.article-nav-caption
  text-transform: uppercase
  letter-spacing: 2px
  color: color-grey
  line-height: 1em
  font-weight: 600
  #article-nav-newer &
    margin-right: -2px

.article-nav-title
  font-size: 0.85em
  line-height: line-height
  margin-top: 0.5em

.article-gallery
  background: color-default
  /[data-theme="dark"] &
    background: dark-color-default
  position: relative

.article-gallery-photos
  position: relative
  overflow: hidden

.article-gallery-img
  display: none
  max-width: 100%
  &:first-child
    display: block
  &.loaded
    position: absolute
    display: block
  img
    display: block
    max-width: 100%
    margin: 0 auto

.utterances
  margin: 0
  max-width: 100%