.article
  margin: var(--space-block) 0
  position: relative

.article-meta
  //clearfix()...
  &:before, &:after
    content: "";
    display: table
  &:after
    clear: both
  position: relative
  z-index: 99
  font-size: var(--font-size-medium)

.article-date
  color: var(--color-meta)
  float: left
  margin-bottom: var(--space-small)
  margin-right: var(--space-default)
  letter-spacing: 0
  time.updated
    display: block
    line-height: var(--line-height-tiny)
    color: var(--color-text)
    &:before
      content: "Update, "

.article.note
  &:not(:first-child)
    margin-top: var(--space-double)
  &.h-entry
    margin-top: calc(var(--space-double) + var(--space-medium))
  .article-header
    padding-top: var(--space-double)
  .article-meta
    time
      top: calc(var(--space-medium) * -1)
      left: var(--space-medium)
      position: absolute
      z-index: 99
      padding: var(--space-thin) var(--space-median)
      font-size: var(--font-size-small)
      font-weight: var(--font-weight-bold)
      border-radius: var(--border-radius-small)
      text-transform: uppercase
      color: var(--color-logo)
      background-color: var(--color-accent)
    small
      display: none
  &.rel
    .article-header
      padding-top: var(--space-large)
    .article-meta
      small
        font-size: var(--font-size-small)
        display: block
        position: absolute
        padding-top: var(--space-thin)
        padding-bottom: var(--space-thin)
        padding-right: var(--space-small)
        --padding-small: 8.5rem
        padding-left: var(--padding-small)
        width: calc(100% - calc(var(--padding-small) + var(--space-small)))
        border-radius: 0 var(--border-radius-normal) 0 0
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        background-color: var(--color-background)
        span
          padding-right: 3px
          opacity: 0.5
        a
          text-decoration: none
  img
    max-width: 240px
    @media mq-normal
      max-width: 360px
    @media mq-tablet
      max-width: 320px
  span.caption
    display: none

.index-list
  margin-top: var(--space-double)
  .article.note
    margin-top: calc(var(--space-double) + var(--space-medium))
    margin-left: var(--space-default)
    &:first-of-type
      margin-top: calc(var(--space-double) + var(--space-default))
    @media mq-mobile
      margin-left: var(--space-default)
    .article-meta
      time
        left: calc(var(--space-default) * -1)
        @media mq-mobile
          left: -1.5rem
      small
        font-size: var(--font-size-small)
        --padding-small: 6rem
        padding-left: var(--padding-small)
        width: calc(100% - calc(var(--padding-small) + var(--space-small)))
        // @media mq-mobile
        //   padding-left: 6rem
        //   width: calc(100% - 6.5rem)

.note-list
  .article.note
    margin-left: var(--space-block)
    &:first-of-type
      margin-top: var(--space-medium)
    @media mq-mobile
      margin-left: var(--space-default)
      margin-bottom: var(--space-double)
    &:not(:last-child)::before
      content: ""
      display: block
      position: absolute
      height: calc(100% + var(--space-double))
      left: calc(var(--space-default) * -1)
      @media mq-mobile
        height: calc(100% + var(--space-double))
        left: calc((var(--space-default) * -1) + var(--space-small))
      top: 0
      border-color: var(--color-accent)
      border-width: 1px
      border-style: solid
    .article-meta
      font-size: var(--font-size-small)
      time
        left: -2.75rem
        @media mq-mobile
          left: -1.5rem
      small
        --padding-small: 5rem
        padding-left: var(--padding-small)
        width: calc(100% - calc(var(--padding-small) + var(--space-small)))
        @media mq-mobile
          --padding-small: 6rem
    .article-header a, .article-footer, .article-entry
      transition: all ease-out .3s
    .article-footer, .article-entry
      animation: slideUp ease 0.6s
      padding-top: 0

.note-list.condensed
  .article.note
    margin-bottom: var(--space-default)
    &:not(:first-child)
      margin-top: var(--space-block)
    &:not(:last-child)::before
      height: calc(100% + var(--space-double))
    .article-entry, .article-footer
      height: 0
      padding: 0
      margin: 0
      overflow: hidden
      animation: slideDown ease 0.3s
    .article-header
      padding: var(--space-extra) var(--space-medium) var(--space-median) var(--space-medium)
      a
        font-size: var(--font-subtitle-size)
        font-weight: var(--font-weight-bold)
        line-height: var(--line-height-normal)
    &.rel
      .article-header
        padding: var(--space-block) var(--space-medium) var(--space-small) var(--space-medium)

.article-inner
  margin-bottom: var(--space-default)
  small.top-info,
  small.top-exclamation
    display: block
    padding: var(--space-small) var(--space-median)
    font-size: var(--font-size-small)
    span
      display: block
      margin-left: var(--space-default)
      line-height: var(--line-height-small)
      opacity: 0.5
    &:before
      content: ""
      width: 20px
      height: 20px
      display: block
      position: absolute
      mask-repeat: no-repeat
      mask-size: 16px
      mask-position: 0 2px

  small.top-info
    background-color: var(--box-note2)
    &:before
      mask-image: url(/images/icons/circle-info.svg)
      background-color: var(--color-accent-text)
  small.top-exclamation
    background-color: var(--box-exclamation2)
    &:before
      mask-image: url(/images/icons/circle-exclamation.svg)
      background-color: var(--box-exclamation)
  details.bandcamp
    --bc-margin: 0.5rem
    --bc-padding: 1.5rem
    width: calc(100% - calc(var(--bc-margin) * 2))
    margin-block: var(--bc-margin) 0
    margin-inline: var(--bc-margin)
    display: grid
    justify-items: end
    cursor: pointer
    &::marker
      display:none
      content: ""
    summary
      list-style: none
      padding: 0
      em
        display: inline-block
        margin-right: calc(var(--bc-padding) / 2)
        font-variant: all-small-caps
        color: var(--color-meta)
        transition: all ease-out 0.2s
      svg
        width: var(--bc-padding)
        height: var(--bc-padding)
        float: right
        transition: all ease-out 0.2s
    &:hover, &[open]
      summary
        font-weight: inherit
    &[open]
      summary
        em
          opacity: 0.333
          font-style: normal
      svg
        transform: rotate(-20deg)
    @media mq-mobile-up
      iframe
        min-width: 400px

.article-photo
  height: 150px
  @media mq-tablet
    height: 175px
  @media mq-normal-range
    height: 200px
  @media mq-large
    height: 250px
  width: 100%
  object-fit: cover

.article-category
  position: absolute
  right: 0
  bottom: 0
  margin-bottom: var(--space-small)
  margin-left: var(--space-small)
  border: none
  &:hover
    a
      color: var(--color-accent-text)
  .article-category-link
    color: var(--color-meta)

.article-header
  padding: var(--space-normal) var(--space-normal) 0

.article-anything
  text-transform: uppercase
  text-decoration: none
  display: inline-block
  font-size: var(--font-size-medium)
  margin-bottom: var(--space-small)
  margin-right: var(--space-small)
  color: var(--color-meta)
  &:hover
    color: var(--color-accent-text)

.article-title
  position: relative
  z-index: 0
  display: table
  text-decoration: none
  font-weight: var(--font-weight-bold)
  letter-spacing: -1px
  font-size: var(--font-title-size)
  line-height: var(--line-height-title)
  transition: color 0.4s
  color: var(--color-text)
  em
    opacity: 0.6
  strong
    opacity: 0.2
  a&:hover
    color: var(--color-accent-text)
    em, strong
      opacity: 1
  // https://css-tricks.com/adam-argyles-sick-mouse-out-css-hover-effect/
  a&:before
    position: absolute
    z-index: -1
    display: table-cell
    margin: -3px -9px
    background: var(--color-block)
    content: ""
    border-radius: var(--border-radius-normal)
    inset: 0
    transform: scaleX(0)
    transform-origin: right
    transition: transform 0.4s ease-in-out
  a&:hover
    &:before
      transform: scaleX(1)
      transform-origin: left

.article-subtitle
  font-size: var(--font-subtitle-size)
  line-height: var(--line-height-normal)
  margin-top: var(--space-default)

.article-entry
  // clearfix()
  color: var(--color-text)
  padding: 0 var(--space-normal)
  p, table
    margin: var(--space-default) 0
    line-height: var(--line-height-text)
  h1, h2, h3, h5
    font-weight: var(--font-weight-bold)
  h4, h6
    font-weight: var(--font-weight-normal)
  h1, h2, h3, h4, h5, h6
    line-height: var(--line-height-title)
    margin: var(--space-default) 0 var(--space-moderate)
  hr + h1, hr + h2, hr + h3
    margin: var(--space-median) 0 var(--space-moderate)
  a:not([class]), a.u-in-reply-to
    white-space: pre-line
    word-break: break-word
    text-decoration-line: underline
  ul, ol, dl
    margin-block: var(--space-default)
    li
      margin-bottom: var(--space-small)
  label.moreinfo
    display: block
    margin-top: var(--space-default)
    font-style: italic
    ~ ul
      margin-top: var(--space-small)
  img, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
    /[data-theme="dark"] &:not(.image-compare)
      filter: brightness(85%)
  pre + div
    margin-top: var(--space-normal)
  .discovery
    @media mq-mobile-up
      p
        img
          max-width: 400px
  .image-compare.image-modified
    max-width: none
    height: 100%
  .image-masonry
    img
      border-radius: var(--border-radius-small)
  .float-matchgrid
    display: grid
    float: right
    margin: var(--space-default) 0 var(--space-default) var(--space-default)
    grid-template-columns: 1fr max-content 1fr
    img
      width: clamp(64px,8vw,100px)
    span
      padding: var(--space-medium)
      @media mq-mobile
        padding: var(--space-small)
      font-weight: var(--font-weight-extrabold)
      font-size: clamp(1.75rem, 6vw, 2.5rem)
      align-self: center
  h2 + small.link
    display: block
    margin: calc(var(--space-medium) * -1) 0 var(--space-normal) 0
  iframe
    border: none
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    font-weight: var(--font-weight-bold)
    padding-bottom: var(--space-small)
    border-bottom: 3px solid var(--color-border-dim)
  td
    border-bottom: 1px solid var(--color-border-dim)
  details
    margin-top: calc(var(--space-thin) / 2)
    &:hover summary
      font-weight: var(--font-weight-bold)
    &[open]
      margin-bottom: var(--space-default)
      summary
        font-weight: var(--font-weight-bold)
    summary
      cursor: pointer
      padding: var(--space-thin) 0
      ~ ul
        margin-top: var(--space-small)
    blockquote
      margin-top: var(--space-small)
      margin-left: var(--space-default)
      & +
        cite
          margin-left: var(--space-default)
  details.github-readme
    margin: 0 -30px
    padding: 10px 25px
    border-left: 6px #000 solid
    &[open]
      background-color: var(--color-border)
      summary
        background-color: var(--color-border)
    summary
      padding: 10px
      margin: -10px 0 -10px -10px
    pre
      margin: 0 -25px
      background-color: var(--color-block)
  blockquote //like alertbox
    position: relative
    padding: 1px var(--space-normal)
    margin: var(--space-default) 0 0
    text-align: left
    font-style: italic
    background-color: rgba(205,205,205,0.2)
    border-left: 4px rgba(205,205,205,0.75) solid
    &:before
      position: absolute
      width: 41px
      height: 41px
      top: -13px
      left: -22px
      display: block
      border-radius: 50%
      content: ""
      background: var(--color-block)
    &:after
      display: block
      position: absolute
      top: -2px
      left: -12px
      display: inline-block
      content: ""
      background-repeat: no-repeat
      background-position: 0 0
      background-size: 24px
      width: 24px
      height: 24px
      //see /images/icons/quote.svg + fill rgb-color
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' viewBox='0 0 24 24' fill='rgba(205,205,205,0.75)'%3E%3Cpath d='M20.309 17.708C22.196 15.66 22.006 13.03 22 13V5a1 1 0 0 0-1-1h-6c-1.103 0-2 .897-2 2v7a1 1 0 0 0 1 1h3.078a2.89 2.89 0 0 1-.429 1.396c-.508.801-1.465 1.348-2.846 1.624l-.803.16V20h1c2.783 0 4.906-.771 6.309-2.292zm-11.007 0C11.19 15.66 10.999 13.03 10.993 13V5a1 1 0 0 0-1-1h-6c-1.103 0-2 .897-2 2v7a1 1 0 0 0 1 1h3.078a2.89 2.89 0 0 1-.429 1.396c-.508.801-1.465 1.348-2.846 1.624l-.803.16V20h1c2.783 0 4.906-.771 6.309-2.292z'/%3E%3C/svg%3E")
    & +
      cite
        display: block
        margin: 0
        padding: 0 var(--space-median) var(--space-median) var(--space-normal)
        background-color: rgba(205,205,205,0.2)
        border-left: 4px rgba(205,205,205,0.75) solid
        a
          color: rgb(200,200,200) !important
          border: none !important
          text-decoration: none !important
          &:hover
            color: var(--color-accent) !important
            border: none !important
    ol, ul
      margin-top: 0
      margin-bottom: 0
    p
      line-height: var(--line-height-text)
      margin: var(--space-medium) 0
    footer
      font-size: var(--font-size-normal)
      margin: var(--space-default) 0
      font-family: var(--font-sans)
      cite
        &:before
          content: "—"
          padding: 0 var(--space-small)
  .pullquote
    text-align: left
    width: 45%
    margin: 0
    &.left
      margin-left: var(--space-small)
      margin-right: var(--space-medium)
    &.right
      margin-right: var(--space-small)
      margin-left: var(--space-medium)
  .caption
    color: var(--color-meta)
    display: block
    font-size: var(--font-size-tiny)
    font-style: italic
    opacity: 0.6
    margin-top: var(--space-small)
    position: relative
    text-align: center
  // http://webdesignerwall.com/tutorials/css-elastic-videos
  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    margin-bottom: var(--space-small)
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0
  .photo-list
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 2rem
    margin-block-start: var(--space-extra)
    margin-block-end: var(--space-medium)
    figure
      img
        border-radius: var(--border-radius-normal)
        box-shadow: 1px 1px 12px 0px #888 !important
        /[data-theme="dark"] &
          box-shadow: 1px 1px 12px 0px #000 !important
        @media mq-mobile-up
          max-width: 640px
          max-height: 640px
      figcaption
        text-align: center
        padding-block-start: var(--space-small)
        font-size: var(--font-size-small)
        font-style: italic
        color: var(--color-meta)

.article-more-link,
.download-link
  margin-block-end: var(--space-small) !important

.article-more-link
  position: relative
  font-size: var(--font-size-small)
  text-transform: uppercase
  a
    padding-left: 14px
  &:before
    display: block
    position: absolute
    left: -6px
    top: -2px
    width: 18px
    height: 18px
    content: ""
    mask-image: url(/images/icons/chevron-right.svg)
    mask-repeat: no-repeat
    mask-size: 18px
    mask-position: 0 4px
    background-color: var(--color-accent-text)

.button:not(.posts)
  display: inline-block
  text-align: center
  font-size: var(--font-size-normal)
  position: relative
  text-decoration: none
  padding: var(--space-median) var(--space-medium)
  background-color: var(--color-button-back)
  color: var(--color-button-text)
  border: none
  border-radius: var(--border-radius-small)
  &:hover
    background-color: var(--color-accent-text)
    color: var(--color-logo)

.download-link
  margin: var(--space-default) 0 !important
  text-align: center
  @media mq-mobile
    a
      strong
        display: inline-block

.article-share
  margin-top: calc(var(--space-default) * -1)
  min-height: auto
  border-top: none
  display: flex
  flex-direction: row-reverse
  button.share
    align-content: right
    text-decoration: none
    padding: var(--space-small) var(--space-medium) var(--space-thin)
    border: none
    border-bottom-left-radius: var(--border-radius-normal)
    border-bottom-right-radius: var(--border-radius-normal)
    transition: all ease-out .2s
    z-index: 1
    color: var(--color-accent-text)
    background-color: var(--color-block)
    box-shadow: inset 0 20px 20px -20px var(--color-shadow)
    &:focus
      outline: none
    &:hover
      color: var(--color-block)
      background-color: var(--color-accent-text)
      box-shadow: inset 0 20px 20px -20px var(--color-shadow-dark)

.article-webmention,
.article-syndication,
.article-interactions,
.article-related
  min-height: 86px
  padding-bottom: var(--space-normal)
  border-bottom-style: solid
  border-bottom-width: 1px
  border-bottom-color: var(--color-block)
  > h2
    color: var(--color-meta)
    font-size: var(--font-subtitle-size)
    line-height: var(--line-height-normal)
    margin: var(--space-default) 0
  p
    opacity: var(--opacity-text)
    margin-block: var(--space-medium)
    font-size: var(--font-size-medium)
    &:first-child
      margin-block-start: 0
    &:last-child
      margin-block-start: var(--space-default)
      margin-block-end: calc(var(--space-default) * -1)

.article-syndication
  .syndication-wrapper
    display: flex
    flex-wrap: wrap
    a.syndication-link /* on extension see config.syndication_hosts */
      padding: 0.3rem 1.25rem 0.3rem 1.5rem
      overflow-wrap: break-word
      background-size: 20px 20px
      background-repeat: no-repeat
      background-position: 1rem 0.5rem
      color: var(--color-link)
      &.host-github
        color: #000 /* fix because of invert filter */
        text-decoration-color: #000
        background-image: var(--brand-github)
        background-size: 16px
        background-position: 0 8px
        /[data-theme="dark"] &
          filter: invert(1)
      &.host-500px
        color: #000 /* fix because of invert filter */
        text-decoration-color: #000
        background-image: var(--brand-500px)
        background-size: 16px
        background-position: 0 8px
        /[data-theme="dark"] &
          filter: invert(1)
      &.host-flickr
        color: var(--color-flickr)
        text-decoration-color: var(--color-flickr)
        background-image: var(--brand-flickr)
        background-size: 20px
        background-position: 0 7px
        span
          padding-left: 4px
      &.host-pixelfed
        color: var(--color-pixelfed)
        text-decoration-color: var(--color-pixelfed)
        background-image: var(--brand-pixelfed)
        background-size: 16px
        background-position: 0 8px
        /[data-theme="dark"] &
          background-image: var(--brand-pixelfed-invert)
      &.host-unsplash
        color: #000 /* fix because of invert filter */
        text-decoration-color: #000
        background-image: var(--brand-unsplash)
        background-size: 16px
        background-position: 0 8px
        /[data-theme="dark"] &
          filter: invert(1)
      &.host-mastodon
        color: var(--color-mastodon)
        text-decoration-color: var(--color-mastodon)
        background-image: var(--brand-mastodon)
        background-size: 16px
        background-position: 0 9px
      &.host-indienews
        color: var(--color-indieweb)
        text-decoration-color: var(--color-indieweb)
        background-image: var(--brand-indieweb)
        background-size: 20px
        background-position: 0 7px
        span
          padding-left: 3px
      &.host-devto
        color: #000 /* fix because of invert filter */
        text-decoration-color: #000
        background-image: var(--brand-devto)
        background-size: 16px
        background-position: 0 8px
        span
          padding-left: 1px
        /[data-theme="dark"] &
          filter: invert(1)
      &.host-lemmy
        color: var(--color-lemmy)
        text-decoration-color: var(--color-lemmy)
        background-image: var(--brand-lemmy)
        background-size: 22px
        background-position: 0 6px
        span
          padding-left: 5px
      &.host-vernissage
        color: #000 /* fix because of invert filter */
        text-decoration-color: #000
        background-image: var(--brand-vernissage)
        background-size: 22px
        background-position: 0 7px
        span
          padding-left: 2px
        /[data-theme="dark"] &
          filter: invert(1)
      &.host-peertube
        color: var(--color-peertube)
        text-decoration-color: var(--color-peertube)
        background-image: var(--brand-peertube)
        background-size: 12px
        background-position: 3px 9px
        span
          padding-left: 0

.article-webmention
  min-height: auto
  border-top: none
  position: relative
  margin-top: var(--space-default)
  &:before
    display: block
    position: absolute
    left: -15px
    top: -15px
    content: ""
    background-image: url(/images/icons/feather.svg)
    background-repeat: no-repeat
    background-position: 0 0
    background-size: 100px
    width: 100px
    height: 100px
    z-index: -1
    transform: rotate(344deg)
    filter: invert(1)
    /[data-theme="dark"] &
      filter: invert(0.075)
  .alertbox
    margin-bottom: 0

.article-related
  margin-bottom: calc(var(--space-medium) * -1)
  padding-bottom: var(--space-default)
  > h2
    margin-bottom: var(--space-small)

.article-footer,
.section-footer
  font-size: var(--font-size-small)
  margin: var(--space-default) var(--space-normal)
  display: grid
  gap: 0 0
  grid-template-columns: auto 1fr
  grid-template-rows: auto 1fr auto
  grid-template-areas: "tags tags" "syndication permalink" "golem golem"
  @media mq-mobile
    margin: var(--space-medium) var(--space-default)
    grid-template-columns: auto 1fr
    grid-template-rows: auto auto auto
    grid-template-areas: "tags" "syndication permalink" "golem"

.article-tags { grid-area: tags }
.article-permalink { grid-area: permalink }
.article-golem { grid-area: golem }

.article-tags,
.article-permalink,
.article-golem
  a, span
    text-decoration: none
    color: var(--color-meta)
  a:hover
    color: var(--color-accent-text)

.article-tags,
.article-permalink
  opacity: 0.5
  transition: all ease-out .4s
.article-footer:hover
  .article-tags,
  .article-permalink
    opacity: 1

.article-permalink
  padding-top: var(--space-medium)
  margin-top: var(--space-medium)
  border-top: 1px var(--color-border) solid
  @media mq-mobile
    padding-top: var(--space-median)
    margin-top: var(--space-median)

.article-permalink
  display: flex
  flex-direction: row
  font-size: var(--font-size-small)
  padding-left: var(--space-double)
  @media mq-mobile
    padding-left: var(--space-normal)
  a
    cursor: pointer
  input
    font-size: var(--font-size-small)
    font-family: var(--font-sans)
    background: transparent
    text-align: right
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    flex: 1 1 auto
    border: 0
    outline: 0
    color: var(--color-meta)
    &:focus 
      outline:none !important
    
  .article-action
    width: 24px
    height: 24px
    flex: 0 0 auto
    padding-left: 12px
    &:before
      display: inline-block
      content: ""
      background-repeat: no-repeat
      background-size: 24px
      width: 24px
      height: 24px
      filter: invert(.4)
      /[data-theme="dark"] &
        filter: invert(.5)
  .action-copy
    &:before
      background-image: url(/images/icons/copy.svg)
  .action-share
    &:before
      background-image: url(/images/icons/share.svg)

.article-golem
  padding-block: var(--space-default)
  padding-left: 140px
  padding-right: var(--space-normal)
  margin-top: var(--space-default)
  margin-bottom: calc(var(--space-default) * -1)
  margin-left: calc(var(--space-normal) * -1)
  margin-right: calc(var(--space-normal) * -1)
  background-repeat: no-repeat
  background-position: var(--space-default) var(--space-default)
  background-color: var(--color-background)
  background-image: url("/images/golem-light-100.png")
  /[data-theme="dark"] &
    background-image: url("/images/golem-dark-100.png")

.article-tag-list
  overflow: auto
  margin: 0
  .article-tag-list-item
    float: right
    margin: 0 var(--space-thin)
    .article-tag-list-link
      &:before
        content: "#"

#article-nav
  //clearfix()...
  &:before, &:after
    content: "";
    display: table
  &:after
    clear: both
  position: relative
  @media mq-normal
    margin: var(--space-block) 0
    &:before
      position: absolute
      top: 50%
      left: 50%
      width: 8px
      height: 8px
      margin-top: -4px
      margin-left: -4px

      content: ""
      border-radius: 50%
      background: var(--color-meta)

.article-nav-link-wrap
  box-sizing: border-box
  margin-top: var(--space-block)
  text-align: center
  display: block
  color: var(--color-accent-text)
  text-decoration: none
  @media mq-normal
    width: 50%
    margin-top: 0

#article-nav-newer
  @media mq-normal
    float: left
    text-align: right
    padding-right: var(--space-normal)

#article-nav-older
  @media mq-normal
    float: right
    text-align: left
    padding-left: var(--space-normal)

.article-nav-caption
  text-transform: uppercase
  letter-spacing: 2px
  color: var(--color-meta)
  font-weight: var(--font-weight-bold)
  #article-nav-newer &
    margin-right: -2px

.article-nav-title
  font-size: var(--font-size-medium)
  margin-top: var(--space-small)
  text-decoration: none
  &:hover
    text-decoration: underline
    text-decoration-style: solid

.article-gallery
  background: var(--color-text) //TODO: use bg color
  position: relative

.article-gallery-photos
  position: relative
  overflow: hidden

.article-gallery-img
  display: none
  max-width: 100%
  &:first-child
    display: block
  &.loaded
    position: absolute
    display: block
  img
    display: block
    max-width: 100%
    margin: 0 auto

.webmention-form
  display: grid
  column-gap: var(--space-medium)
  row-gap: 0
  align-items: center
  grid-template: "info info" "source submit"
  grid-template-columns: 1fr max-content
  grid-template-rows: auto auto
  @media mq-mobile
    grid-template: "info" "source" "submit"
    grid-template-columns: 1fr
  p
    grid-area: info
  input
    font-size: var(--font-size-small)
    padding: var(--space-thin) var(--space-median)
    border-radius: var(--border-radius-small)
  label
    grid-area: label
    opacity: 0.75
  input
    font-family: inherit
    border: none
    &:focus
      outline: none
  input[type=url]
    grid-area: source
    background-color: var(--color-block)
    color: var(--color-text)
  input[type=submit]
    grid-area: submit
    cursor: pointer
    transition: all ease-out .2s
    color: var(--color-accent-text)
    background-color: var(--color-button-back-accent)
    border-color: var(--color-button-back-accent)
    &:hover
      color: var(--color-block)
      background-color: var(--color-accent-text)
      border-color: var(--color-accent-text)

.interactions-totalnumber
  display: block
  line-height: var(--line-height-normal)
  margin-block-start: var(--space-default)
  padding: var(--space-thin) var(--space-median)
  background-color: var(--color-back-dim)
  border-radius: var(--border-radius-normal)
  font-size: var(--font-size-medium)
  text-decoration: none
  .delta
    display: block
    float: right
    font-weight: var(--font-weight-bolder)

.article-interactions
  padding-block-end: var(--space-medium)

  .message
    font-style: italic
    margin-block: var(--space-default)

  .interactions-summary-line
    margin-block-start: 0
    line-height: var(--line-height-small)

  .interactions-summary-line,
  .interactions-summary-line > a
    font-size: var(--font-size-small)

  .interactions-avatars, 
  .interactions-list
    position: relative
    padding-block-end: var(--space-default)
    h3
      font-size: var(--font-size-medium)
      font-weight: var(--font-weight-normal)
      opacity: var(--opacity-text)

  .interactions-avatars
    --avatar-size: 36px
    --avatar-border: 3px
    --avatar-gap: var(--space-small)
    --icon-size: 12px
    width: 99%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    gap: 0 var(--avatar-gap)
    h3
      padding-block-start: calc(var(--avatar-gap) / 2)
      padding-inline-end: calc(var(--avatar-gap) * 4)
    .avatar
      position: relative
      height: calc(var(--avatar-border) + var(--avatar-size) + var(--avatar-border))
      img
        width: var(--avatar-size)
        height: var(--avatar-size)
        max-width: var(--avatar-size)
        max-height: var(--avatar-size)
        border-radius: 50%
      &:after
        content: ""
        position: absolute
        right: calc(var(--space-thin) * -1)
        bottom: var(--space-thin)
        display: block
        width: var(--icon-size)
        height: var(--icon-size)
        border-radius: 50%
        border-width: var(--avatar-border)
        border-style: solid
        border-color: var(--color-background)
        background-color: var(--color-background)
        background-repeat: no-repeat no-repeat
        background-position: center center
        background-size: cover

  .interactions-list
    --avatar-size: 42px
    --avatar-border: 12px
    --avatar-gap: var(--space-small)
    --icon-size: 14px
    display: grid
    grid-row-gap: var(--space-medium)
    .interaction-group
      padding-left: var(--space-moderate)
      &:before
        content: ""
        display: block
        position: absolute
        left: calc(var(--space-thin) * -1)
        background-image: url(/images/icons/feather.svg)
        background-repeat: no-repeat
        background-position: 3px 3px
        background-size: 16px
        width: 24px
        height: 24px
        transform: rotate(2804deg)
        filter: invert(color-opacity)
    .interaction
      padding-inline-start: calc(var(--avatar-size) + calc(var(--avatar-border) * 2))
      padding-inline-end: var(--space-medium)
      padding-block: var(--avatar-border)
      position: relative
      background-color: var(--color-block)
      color: var(--color-text)
      border-radius: var(--border-radius-normal)
      font-style: normal
      font-size: var(--font-size-medium)
      line-height: var(--line-height-small)
      overflow: hidden
      a
        word-wrap: break-word
        &:after, &:before
          font-weight: 300
          color: initial
          cursor: initial
      .avatar
        display: block
        position: absolute
        top: calc(-1 * var(--avatar-border))
        left: calc(-1 * var(--avatar-border))
        right: unset
        img
          width: var(--avatar-size)
          height: var(--avatar-size)
          max-width: var(--avatar-size)
          max-height: var(--avatar-size)
          border-radius: 50%
          border-width: var(--avatar-border)
          border-style: solid
          border-color: var(--color-background)
      &.isown
        padding-inline-end: calc(var(--avatar-size) + calc(var(--avatar-border) * 2))
        padding-inline-start: 1rem
        .avatar
          left: unset
          right: calc(-1 * var(--avatar-border))
      .meta
        display: block
        opacity: 0.9
        .author, .origin
          font-weight: 400
        .author
          position: relative
          padding-left: calc(var(--icon-size) + 8px)
          &:before
            content: ""
            position: absolute
            top: 2px
            display: block
            width: var(--icon-size)
            height: var(--icon-size)
            background-repeat: no-repeat no-repeat
            background-position: center center
            background-size: cover
          img.emoji
            position: relative
            top: 2px
            width: var(--icon-size)
            padding-inline: 1px
      .content
        margin-block-start: calc(var(--avatar-border) / 3 * 2)
        padding-block-start: calc(var(--avatar-border) / 3 * 2)
        border-block-start: solid
        border-width: 1px
        border-image-slice: 1
        border-image-source: linear-gradient(to right, var(--color-block), var(--color-border), var(--color-block))
        p
          margin: 0
          opacity: 0.9
        p + p
          margin-block: var(--space-small)
        a
          opacity: 0.75
        & *
          overflow: hidden

  .interaction.origin-webmention .author:before,
  .avatar.origin-webmention:after
    background-image: url(/images/icons/web.svg)
    /[data-theme="dark"] &
      filter: invert(1)
  .interaction.origin-mastodon .author:before,
  .avatar.origin-mastodon:after
    background-image: var(--brand-mastodon)
  .interaction.origin-bluesky .author:before,
  .avatar.origin-bluesky:after
    background-image: var(--brand-bluesky)
  .interaction.origin-flickr .author:before,
  .avatar.origin-flickr:after
    background-image: var(--brand-flickr)
  .interaction.origin-github .author:before,
  .avatar.origin-github:after
    background-image: var(--brand-github)
  .interaction.origin-reddit .author:before,
  .avatar.origin-reddit:after
    background-image: var(--brand-reddit)
  .interaction.origin-facebook .author:before,
  .avatar.origin-facebook:after
    background-image: var(--brand-facebook)
  .interaction.origin-devto .author:before,
  .avatar.origin-devto:after
    background-image: var(--brand-devto)
    /[data-theme="dark"] &
      filter: invert(1)
  .interaction.origin-pixelfed .author:before,
  .avatar.origin-pixelfed:after
    background-image: var(--brand-pixelfed)
    /[data-theme="dark"] &
      background-image: var(--brand-pixelfed-invert)
  .interaction.origin-lemmy .author:before,
  .avatar.origin-lemmy:after
    background-image: var(--brand-lemmy)
    /[data-theme="dark"] &
      filter: invert(1)
  .interaction.origin-lemmy
    --icon-size: 17px
  .interaction.origin-vernissage .author:before,
  .avatar.origin-vernissage:after
    background-image: var(--brand-vernissage)
    /[data-theme="dark"] &
      background-image: var(--brand-vernissage-invert)
  .interaction.origin-peertube .author:before,
  .avatar.origin-peertube:after
    background-image: var(--brand-peertube)
    /[data-theme="dark"] &
      background-image: var(--brand-peertube)
