#comments
  background: var(--color-block)
  box-shadow: 1px 2px 3px var(--color-shadow)
  padding: default-padding
  border: 1px solid var(--color-border)
  border-radius: border-radius
  margin: block-margin 0
  a
    color: var(--color-accent-text)