#comments
  background: color-block
  box-shadow: 1px 2px 3px color-border
  padding: default-padding
  border: 1px solid color-border
  border-radius: border-radius
  margin: block-margin 0
  /[data-theme="dark"] &
    background: dark-color-block
    box-shadow: 1px 2px 3px dark-color-border
    border: 1px solid dark-color-border
  a
    color: var(--color-accent-text)