#footer
  background: color-default
  /[data-theme="dark"] &
    background: dark-color-border
  padding: 25px 0
  color: color-footer-text
  a
    color: color-footer-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer .outer
  padding-right: 75px;

#footer .inner
  position: relative

#footer-info
  line-height: line-height
  font-size: 0.85em

#footer-theme
  position: absolute
  top: 0
  right: 0

input#theme-switch[type=checkbox] {
  display:none;
}
 
input#theme-switch[type=checkbox] + label
  height: 16px
  width: 16px
  display: inline-block
  padding: 12px
  font-size: 22px
  cursor: pointer
  &:before    
    display: inline-block
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    font-family: fa-icon-solid
    content: icon-moon

input#theme-switch[type=checkbox]:checked + label
  &:before
    content: icon-sun
