#footer
  background: color-base
  /[data-theme="dark"] &
    background: dark-color-base
  padding: 15px 0 15px
  color: color-footer-text
  border-radius: 0;
  a
    color: color-footer-link
    text-decoration: none
    &:hover
      text-decoration: underline
      &:before
        text-decoration: none

// #footer .outer
//   padding-right: 50px

#footer .inner
  position: relative
  line-height: line-height
  font-size: 0.85em
  display: grid
  grid-template-columns: max-content auto max-content
  grid-template-rows: max-content max-content 12px max-content max-content
  grid-gap: 2px 64px
  grid-template-areas: "info webring ." "links . ." ". . ." "perf . ." "dots . ."
  @media mq-tablet-min
    grid-template-columns: 16px max-content 
    grid-template-rows: max-content max-content max-content 12px max-content 
    grid-gap: 2px 5px
    grid-template-areas: "dots info" "dots links" "dots perf" "dots ." "dots webring"

  .dot-space
    display: inline-block
    margin: 0 3px
    color: color-highlight
    /[data-theme="dark"] &
      color: dark-color-highlight

  .dot-space:last-child
    display: none

  #footer-info
    grid-area: info

  #footer-links
    grid-area: links

  #footer-perf
    grid-area: perf

  #footer-dots
    grid-area: dots
    @media mq-tablet-min
      margin-left: -16px 
    li
      display: block
      height: 24px
      margin-right: 10px
      @media mq-tablet-min
        height: auto
        margin-right: 10px
      float: left
    li.dot
      a
        display: block
        margin: 0
        @media mq-tablet-min
          margin: 0 10px 
        height: 9px
        width: 9px
        background-color: color-footer-dots
        border-radius: 50%
        display: inline-block

  #webring
    grid-area: webring
    align-self: start
    display: flex
    a.webring-link
      &:hover
        text-decoration: none
        color: color-highlight
        /[data-theme="dark"] &
          color: dark-color-highlight
      &:before
        display: inline-block
        width: 16px
        height: 16px
        content: ""
        filter: invert(1)
        background-size: 16px
        background-repeat: no-repeat
        background-position: 0 4px
      &.webring-prev
        padding-right: small-padding
        &:before
          background-image: url(/images/icons/chevron-left-double.svg)
      &.webring-next
        padding-left: small-padding
        &:before
          background-image: url(/images/icons/chevron-right-double.svg)

#back-to-top 
  color: color-logo
  background-color: color-base
  /[data-theme="dark"] &
    color: dark-color-logo
    background: dark-color-base
  border-radius: border-radius-small

#back-to-top
  right: 10px
  bottom: 10px
  svg 
    height: 20px    
    width: 20px 
    margin: 6px auto 0   

