#footer
  background: color-base
  /[data-theme="dark"] &
    background: dark-color-base
  padding: 15px 0 15px
  color: color-footer-text
  border-radius: 0;
  a
    color: color-footer-link
    text-decoration: none
    &:hover
      text-decoration: underline
      &:before
        text-decoration: none

#footer .inner
  position: relative
  width: 95%
  line-height: line-height
  font-size: 0.85em
  display: grid
  grid-template-columns: max-content auto max-content
  grid-template-rows: max-content (line-height) max-content max-content max-content
  grid-gap: 2px 64px
  grid-template-areas: "links . webrings" ". . webrings" "perf . webrings" "info . webrings" "dots . webrings"
  @media mq-tablet-min
    grid-template-columns: 16px max-content 
    grid-template-rows: max-content (line-height/2) max-content max-content (line-height/2) max-content max-content 
    grid-gap: 2px 5px
    grid-template-areas: "dots links" "dots ." "dots perf" "dots info" "dots ." "dots webrings" "dots webrings"

  .webrings
    grid-area: webrings
    .webring
      align-self: start
      display: flex
      flex-direction: row
      justify-content: space-around
      margin-inline-start: -4px
      a.webring-url
        min-width: 120px
        text-align: left
      a.webring-link
        &[href*='#']
          visibility: hidden
        &:hover
          text-decoration: none
          transition: all ease-out 0.2s
          color: color-highlight
          /[data-theme="dark"] &
            color: dark-color-highlight
          &:before
            opacity: 1
        &:before
          display: inline-block
          width: 20px
          height: 16px
          content: ""
          opacity: color-footer-opacity
          transition: all ease-out 0.2s
          filter: invert(1)
          background-size: 20px
          background-repeat: no-repeat
          background-position: 0 1px
        &.webring-prev
          padding-right: (2 * small-padding)
          &:before
            background-image: url(/images/icons/arrow-notch-left.svg)
        &.webring-next, &.webring-random
          padding-left: (2 * small-padding)
        &.webring-next
          &:before
            background-image: url(/images/icons/arrow-notch-right.svg)
        &.webring-random
          &:before
            background-image: url(/images/icons/shuffle.svg)

  .dot-space
    display: inline-block
    margin: 0 3px
    color: color-highlight
    /[data-theme="dark"] &
      color: dark-color-highlight

  .dot-space:last-child
    display: none

  #footer-info
    grid-area: info

  #footer-links
    grid-area: links

  #footer-perf
    grid-area: perf

  #footer-dots
    grid-area: dots
    @media mq-tablet-min
      margin-left: -16px 
    li
      display: block
      height: 24px
      margin-right: 10px
      @media mq-tablet-min
        height: auto
        margin-right: 10px
      float: left
    li.dot
      a
        display: block
        margin: 0
        @media mq-tablet-min
          margin: 0 10px 
        height: 9px
        width: 9px
        background-color: color-footer-dots
        border-radius: 50%
        display: inline-block

#back-to-top 
  color: color-logo
  background-color: color-base
  /[data-theme="dark"] &
    color: dark-color-logo
    background: dark-color-base
  border-radius: border-radius-small

#back-to-top
  right: 10px
  bottom: 10px
  svg 
    height: 20px    
    width: 20px 
    margin: 6px auto 0   

