#header
  width: 100%
  height: banner-height
  @media mq-tablet
    height: banner-height-tablet
  @media mq-mobile
    height: banner-height-mobile
  position: fixed
  z-index: 1001
  overflow: hidden
  filter: grayscale(0)
  transition: filter 2.5s ease, background-color 0.25s ease
  &.gray
    filter: grayscale(1)
  background-color: color-base
  border-radius: 0 0 1px 1px //??? 0 leads to inset shadow on mobile ?
  /[data-theme="dark"] &
    border-bottom-color: dark-color-border
    background-color: dark-color-base
  &:before, &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    height: 40px

#content
  padding-top: banner-height
  @media mq-tablet
    padding-top: banner-height-tablet
  @media mq-mobile
    padding-top: banner-height-mobile

#header-outer
  position: relative
  z-index: 99

#header-photo,
#header-photo-link  
  display: none
 
header.photograph #header-photo-link
  position: absolute
  display: block
  top: 4px
  right: 100%
  padding: 8px
  white-space: nowrap
  font-size: font-size-small
  text-decoration: none
  z-index: 99
  transition: all 0.2s ease-out
  transform: rotate(270deg)
  transform-origin: right top
  color: rgba(255, 255, 255, 0.6)
  &:hover
    color: rgba(255, 255, 255, 1)

  strong 
    font-weight: font-weight-bold

#header-inner
  position: relative
  width: auto
  margin: auto
  float: right

#banner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-image: url("/images/banner.jpg")
  background-position: center
  background-color: #000
  background-size: contain
  z-index: -1
  /[data-theme="dark"] &:before
    position: absolute
    background: rgba(0,0,0, .25)
    content: ""
    width: 100%
    height: 100%

#header-nav-start,
#header-nav-end
  position: absolute
  z-index: 1
  bottom: 0    
  height: 42px
  width: 20px
  opacity: 0
  transition: opacity 0.2s ease-out
  &.show
    opacity: 1
  color: rgba(0,0,0,0.4) //box-shadow defaults to this
#header-nav-start
  left: 0
  box-shadow: inset 20px 0 15px -15px
#header-nav-end
  right: 0
  box-shadow: inset -20px 0 15px -15px

#header-nav
  position: absolute
  bottom: 0
  width: 100%
  height: auto  
  backdrop-filter: blur(5px) brightness(90%)
  @supports not (backdrop-filter: none)
    background: rgba(0,0,0,0.25)
  box-sizing: content-box
  overflow-x: scroll
  overflow-y: hidden
  -webkit-overflow-scrolling: touch
  &::-webkit-scrollbar
    display: none
  @supports not (webkit-scrollbar)  
    scrollbar-width: none
  .menu
    display: flex
    list-style: none
    margin: 0
    padding: 0
    width: 100%
    .menu-item
      flex-basis: 40px
      flex-shrink: 0
      flex-grow: 0
      max-width: 100px
      margin: auto 10px
      a
        color: color-logo
        font-family: 'Open Sans'
        font-size: 16px
        font-weight: 600
        text-decoration: none
        text-align: center
        display: block
        width: 100%
        padding: 10px 0
        text-transform: uppercase
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
      &:last-child
        a
          padding-right: 15px

.menu-item-icon
  margin: auto 0 !important
  a
    &:before
      font-family: fa-icons
      font-size: icon-home-size
      font-weight: font-weight-normal
      width: icon-home-size
      height: icon-home-size
    span 
      display: none
  &:first-child
    margin-left: 5px !important

.menu-item-icon#nav-home-link
  a
    &:before
      content: icon-home
      font-size: 22px
      position: absolute
      top: 10px
      left: 16px

.menu-item-icon#nav-search-link
  a
    &:before
      content: icon-search
      font-size: 18px

#header-title
  text-align: center
  position: absolute
  top: 30px
  left: 0
  width: calc(100% - 60px)
  margin: 0 30px

body.article-view #progress
  position: absolute
  width: 100%
  height: 4px
  bottom: 0
  transform-origin: 0 50%
  transform: scaleX(0)
  background-color: color-highlight
  /[data-theme="dark"] &
    background-color: dark-color-highlight

$logo-text
  text-decoration: none
  color: color-logo
  font-weight: font-weight-normal

#title-wrap
  font-family: 'Open Sans'
  font-size: title-size
  line-height: 60px
  @media mq-mobile
    font-size: title-size-mobile
    line-height: title-size-mobile

  .typing-placeholder
    border: 0
    margin: -1px
    overflow: hidden
    padding: 0
    width: 0

#subtitle
  @extend $logo-text
  letter-spacing: 0.7px
  font-size: subtitle-size
  line-height: subtitle-size
  margin-top: (subtitle-size / 3) * 2
  @media mq-mobile
    font-size: subtitle-size-mobile
    line-height: subtitle-size-mobile
    margin-top: (subtitle-size-mobile / 2)

#sub-socialmediaimage-link
  background: transparent !important
  width: 20px
  height: 20px
  margin: 20px auto

#logo
  @extend $logo-text
  font-family: font-sans
  font-variant: small-caps
  font-weight: 600
  letter-spacing: 0
  display: inline-block

#sub-nav
  float: right
  margin-right: -20px

$sub-nav-link
  float: left
  color: color-logo
  opacity: 0.6
  text-decoration: none
  transition: opacity 0.2s ease-out
  display: block
  padding: 20px 15px
  &:hover
    opacity: 1

.sub-nav-icon
  @extend $sub-nav-link
  font-family: fa-icons
  text-align: center
  font-size: icon-size
  width: 16px
  height: 16px
  padding: 16px 12px
  position: relative
  cursor: pointer

#sub-nav-theme
  position: relative
  display: inline
  // padding: 20px 0
  input#theme-switch[type=checkbox]
      display:none
    input#theme-switch[type=checkbox] + label
      color: color-logo
      opacity: 0.4
      height: 32px
      width: 32px
      display: inline-block
      margin: 12px
      font-size: 22px
      cursor: pointer
      transition: opacity 0.3s ease-out
      &:hover
        opacity: 1
      &:before    
        display: inline-block
        margin: 2px 6px 6px 8px
        font-size: inherit
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        font-family: fa-icons
        content: icon-moon
    input#theme-switch[type=checkbox]:checked + label
      font-size: 20px
      &:before
        content: icon-sun
        margin-left: 6px
