#header
  width: 100%
  height: banner-height
  position: fixed
  z-index: 999
  overflow: hidden;
  border-bottom: 1px solid color-border
  background-color: color-default
  /[data-theme="dark"] &
    border-bottom-color: dark-color-border
    background-color: dark-color-border
  &:before, &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    height: 40px
  &:before
    top: 0
    background: linear-gradient(rgba(0, 0, 0, 0.2), transparent)
    /[data-theme="dark"] &
      background: linear-gradient(rgba(0, 0, 0, 0.4), transparent)
  &:after
    bottom: 0
    height: 24px
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2))
    /[data-theme="dark"] &
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.5))

#content
  padding-top: banner-height

#header-outer
  height: 100%
  position: relative

#header-photo-link
  position: absolute
  bottom: 8px
  right: 12px
  color: #fff
  font-size: 80%
  text-decoration: none
  z-index: 99
  opacity: 0.8
  &:hover
    opacity: 1
  strong 
    font-weight: 600;

#header-inner
  position: relative
  overflow: hidden

#banner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-image: url(banner-url)
  background-position: center
  background-color: #000
  background-size: contain
  filter: brightness(1)
  z-index: -1
  /[data-theme="dark"] &
    filter: brightness(0.75)

#header-title
  text-align: center
  height: title-size
  position: absolute
  top: 30px
  left: 0
  // z-index: 999 ... TODO: either logo or icons not clickable

$logo-text
  text-decoration: none
  color: #fff
  font-weight: 300

#title-wrap
  font-size: title-size
  line-height: title-size

#subtitle
  @extend $logo-text
  font-size: subtitle-size
  line-height: subtitle-size
  margin-top: (subtitle-size / 3) * 2
  letter-spacing: 1px

#logo
  @extend $logo-text
  font-family: "Open Sans", sans-serif
  font-variant: small-caps
  font-weight: 800
  letter-spacing: 2px
  display: inline-block

#main-nav
  float: left
  margin-left: -15px

$nav-link
  float: left
  color: #fff
  opacity: 0.6
  text-decoration: none
  transition: opacity 0.2s
  display: block
  padding: 20px 15px
  &:hover
    opacity: 1

.nav-icon
  @extend $nav-link
  font-family: fa-icon-solid
  text-align: center
  font-size: icon-size
  width: icon-size
  height: icon-size
  padding: 20px 15px
  position: relative
  cursor: pointer

.main-nav-link
  @extend $nav-link
  font-weight: 300
  letter-spacing: 1px
  @media mq-mobile
    display: none

#main-nav-toggle
  display: none
  &:before
    content: icon-bars
  @media mq-mobile
    display: block

#sub-nav
  float: right
  margin-right: -15px

#nav-home-link.main-nav-link
  &:before
    font-family: fa-icon-solid
    font-size: icon-home-size
    width: icon-home-size
    height: icon-home-size
    content: icon-arrow-left

#nav-home-link
  &:before
    content: icon-home

#nav-archives-link
  &:before
    content: icon-box

#nav-rss-link
  &:before
    content: icon-rss

#nav-search-btn
  &:before
    content: icon-search

#search-form-wrap
  position: absolute
  top: 15px
  width: 150px
  height: 30px
  right: -150px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
    right: 0
  @media mq-mobile
    width: 100%
    right: -100%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px fa-icon-solid
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777