#header
  width: 100%
  height: banner-height
  @media mq-mobile
    height: banner-height-mobile
  position: fixed
  z-index: 999
  overflow: hidden;
  background-color: color-base
  border-radius: 0 0 1px 1px //??? 0 leads to inset shadow on mobile ?
  /[data-theme="dark"] &
    border-bottom-color: dark-color-border
    background-color: dark-color-base
  &:before, &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    height: 40px
  &:before
    top: 0
    background: linear-gradient(rgba(0, 0, 0, 0.2), transparent)
    /[data-theme="dark"] &
      background: linear-gradient(rgba(0, 0, 0, 0.4), transparent)
  
#content
  padding-top: banner-height
  @media mq-mobile
    padding-top: banner-height-mobile

#header-outer
  position: relative
  z-index: 99

#header-photo,
#header-photo-expand,
#header-photo-link  
  display: none

header.photograph #header-photo-expand,
header.photograph #header-photo-link  
  position: absolute
  display: block
  color: rgba(255, 255, 255, 0.6)
  transition: all 0.2s ease-out
  &:hover
    color: rgba(255, 255, 255, 1)

header.photograph #header-photo-expand
  top: 0
  width: 16px
  height: 16px
  padding: 10px
  font-family: fa-icon-solid
  z-index: 100
  &:before
    content: "\f065"

header.photograph #header-photo-link
  top: 32px
  right: 100%
  padding: 7px
  white-space: nowrap
  font-size: 90%
  text-decoration: none
  z-index: 99
  transform: rotate(270deg)
  transform-origin: right top
  strong 
    font-weight: 600

#header-inner
  position: relative
  // overflow: hidden
  width: auto
  margin: auto
  float: right

#banner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-image: url(banner-url)
  background-position: center
  background-color: #000
  background-size: contain
  z-index: -1
  /[data-theme="dark"] &:before
    position: absolute
    background: rgba(0,0,0, .25)
    content: ""
    width: 100%
    height: 100%

#header-nav-start,
#header-nav-end
  position: absolute
  z-index: 1
  bottom: 0    
  height: 42px
  width: 20px
  opacity: 0
  transition: opacity 0.2s ease-out
  &.show
    opacity: 1
#header-nav-start
  left: 0
  box-shadow: inset 20px 0 15px -15px rgba(0,0,0,0.33)
#header-nav-end
  right: 0
  box-shadow: inset -20px 0 15px -15px rgba(0,0,0,0.33)

#header-nav
  position: absolute
  bottom: 0
  width: 100%
  height: auto  
  backdrop-filter: blur(5px) brightness(90%)
  @supports not (backdrop-filter: none)
    background: rgba(0,0,0,0.25)
  box-sizing: content-box
  overflow-x: scroll
  overflow-y: hidden
  -webkit-overflow-scrolling: touch
  &::-webkit-scrollbar
    display: none
  @supports not (webkit-scrollbar)  
    scrollbar-width: none
  .menu
    display: flex
    list-style: none
    margin: 0
    padding: 0
    width: 100%
    .menu-item
      flex-basis: 40px
      flex-shrink: 0
      flex-grow: 0
      max-width: 100px
      margin: auto 10px
      a
        color: #ffffff
        font-weight: 600
        text-decoration: none
        text-align: center
        display: block
        width: 100%
        padding: 10px 0
        font-size: 1rem
        text-transform: uppercase
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
      // &:last-child
      //   padding-right: 5px

#nav-home-link,
#nav-rss-link
  margin: 0 !important
  a
    &:before
      font-family: fa-icon-solid
      font-size: icon-home-size
      width: icon-home-size
      height: icon-home-size
    span 
      display: none

#nav-home-link
  a
    &:before
      content: icon-arrow-left

#nav-rss-link
  a
    &:before
      content: icon-rss

#nav-til-link 
  .sub-nav-link
    span
      &:before
        content: "#"

#header-title
  text-align: center
  height: title-size
  position: absolute
  top: 30px
  left: 0
  width: calc(100% - 60px)
  margin: 0 30px

$logo-text
  text-decoration: none
  color: color-logo
  font-weight: 400

#title-wrap
  font-size: title-size
  line-height: title-size
  .typing-placeholder
    border: 0
    margin: -1px
    overflow: hidden
    padding: 0
    width: 0

#subtitle
  @extend $logo-text
  font-size: subtitle-size
  line-height: subtitle-size
  margin-top: (subtitle-size / 3) * 2
  letter-spacing: 0.7px

#logo
  @extend $logo-text
  font-family: font-sans
  font-variant: small-caps
  font-weight: 600
  letter-spacing: 0
  display: inline-block

#sub-nav
  float: right
  margin-right: -20px

$sub-nav-link
  float: left
  color: #fff
  opacity: 0.6
  text-decoration: none
  transition: opacity 0.2s ease-out
  display: block
  padding: 20px 15px
  &:hover
    opacity: 1

.sub-nav-icon
  @extend $sub-nav-link
  font-family: fa-icon-solid
  text-align: center
  font-size: icon-size
  width: 16px
  height: 16px
  padding: 16px 12px
  position: relative
  cursor: pointer

#sub-nav-theme
  position: relative
  display: inline
  // padding: 20px 0
  input#theme-switch[type=checkbox]
      display:none
    input#theme-switch[type=checkbox] + label
      color: #fff
      opacity: 0.6
      height: 16px
      width: 16px
      display: inline-block
      padding: 14px 16px 12px 8px
      font-size: 18px
      cursor: pointer
      &:before    
        display: inline-block
        font-size: inherit
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        font-family: fa-icon-solid
        content: icon-moon
    input#theme-switch[type=checkbox]:checked + label
      &:before
        content: icon-sun

#sub-nav-search
  &:before
    content: icon-search

#search-form-wrap
  position: absolute
  top: 12px
  width: 150px
  height: 30px
  right: -150px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
    right: -8px
  @media mq-mobile
    width: 100px
    right: -1000%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
  border-radius: border-radius-small

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px fa-icon-solid
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777