// https://github.com/chriskempson/tomorrow-theme
highlight-background = rgba(230,230,230,.6)
highlight-foreground = #4d4d4c
highlight-line-numbers = #666
highlight-current-line = #333
highlight-selection = #515151
highlight-comment = #8e908c
highlight-red = #c50000 
highlight-orange = #f5871f 
highlight-yellow = #eab700 
highlight-green = #718c00 
highlight-aqua = #3e999f 
highlight-blue = #4271ae 
highlight-purple = #8959a8

dark-highlight-background = rgba(10,10,10,.4)
dark-highlight-foreground = #f1f1f1
dark-highlight-line-numbers = #888
dark-highlight-current-line = #999
dark-highlight-selection = #ccc
dark-highlight-comment = #bbb
dark-highlight-red = #e06669 
dark-highlight-orange = #da9554 
dark-highlight-yellow = #e6c446 
dark-highlight-green = #9dc107 
dark-highlight-aqua = #5aa9ae 
dark-highlight-blue = #6d95c9 
dark-highlight-purple = #ae70d5

$code-block
  margin: var(--space-small) calc(var(--space-normal) * -1)  
  padding: var(--space-medium) var(--space-normal)
  overflow: auto  
  font-size: var(--font-size-code)
  line-height: var(--line-height-normal)

// $dark-code-block
//   background: dark-highlight-background
//   color: dark-highlight-foreground

$line-numbers
  font-size: var(--font-size-small)

.article-entry,
.page-content
  pre, code
    font-family: var(--font-mono)    
  code
    line-break: anywhere
    font-size: var(--font-size-code)
    padding: 0 var(--space-thin)
  a
    code
      &:hover
        border-color: inherit 
        color: inherit
  p, li
    code
      white-space: nowrap
      border-radius: var(--border-radius-normal)
      background-color: var(--color-background)
  pre
    @extend $code-block
    // overflow-y: hidden
    background: highlight-background
    color: highlight-foreground
    /[data-theme="dark"] &
      background: dark-highlight-background
      color: dark-highlight-foreground
    .caption
      text-align: left
      margin-block-start: 0
      margin-block-end: var(--space-small)
      font-style: normal
      text-transform: lowercase
    code
      background: none
      text-shadow: none
      padding: 0
  .highlight
    @extend $code-block
    pre
      background: none
      border: none
      margin: 0
      padding: 0
    table
      margin: 0
      width: auto
    td
      border: none
      padding: 0
    figcaption
      clearfix()
      font-size: 1em
      color: highlight-comment
      line-height: var(--line-height-thin)
      margin-bottom: 1em
      a
        float: right
    .gutter pre
      @extend $line-numbers
      color: highlight-line-numbers
      /[data-theme="dark"] &
        color: dark-highlight-line-numbers
      text-align: right
      padding-right: var(--space-moderate)
    .line
      height: line-height /* ??? font-size * line-height */      
    .line.marked
      background: highlight-selection
  .gist
    margin: 0 calc(var(--space-normal) * -1)
    border-style: solid
    border-color: var(--color-border)
    border-width: 1px 0
    background: highlight-background
    padding: var(--space-medium) var(--space-normal) var(--space-medium) 0
    .gist-file
      border: none
      font-family: var(--font-mono)
      margin: 0
      .gist-data
        background: none
        border: none
        .line-numbers
          @extend $line-numbers
          background: none
          border: none
          padding: 0 20px 0 0
        .line-data
          padding: 0 !important
      .highlight
        margin: 0
        padding: 0
        border: none
      .gist-meta
        background: highlight-background
        color: highlight-comment
        font: var(--font-size-small) var(--font-sans)
        text-shadow: 0 0
        padding: 0
        margin-top: 1em
        margin-left: var(--space-normal)
        a
          color: var(--color-link)
          font-weight: 400
          &:hover
            text-decoration: underline

pre
  .comment
  .title
    color: highlight-comment
    /[data-theme="dark"] &
      color: dark-highlight-comment
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color: highlight-red
    /[data-theme="dark"] &
      color: dark-highlight-red
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color: highlight-orange
    /[data-theme="dark"] &
      color: dark-highlight-orange
  .class
  .ruby .class .title
  .css .rules .attribute
    color: highlight-green
    /[data-theme="dark"] &
      color: dark-highlight-green
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color: highlight-blue
    /[data-theme="dark"] &
      color: dark-highlight-blue
  .css .hexcolor
    color: highlight-aqua
    /[data-theme="dark"] &
      color: dark-highlight-aqua
  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: highlight-blue
    /[data-theme="dark"] &
      color: dark-highlight-blue
  .keyword
  .javascript .function
    color: highlight-purple
    /[data-theme="dark"] &
      color: dark-highlight-purple