@media mq-mobile
  #header-title
    height: title-size-mobile
  
  #title-wrap
    font-size: title-size-mobile
    line-height: title-size-mobile

  #subtitle
    font-size: subtitle-size-mobile
    line-height: subtitle-size-mobile
    margin-top: (subtitle-size-mobile / 2)

@media mq-mobile

  .sub-nav-link
    display: none