@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: color-block
    /[data-theme="dark"] &
      background: dark-color-block
    &:before
      position: absolute
      top: 0
      right: 0
      width: 20px
      height: 100%
      content: ''
      box-shadow: inset -12px 0px 14px -18px rgba(0,0,0,1)

  #mobile-nav-header
    padding: 10px 25px 20px 25px
    background-color: color-background
    /[data-theme="dark"] &
      background-color: dark-color-background
    img.avatar
      width: 64px
      height: 64px
      position: absolute
      top: 15px;
      right: 20px
      /[data-theme="dark"] &
        filter: brightness(85%)
    h1
      font-family: font-sans
      font-variant: small-caps
      font-weight: 800
      font-size: 42px
      line-height: 42px
      letter-spacing: 2px
    p
      color: color-grey
      /[data-theme="dark"] &
        color: dark-color-grey
      padding-left: 2px
      padding-top: 4px
      span
        text-transform: uppercase

  #mobile-nav-menu
    padding: 20px 25px 0 25px
    .mobile-nav-link
      display: block
      color: color-foreground
      /[data-theme="dark"] &
        color: dark-color-foreground !important
      text-decoration: none
      padding: 10px 0
      font-weight: bold
      &:hover
        color: #fff
      &:before
        font-family: fa-icon-solid
        font-size: icon-mobile-size
        width: icon-mobile-size
        height: icon-mobile-size
        margin-right: 12px;

  #mobile-nav-recent-posts
    margin-top: 20px
    padding: 10px 25px 20px 25px
    color: color-header
    /[data-theme="dark"] &
      color: dark-color-header
    h3
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 1em;
      line-height: 1em;
      font-weight: bold;
    a
      display: inline-block
      margin-bottom: 10px
      color: color-widget-link
      /[data-theme="dark"] &
        color: dark-color-widget-link !important
      text-decoration: none

@media mq-mobile

  .sub-nav-link
    display: none