.panels
  clearfix()
  column-gap: 0
  margin: -(medium-margin)
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.panel
  avoid-column-break()
  padding: default-padding 0
  margin: -(default-padding) medium-margin
  &:first-child
    margin-top: 0

.panel-inner
  @extend $block-inner
  padding: 10px
  overflow: hidden  
  transition: all ease-out 0.3s
  &:hover
    transform: scale(1) translateY(-1px)
    box-shadow: box-shadow color-border-3d
    /[data-theme="dark"] &
      box-shadow: dark-box-shadow dark-color-base

.panel-favicon
  display: block
  margin-top: 10px
  img
    width: 32px
    height: 32px

.panel-photo
  @extend $inview-image
  height: 150px
  width: calc(100% + 20px)
  margin: -10px 0 10px -10px
  object-fit: cover

.panel-photo.in-view
  @extend $inview-image-visible

.panel-content
  padding: 0 (default-padding / 4) (default-padding-vert / 2)
  p
    margin-bottom: 0 !important
  p.small
    font-size: 0.8rem
    line-height: 1.1rem
  small.label
    display: block
    margin-bottom: 0.25rem
    opacity: .5
    line-height: 1rem
    span
      text-wrap: nowrap
  div.icon-links
    margin: 1rem 0 1.25rem
    a
      text-decoration: none
      padding-right: 0.5rem
      opacity: 0.4
      color: color-button-link
      /[data-theme="dark"] &
        color: dark-color-button-link
      &:hover
        opacity: 1
      &:before
        font-family: fa-icons
    a.fa-mastodon
      &:hover
        color: color-mastodon
      &:before
        content: icon-mastodon
    a.fa-rss
      &:hover
        color: color-rss
      &:before
        content: icon-rss

.panel-date,
.panel-category
  font-size: font-size-small
  margin-bottom: medium-margin
  display: inline-block

.panel-category
  float: right

.panel-date
  time.updated
    color: color-foreground
    /[data-theme="dark"] &
      color: dark-color-foreground
    &:before
      content: "Update, "

.panel-anything
  display: block
  text-decoration: none
  line-height: line-height
  text-transform: uppercase
  font-size: font-size-small
  color: color-grey
  /[data-theme="dark"] &
    color: dark-color-grey
  &:hover
    color: var(--color-link)
    /[data-theme="dark"] &
      color: var(--dark-color-link)

.panel-title
  position relative
  z-index: 0
  display: inline-block
  margin-top: small-margin
  margin-bottom: small-margin
  text-decoration: none
  line-height: line-height-text
  font-size: font-titlelist-size
  font-weight: font-weight-bold
  color: color-default
  /[data-theme="dark"] &
    color: dark-color-default
  transition: color 0.2s
  &:hover
    color: var(--color-link)
    /[data-theme="dark"] &
      color: var(--dark-color-link)
    &:before
      transform: scaleX(1)
      transform-origin: left
  &:before
    position: absolute
    z-index: -1
    margin: -0.25rem -0.5rem
    background: color-hover-background
    /[data-theme="dark"] &
      background: dark-color-hover-background
    content: ""
    border-radius: border-radius
    inset: 0
    transform: scaleX(0)
    transform-origin: right
    transition: transform 0.4s ease-in-out

.panel-subtitle
  margin-top: small-margin
  color: color-grey
  /[data-theme="dark"] &
    color: dark-color-grey

.panel-footer
  font-size: font-size-small

.panel-tags
  opacity: 0.5
  transition: all ease-out 0.4s
  li
    float: right
  &:hover
    opacity: 1

.panel-date,
.panel-category a,
.panel-tags a
  text-decoration: none
  color: color-header
  /[data-theme="dark"] &
    color: dark-color-header
  &:hover
    color: var(--color-link)
    /[data-theme="dark"] &
      color: var(--dark-color-link)
