if sidebar is bottom
  @import "sidebar-bottom"
else
  @import "sidebar-aside"

.widget
  @extend $base-style
  word-wrap: break-word
  ul, ol
    list-style: none
    margin: 0
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal

.widget.about
  padding: 1rem 0
  *:not(i)
    display: block
    margin: 0 auto
  i 
    font-style: normal
  .avatar
    position: relative 
    width: 120px 
    border: 1px transparent solid
    a:not(.fab)
      border-radius: 50%;
      &:hover
        border-color: color-border
        box-shadow: 1px 2px 20px 5px color-border
        /[data-theme="dark"] &
          border-color: dark-color-border
          box-shadow: 1px 2px 20px 5px dark-color-border

      img 
        width: 120px
        border-radius: 50%;
        /[data-theme="dark"] &
          filter: brightness(85%)
    a.fab
      &:hover
        &:before
          opacity: 1
      &:before
        font-family: fa-icons
        position: absolute
        font-size: 17px;
        opacity: 0.42
    a.fa-github
      &:hover  
        color: color-github
        /[data-theme="dark"] &
          color: dark-color-github
      &:before
        content: icon-github
        top: -11px
        right: 2px
    a.fa-xing
      &:hover  
        color: color-xing
      &:before
        content: icon-xing
        top: 8px
        right: -16px
    a.fa-linkedin
      &:hover  
        color: color-linkedin
      &:before
        content: icon-linkedin
        top: 34px
        right: -24px
    a.fa-500px
      &:hover  
        color: color-500px
        /[data-theme="dark"] &
          color: dark-color-500px
      &:before
        content: icon-500px
        top: 63px
        right: -24px
    a.fa-mastodon
      &:hover  
        color: color-mastodon
      &:before
        content: icon-mastodon
        top: 88px
        right: -16px
    a.fa-pixelfed
      &:hover  
        color: color-pixelfed
        /[data-theme="dark"] &
          color: dark-color-pixelfed
      &:before
        content: icon-pixelfed
        top: 110px
        right: 2px

  h3, p
    text-align: center  
  h3 
    margin: block-margin 0 medium-margin
    text-transform: uppercase
    font-weight: font-weight-bolder
    letter-spacing: 0.05rem;
  p
    font-size: font-size-small
    line-height: line-height
    padding: 0 default-padding

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: font-size-small

.tagcloud
  a
    margin-right: 5px
    display: inline-block
