#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: default-margin medium-margin

.widget-title
  @extend $block-caption
  margin: small-margin 0  
  color: color-header
  /[data-theme="dark"] &
    color: dark-color-header

.widget
  color: color-sidebar-text
  background: color-widget-background
  border: 1px solid color-widget-border
  /[data-theme="dark"] &
    color: dark-color-sidebar-text
    background: dark-color-widget-background
    border: 1px solid dark-color-widget-border
  padding: 0 (default-padding / 2)
  a
    color: color-widget-link
    /[data-theme="dark"] &
      color: dark-color-widget-link
    text-decoration: none
    &:hover
      text-decoration: none
  p
    a
      text-decoration: none
      border-bottom: transparent 1px solid
      color: var(--color-link)
      /[data-theme="dark"] &
        color: var(--dark-color-link)
      &:hover
        border-bottom: var(--color-link) 1px solid
        /[data-theme="dark"] &
          border-bottom: var(--dark-color-link) 1px solid

  ul, ol, dl
    ul, ol, dl
      margin-left: 1rem
      list-style: disc
    li
      border-left: 2px color-border solid
      /[data-theme="dark"] &
        border-color: dark-color-border
      margin: small-margin 0 0 -12px
      padding: 0 10px      
      &:hover
        border-left: 4px var(--color-link) solid
        /[data-theme="dark"] &
          border-color: dark-color-border-hover
        margin-left: -13px
        padding-left: 9px
        a 
          color: var(--color-link)
          /[data-theme="dark"] &
            color: var(--dark-color-link)
