#sidebar
  margin-bottom: block-margin
  font-size: font-size-medium
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: medium-margin 0 medium-margin medium-margin
  line-height: line-height-medium

.widget-title
  @extend $block-caption
  margin: 0
  opacity: 0.33

.widget
  color: color-sidebar-text
  background: color-widget-background
  border: 1px solid color-widget-border
  /[data-theme="dark"] &
    color: dark-color-sidebar-text
    background: dark-color-widget-background
    border: 1px solid dark-color-widget-border
  padding-left: (default-padding / 4)
  a
    color: color-widget-link
    /[data-theme="dark"] &
      color: dark-color-widget-link
    text-decoration: none
    &:hover
      text-decoration: none
  p
    a
      text-decoration: none
      border-bottom: transparent 1px solid
      color: var(--color-accent1) !important
      &:hover
        border-bottom: var(--color-accent1) 1px solid

  ul, ol, dl
    ul, ol, dl
      margin-left: 1rem
      list-style: disc
    li
      border-left: 2px color-border solid
      /[data-theme="dark"] &
        border-color: dark-color-border
      margin: (medium-margin / 3 * 2) 0 0 -12px
      padding-left: 10px      
      &:hover
        border-left: 4px var(--color-accent) solid
        /[data-theme="dark"] &
          border-color: dark-color-border-hover
        margin-left: -13px
        padding-left: 9px
        a 
          color: var(--color-accent1)
