#sidebar
  margin-bottom: var(--space-block)
  font-size: var(--font-size-medium)
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: var(--space-medium) 0 var(--space-medium) var(--space-medium)
  line-height: var(--line-height-medium)

.widget-title
  @extend $block-caption
  margin: 0
  opacity: 0.33

.widget
  color: var(--color-text)
  background: transparent
  border: 1px solid transparent
  padding-left: var(--space-small)
  ul, ol, dl
    ul, ol, dl
      margin-left: 1rem
      list-style: disc
    li
      border-left: 2px var(--color-border) solid
      margin: calc(var(--space-medium) / 3 * 2) 0 0 -12px
      padding-left: 10px
      a
        text-decoration: none
      &:hover
        border-left: 4px var(--color-accent) solid
        margin-left: -13px
        padding-left: 9px
        a 
          text-decoration: revert
