if sidebar is bottom
  @import "sidebar-bottom"
else
  @import "sidebar-aside"

.widget
  @extend $base-style
  line-height: line-height
  word-wrap: break-word
  font-size: 1em
  ul, ol
    list-style: none
    margin: 0
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal

.widget.about
  padding: 1em 0
  * 
    display: block
    margin: 0 auto
  .avatar
    position: relative 
    width: 120px 
    img 
      width: 120px
    a.fab
      &:hover
        &:before
          opacity: 1
      &:before
        font-family: fa-icon-brands
        position: absolute
        font-size: 16px;
        opacity: 0.42
    a.fa-github
      &:hover  
        color: #6e5494
      &:before
        content: "\f09b"
        top: -10px
        right: 0px
    a.fa-xing
      &:hover  
        color: #026466
      &:before
        content: "\f168"
        top: 10px
        right: -12px  
    a.fa-linkedin
      &:hover  
        color: #0077b5
      &:before
        content: "\f0e1"
        top: 38px
        right: -23px
    a.fa-500px
      &:hover  
        color: #0099e5
      &:before
        content: "\f26e"
        top: 65px
        right: -20px  
    a.fa-twitter
      &:hover  
        color: #1da1f2
      &:before
        content: "\f099"
        top: 91px
        right: -12px  

  h3, p
    text-align: center  
  h3 
    margin: 15px 0 10px
    text-transform: uppercase
  p
    line-height: 18px
    font-size: 13px
    padding: 0 10%

@media prefers-dark
  .widget.about
    .avatar
      img 
        filter: brightness(85%)

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.tagcloud
  a
    margin-right: 5px
    display: inline-block
