if sidebar is bottom
  @import "sidebar-bottom"
else
  @import "sidebar-aside"

.widget
  @extend $base-style
  word-wrap: break-word
  ul, ol
    list-style: none
    margin: 0
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal

.widget.about
  padding: default-padding 0 (default-padding / 4)
  *:not(i)
    display: block
    margin: 0 auto
  i 
    font-style: normal
  .avatar
    position: relative 
    width: 120px 
    border: 1px transparent solid
    a:not(.profile)
      border-radius: 50%;
      &:hover
        border-color: color-border
        box-shadow: 1px 2px 20px 5px color-border
        /[data-theme="dark"] &
          border-color: dark-color-border
          box-shadow: 1px 2px 20px 5px dark-color-border
      img 
        width: 120px
        border-radius: 50%;
        /[data-theme="dark"] &
          filter: brightness(85%)
    a.profile
      display: inline-block
      width: 20px
      height: 20px
      position: absolute
      filter: grayscale(1)
      /[data-theme="dark"] &
        filter: grayscale(1) invert(1)
      opacity: 0.4
      background-size: 16px
      background-repeat: no-repeat
      background-position: 2px
      &:hover
        filter: grayscale(0)
        opacity: 1 !important
      &.me-github
        background-image: var(--brand-github)
        background-size: 17px
        top: -27px
        right: 48px
        opacity: 0.3
        /[data-theme="dark"] &
          &:hover
            filter: invert(1)
      &.me-devto
        background-image: var(--brand-devto)
        background-size: 15px
        top: -22px
        right: 18px
        opacity: 0.25
        /[data-theme="dark"] &
          &:hover
            filter: invert(1)
      &.me-linkedin
        background-image: var(--brand-linkedin)
        background-size: 15px
        top: -5px
        right: -7px
      &.me-xing
        background-image: url(/images/icons/xing-mono.svg)
        top: 20px
        right: -24px
        opacity: 0.3
        &:hover
          background-image: var(--brand-xing)
      &.me-500px
        background-image: var(--brand-500px)
        top: 52px
        right: -28px
        /[data-theme="dark"] &
          &:hover
            filter: invert(1)
      &.me-flickr
        background-image: var(--brand-flickr)
        top: 81px
        right: -23px
        width: 18px
      &.me-unsplash
        background-image: var(--brand-unsplash)
        background-size: 15px
        top: 102px
        right: -13px
        width: 24px
        opacity: 0.25
        /[data-theme="dark"] &
          &:hover
            filter: invert(1)
      &.me-pixelfed
        background-image: var(--brand-pixelfed)
        top: 120px
        right: 16px
        opacity: 0.5
        /[data-theme="dark"] &
          filter: grayscale(1) invert(0)
          background-image: url(/images/icons/pixelfed_invert.svg)
          &:hover
            filter: grayscale(0)
      &.me-lemmy
        background-image: var(--brand-lemmy)
        background-size: 20px
        top: 127px
        right: 45px
        width: 22px
        opacity: 0.5
        /[data-theme="dark"] &
          filter: grayscale(1) invert(0)
          opacity: 0.3
      &.me-mastodon
        background-image: var(--brand-mastodon)
        top: 124px
        right: 74px
        opacity: 0.5

  h3, p
    text-align: center  
  h3 
    margin: 3.5rem 0 medium-margin
    text-transform: uppercase
    font-family: 'Open Sans'
    font-weight: 700
    letter-spacing: 0.125rem
    word-wrap: normal
  // p
    // font-size: 1rem
    // line-height: line-height

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: font-size-small

.tagcloud
  a
    margin-right: 5px
    display: inline-block
