<%_
  const updated = (item) => {
    let pub = moment(item.date).toISOString();
    let upd = moment(item.updated).toISOString();
    return (pub === upd) ? null : upd;
  }
  const imageSource = (item) => {
    if (item.photograph) {
      if (item.photograph.socialmedia) {
        return config.url + item.photograph.socialmedia
          .replace("/static", "")
          //.replace(".png", ".thumb.png");
      } else {
        return config.url + "/photos/mobile/" + item.photograph.file;
      }
    }
  }
  const slug = (item) => {
    let slugArray = item.slug.split("/");
    let slug = slugArray[slugArray.length - 1];
    return slug;
  }
  const regEx = /<(script|style)[^>]*>(?<content>[^<]*)<\/(script|style)>/gim;
  const content = (item) => {
    let fc = item.excerpt.replace(regEx, "");
    fc = fc + '<p><a href="' + item.permalink + '">Continue reading <strong>`' + item.title + '`</strong> on kiko.io ...</a></p>';
    if (item.photograph) { fc = '<p><img src="' + imageSource(item) + '" /></p>' + fc; }
    return fc;
  }
_%>

<%- JSON.stringify({
  version: 'https://jsonfeed.org/version/1.1',
  title: config.title + " Posts",
  description: config.description,
  home_page_url: config.url,
  feed_url: config.url + "/" + output,
  language: "en-US",
  icon: config.url + "/" + config.feed.logo,
  favicon: config.url + "/" + config.feed.icon,
  authors: [{
    name: config.author,
    url: config.url,
    avatar: config.url + config.avatar
  }],
  items: items.map(item => ({
    id: item.permalink,
    url: item.permalink,
    title: item.title,
    image: imageSource(item),
    date_published: moment(item.date).toISOString(),
    date_modified: updated(item),    
    content_html: content(item) || '',
    tags:  (item.tags ? item.tags.toArray() : []).map(({ name }) => name)
  }))
}, null, 4) _%>
