<figure>
  <a href="/photos/{{key}}" class="no-break">
    <img loading="lazy" src="{{urlNormal}}" style="max-width: 90%;">
  </a>
  <figcaption style="text-align:center; font-size:0.8rem;">{{title}}</figcaption>
</figure>