<div class="photo-list" id="photo-list-{{rnd}}">
  {{#each items}}
  <figure>
    <a href="/photos/{{key}}" class="no-break">
      <img loading="lazy" src="{{url}}">
    </a>
    <figcaption>{{title}}</figcaption>
  </figure>
  {{/each}}
</div>