<h1 class="archive-title"><span style="font-weight:normal;"><%= page.index %> <span style="opacity:0.5">|</span></span>&nbsp;<%= page.key %></h1>
<%- partial('_partial/archive', { pagination: 2, index: true }) %>