<h1 class="archive-title">
    <span style="font-weight: 600;"><%= page.index %></span>
</h1>
<% page.posts.each(function(item){ %>
    <%- partial('_partial/anythingEntry', 
    { item: item, index: page.index }) %>
<% }) %>
