<h1 class="archive-title"><span style="font-weight:normal;">Archives <span style="opacity:0.5">|</span> Category</span>&nbsp;<%= page.category %></h1>
<%- partial('_partial/archive', { pagination: config.category, index: true }) %>