<h1 class="archive-title">
    <span>Archives<b>|</b><em>Category</em></span><%= page.category %>
</h1>
<%- partial('_partial/archive-navigation') %>
<%- partial('_partial/archive', { pagination: config.category, index: true }) %>