<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<h1 class="page-title" data-pagefind-meta="title" data-pagefind-meta="type:Page">
  <%= page.title %>
</h1>

<div class="page-content">
  <%- page.content %>
</div>

<%# 
<script>
  let feeds = document.querySelectorAll(".feed-group a");
  feeds.forEach(eLink => {
    let url = eLink.getAttribute("href");
    let eSize = eLink.querySelector("em");

    fetchSizeFromUrl("%= config.url %" + url, (size) => {
      eSize.textContent = eSize.textContent.replace("...", size);
    });
    
  });
</script>
%>