<!-- TODO: Extract to root INDEX.MD -->
<div id="introduction" class="d<%= new Date().getDay()%>">
  <h1 class="page-title">
    <strong>Welcome</strong> ... I'm Kristof
  </h1>
  <div class="page-content">
    <p>
      For a long time I was a software developer by profession ...
      now I am only an IT manager and tinker around with stuff
      like this blog.
    </p>
    <br>
    <p>
      Developing software never lets you go. It's a creative passion
      and for me it's the web that has fascinated me for almost 30 years.
    </p>
    <br>
    <p>
      My latest stuff is below and here is more <a href="/about">about me</a>. 
      Meet me <a href="https://indieweb.social/@kiko">@kiko@indieweb.social</a>.
    </p>
    <hr>
  </div>
</div>

<%- partial('_partial/archive', {pagination: 2, index: true}) %>
