<div id="introduction">
  <h1 class="page-title" style="
      text-align: center; 
      font-size: 2.4em; 
      margin: 1em auto 0.5em;
      font-weight: 300;
    ">
    <strong style="
      font-weight: 900;
      background: url(/images/banner.jpg) no-repeat 56% 68%;
      -webkit-background-clip: text;
      color: transparent;
    ">Welcome</strong> ... I'm Kristof
  </h1>
  <div class="page-content" style="
      text-align: justify; 
      max-width: 400px; 
      margin: 0 auto;
     ">
    <p>
      For a long time I was a software developer by profession ...
      now I am only an IT manager and tinker around with stuff
      like this blog.
    </p>
    <br>
    <p>
      Developing software never lets you go. It's a creative passion
      and for me it's the web that has fascinated me for almost 30 years.
    </p>
    <br>
    <p>
      My latest stuff is below and here is more <a href="/about">about me</a>.<br>
      Meet me <a href="https://indieweb.social/@kiko">@kiko@indieweb.social</a>.
    </p>
    <hr>
  </div>
</div>

<%- partial('_partial/archive', {pagination: 2, index: true}) %>