<% if (page.photograph){ %>
  <%- partial('_partial/photograph', { page: page }) %>
<% } %>

<% if (page.title === '404') { %>
    <script>
    var root = document.documentElement;
    root.classList.add("gray");
    </script> 
<% } %>

<h1 class="page-title" data-pagefind-meta="title" data-pagefind-meta="type:Page">
  <%= page.title %>
</h1>

<div class="page-content" data-pagefind-body>
    <%- page.content %>
</div>