<% if (page.photograph){ %>
  <%- partial('_partial/photograph', { page: page }) %>
<% } %>

<h1 class="page-title" data-pagefind-meta="title" data-pagefind-meta="type:Page">
  <%= page.title %>
</h1>

<div class="page-content">
    <%- page.content %>
</div>