<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<%- partial('_partial/nav-index-photos', { currentClass: "" }) %>

<h1 class="page-title">
  <small>Photos</small>
  Shed
</h1>

<div class="page-content">
  <%- page.content %>
</div>

<hr class="divider" />

<div class="cardset">
  <div class="cards grid">
    <% for(var i=0; i < page.items.length; i++) { %>
      <%- partial('_partial/photo-item', { item: page.items[i] }) %>
    <% } %>
  </div>
</div>
