<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<%- partial('_partial/nav-index-photos', { currentClass: "" }) %>

<h1 class="archive-title">
  <small>Photos Box</small>
  <%= page.title %>
</h1>

<div class="page-content" style="min-height:1200px;">
  <%#- page.content %>

  <div class="view grid" id="photos">
    <% for(var i=0; i < page.items.length; i++) { %>
      <%- partial('_partial/photo-item', { item: page.items[i] }) %>
    <% } %>
  </div>

</div>
