<div class="Index">
   
   <!--
https://github.com/hexojs/hexo/issues/2806
https://github.com/hexojs/hexo/issues/3354
https://stackoverflow.com/questions/15125920/how-to-get-distinct-values-from-an-array-of-objects-in-javascript
https://stackoverflow.com/questions/1960473/get-all-unique-values-in-a-javascript-array-remove-duplicates
   -->
    <!--%
        onlyUnique = function(posts) {
            var unique = [];
            var distinct = [];
            for( let i = 0; i < posts.length; i++ ){
              if( !unique[posts[i].series]){
                console.log(posts[i].series);

                distinct.push(posts[i].series);
                unique[posts[i].series] = 1;
              }
            }
            return distinct;
        }
    %-->
   
 </div>