
<% if (page.photograph){ %>
  <%- partial('_partial/photograph') %>
<% } %>

<%- partial('_partial/nav-index-stats', { currentClass: "" }) %>

<h1 class="page-title">
  <small>Stats</small>
  Music
</h1>

<div class="page-content">
  <%- page.content %>
  
  <section>
    ...    
  </section>

</div>

<script>
    //
</script>