<div class="widget-wrap">
    <div class="widget about">
        <div class="avatar">
            <a href="/about"><img src="/images/kristof-zerbe.png" alt="Kristof Zerbe"></a>
            <a href="https://github.com/kristofzerbe" target="blank" class="fab fa-github"></a>
            <a href="https://www.xing.com/profile/Kristof_Zerbe" target="blank" class="fab fa-xing"></a>
            <a href="https://www.linkedin.com/in/kristof-zerbe-91012510/" target="blank" class="fab fa-linkedin"></a>      
            <a href="https://500px.com/kikon" target="blank" class="fab fa-500px"></a>
            <a href="https://twitter.com/kristofz" target="blank" class="fab fa-twitter"></a>
        </div>
        <h3>Kristof Zerbe</h3>
        <p>
            Developer and Team Lead located in Wiesbaden, Germany
        </p>
    </div>
</div>