<div class="widget-wrap">
    <div class="widget about h-card"><!--http://microformats.org/wiki/h-card-->
        <div class="avatar">
            <a href="/about"><img class="u-photo" src="<%- config.photo %>" alt="<%- config.author %>"></a>
            <a href="https://github.com/kristofzerbe" target="blank" class="fab fa-github" rel="me"></a>
            <a href="https://www.xing.com/profile/Kristof_Zerbe" target="blank" class="fab fa-xing" rel="me"></a>
            <a href="https://www.linkedin.com/in/kristof-zerbe-91012510/" target="blank" class="fab fa-linkedin" rel="me"></a>      
            <a href="https://500px.com/kikon" target="blank" class="fab fa-500px" rel="me"></a>
            <a href="https://twitter.com/kristofz" target="blank" class="fab fa-twitter" rel="me"></a>
        </div>
        <h3 class="p-name"><%- config.author %></h3>
        <p class="p-note">
            <i class="p-role">Developer and Team Lead</i> located in <i class="p-locality">Wiesbaden</i>, <i class="p-country-name">Germany</i>
        </p>
        <a class="u-url u-uid" href="<%- config.url %>" style="display:none;"></a>
    </div>
</div>