<div class="widget-wrap">
    <h3 class="widget-title"><%= __('about') %></h3>
    <div class="widget about">
        <img src="/images/kristof-zerbe.png">
        <h3>Kristof Zerbe</h3>
        <p>
            Developer and Team Lead located in Wiesbaden, Germany
        </p>
    </div>
</div>